<section id="NED-bp4-4-unset-introduction">
    <img src="template/4/images/background.jpg" class="NED-background" draggable="false"/>

    <div class="NED-header">
        <div id="NED-bp4-4-unset-introduction_headerLine" class="headerLine" data-type="img">
            <img src="template/4/images/line.png" draggable="false"/>
        </div>
        <div id="NED-bp4-4-unset-introduction_headerIcon" class="headerIcon" data-type="img">
            <img src="template/4/images/product-description_tb.png" draggable="false"/>
        </div>
        <div id="NED-bp4-4-unset-introduction_headerText" class="headerText fontH1" data-type="text" data-lang="t3">
            <p>行业痛点</p>
        </div>
    </div>

    <div id="NED-bp4-4-unset-introduction_middleImg" class="middleImg" data-type="img">
        <img src="template/4/images/product-description.jpg" draggable="false"/>
    </div>

    <div id="NED-bp4-4-unset-introduction_introduction" class="introduction fontText" data-type="text" data-field="introduction">請填入產品描述</div>

</section>
