/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-8-unset-item1 .headerImg,
#NED-bp3-8-unset-item2 .headerImg,
#NED-bp3-8-unset-item3 .headerImg,
#NED-bp3-8-unset-item4 .headerImg {
    position: absolute;
    width: 640px;
    height: 59px;
    left: 0;
    top: 44px;
    z-index: 5;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-8-unset-item1 .headerText,
#NED-bp3-8-unset-item2 .headerText,
#NED-bp3-8-unset-item3 .headerText,
#NED-bp3-8-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    text-align: left;
    left: 70px;
    top: 54px;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp3-8-unset-item1 .middleLine {
    position: absolute;
    width: 60px;
    height: 733px;
    left: 150px;
    top: 150px;
    z-index: 3;
}
#NED-bp3-8-unset-item2 .middleLine,
#NED-bp3-8-unset-item3 .middleLine,
#NED-bp3-8-unset-item4 .middleLine {
    position: absolute;
    width: 60px;
    height: 733px;
    left: 291px;
    top: 150px;
    z-index: 3;
}

/** custom center */
#NED-bp3-8-unset-item1 .center,
#NED-bp3-8-unset-item2 .center,
#NED-bp3-8-unset-item3 .center,
#NED-bp3-8-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp3-8-unset-item1 .item1 {
    position: absolute;
    width: 330px;
    height: 170px;
    left: 150px;
    top: 438px;
}
    #NED-bp3-8-unset-item1 .item1 .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        z-index: 5;
    }
    #NED-bp3-8-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 58px;
        top: 10px;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-8-unset-item1 .item1 .text {
        position: absolute;
        width: 265px;
        left: 58px;
        top: 62px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp3-8-unset-item2 .item2 {
    position: absolute;
    width: 330px;
    height: 170px;
}
    #NED-bp3-8-unset-item2 .item2:nth-child(1) {
        left: 291px;
        top: 296px;
    }
    #NED-bp3-8-unset-item2 .item2:nth-child(2) {
        right: 289px;
        top: 580px;
    }
    #NED-bp3-8-unset-item2 .item2 .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp3-8-unset-item2 .item2:nth-child(odd) .icon {
            left: 0;
        }
        #NED-bp3-8-unset-item2 .item2:nth-child(even) .icon {
            right: 0;
        }
    #NED-bp3-8-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 10px;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-8-unset-item2 .item2:nth-child(odd) .title {
            left: 58px;
        }
        #NED-bp3-8-unset-item2 .item2:nth-child(even) .title {
            right: 58px;
            text-align: right;
        }
    #NED-bp3-8-unset-item2 .item2 .text {
        position: absolute;
        width: 265px;
        top: 62px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-8-unset-item2 .item2:nth-child(odd) .text {
            left: 58px;
        }
        #NED-bp3-8-unset-item2 .item2:nth-child(even) .text {
            right: 58px;
            text-align: right;
        }

/**
 * Three list item
 */
#NED-bp3-8-unset-item3 .item3 {
    position: absolute;
    width: 330px;
    height: 170px;
}
    #NED-bp3-8-unset-item3 .item3:nth-child(1) {
        left: 291px;
        top: 222px;
    }
    #NED-bp3-8-unset-item3 .item3:nth-child(2) {
        right: 289px;
        top: 438px;
    }
    #NED-bp3-8-unset-item3 .item3:nth-child(3) {
        left: 291px;
        top: 654px;
    }
    #NED-bp3-8-unset-item3 .item3 .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp3-8-unset-item3 .item3:nth-child(odd) .icon {
            left: 0;
        }
        #NED-bp3-8-unset-item3 .item3:nth-child(even) .icon {
            right: 0;
        }
    #NED-bp3-8-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 10px;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-8-unset-item3 .item3:nth-child(odd) .title {
            left: 58px;
        }
        #NED-bp3-8-unset-item3 .item3:nth-child(even) .title {
            right: 58px;
            text-align: right;
        }
    #NED-bp3-8-unset-item3 .item3 .text {
        position: absolute;
        width: 265px;
        top: 62px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-8-unset-item3 .item3:nth-child(odd) .text {
            left: 58px;
        }
        #NED-bp3-8-unset-item3 .item3:nth-child(even) .text {
            right: 58px;
            text-align: right;
        }

/**
 * Four list item
 */
#NED-bp3-8-unset-item4 .item4 {
    position: absolute;
    width: 330px;
    height: 170px;
}
    #NED-bp3-8-unset-item4 .item4:nth-child(1) {
        left: 291px;
        top: 188px;
    }
    #NED-bp3-8-unset-item4 .item4:nth-child(2) {
        right: 289px;
        top: 356px;
    }
    #NED-bp3-8-unset-item4 .item4:nth-child(3) {
        left: 291px;
        top: 544px;
    }
    #NED-bp3-8-unset-item4 .item4:nth-child(4) {
        right: 289px;
        top: 732px;
    }
    #NED-bp3-8-unset-item4 .item4 .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp3-8-unset-item4 .item4:nth-child(odd) .icon {
            left: 0;
        }
        #NED-bp3-8-unset-item4 .item4:nth-child(even) .icon {
            right: 0;
        }
    #NED-bp3-8-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 10px;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-8-unset-item4 .item4:nth-child(odd) .title {
            left: 58px;
        }
        #NED-bp3-8-unset-item4 .item4:nth-child(even) .title {
            right: 58px;
            text-align: right;
        }
    #NED-bp3-8-unset-item4 .item4 .text {
        position: absolute;
        width: 265px;
        top: 62px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-8-unset-item4 .item4:nth-child(odd) .text {
            left: 58px;
        }
        #NED-bp3-8-unset-item4 .item4:nth-child(even) .text {
            right: 58px;
            text-align: right;
        }
