/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-10-unset-item1 .headerImg,
#NED-bp3-10-unset-item2 .headerImg,
#NED-bp3-10-unset-item3 .headerImg,
#NED-bp3-10-unset-item4 .headerImg {
    position: absolute;
    width: 640px;
    height: 59px;
    left: 0;
    top: 44px;
    z-index: 5;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-10-unset-item1 .headerText,
#NED-bp3-10-unset-item2 .headerText,
#NED-bp3-10-unset-item3 .headerText,
#NED-bp3-10-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    text-align: left;
    left: 70px;
    top: 54px;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/**
 * The custom description area
 */
#NED-bp3-10-unset-item1 .description,
#NED-bp3-10-unset-item2 .description,
#NED-bp3-10-unset-item3 .description,
#NED-bp3-10-unset-item4 .description {
    position: absolute;
    width: 440px;
    top: 238px;
    left: 100px;
    text-align: center;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bolder;
    z-index: 6;
}

/** custom center */
#NED-bp3-10-unset-item1 .center,
#NED-bp3-10-unset-item2 .center,
#NED-bp3-10-unset-item3 .center,
#NED-bp3-10-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/** center circle image */
#NED-bp3-10-unset-item1 .centerImg {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 214px;
    top: 352px;
    z-index: 3;
}
#NED-bp3-10-unset-item2 .centerImg {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 154px;
    top: 352px;
    z-index: 3;
}
#NED-bp3-10-unset-item3 .centerImg {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 154px;
    top: 474px;
    z-index: 3;
}
#NED-bp3-10-unset-item4 .centerImg {
    position: absolute;
    width: 330px;
    height: 330px;
    top: 422px;
    left: 156px;
    z-index: 3;
}

/**
 * One list item
 */
#NED-bp3-10-unset-item1 .item1 {
    position: absolute;
    width: 195px;
    height: 90px;
    left: 90px;
    top: 716px;
}
    #NED-bp3-10-unset-item1 .item1 .thumb {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 112px;
        top: -124px;
        z-index: 5;
    }
    #NED-bp3-10-unset-item1 .item1 .title {
        position: absolute;
        left: 0;
        top: 0;
        color: #FFFFFF;
        z-index: 6;
    }
    #NED-bp3-10-unset-item1 .item1 .text {
        position: absolute;
        left: 0;
        top: 60px;
        color: #A6DD78;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp3-10-unset-item2 .item2 {
    position: absolute;
    width: 195px;
    height: 90px;
}
    #NED-bp3-10-unset-item2 .item2:nth-child(1) {
        left: 30px;
        top: 716px;
    }
    #NED-bp3-10-unset-item2 .item2:nth-child(2) {
        left: 418px;
        top: 716px;
    }
    #NED-bp3-10-unset-item2 .item2 .thumb {
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp3-10-unset-item2 .item2:nth-child(1) .thumb {
            left: 116px;
            top: -126px;
        }
        #NED-bp3-10-unset-item2 .item2:nth-child(2) .thumb {
            left: 16px;
            top: -126px;
        }
    #NED-bp3-10-unset-item2 .item2 .title {
        position: absolute;
        left: 0;
        top: 0;
        color: #FFFFFF;
        z-index: 6;
    }
    #NED-bp3-10-unset-item2 .item2 .text {
        position: absolute;
        left: 0;
        top: 60px;
        color: #A6DD78;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp3-10-unset-item3 .item3 {
    position: absolute;
    width: 195px;
    height: 90px;
}
    #NED-bp3-10-unset-item3 .item3:nth-child(1) {
        left: 224px;
        top: 334px;
    }
    #NED-bp3-10-unset-item3 .item3:nth-child(2) {
        left: 30px;
        top: 794px;
    }
    #NED-bp3-10-unset-item3 .item3:nth-child(3) {
        left: 420px;
        top: 794px;
    }
    #NED-bp3-10-unset-item3 .item3 .thumb {
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp3-10-unset-item3 .item3:nth-child(1) .thumb {
            left: 68px;
            top: 100px;
        }
        #NED-bp3-10-unset-item3 .item3:nth-child(2) .thumb {
            left: 114px;
            top: -84px;
        }
        #NED-bp3-10-unset-item3 .item3:nth-child(3) .thumb {
            left: 16px;
            top: -84px;
        }
    #NED-bp3-10-unset-item3 .item3 .title {
        position: absolute;
        left: 0;
        top: 0;
        color: #FFFFFF;
        z-index: 6;
    }
    #NED-bp3-10-unset-item3 .item3 .text {
        position: absolute;
        left: 0;
        top: 60px;
        color: #A6DD78;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp3-10-unset-item4 .item4 {
    position: absolute;
    width: 195px;
    height: 90px;
}
    #NED-bp3-10-unset-item4 .item4:nth-child(1) {
        left: 30px;
        top: 336px;
    }
    #NED-bp3-10-unset-item4 .item4:nth-child(2) {
        left: 418px;
        top: 336px;
    }
    #NED-bp3-10-unset-item4 .item4:nth-child(3) {
        left: 30px;
        top: 768px;
    }
    #NED-bp3-10-unset-item4 .item4:nth-child(4) {
        left: 418px;
        top: 768px;
    }
    #NED-bp3-10-unset-item4 .item4 .thumb {
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp3-10-unset-item4 .item4:nth-child(1) .thumb {
            left: 128px;
            top: 104px;
        }
        #NED-bp3-10-unset-item4 .item4:nth-child(2) .thumb {
            left: 4px;
            top: 104px;
        }
        #NED-bp3-10-unset-item4 .item4:nth-child(3) .thumb {
            left: 128px;
            top: -94px;
        }
        #NED-bp3-10-unset-item4 .item4:nth-child(4) .thumb {
            left: 4px;
            top: -94px;
        }
    #NED-bp3-10-unset-item4 .item4 .title {
        position: absolute;
        left: 0;
        top: 0;
        color: #FFFFFF;
        z-index: 6;
    }
    #NED-bp3-10-unset-item4 .item4 .text {
        position: absolute;
        left: 0;
        top: 60px;
        color: #A6DD78;
        z-index: 6;
    }
/**
 * bottom line
 */
#NED-bp3-10-unset-item1 .bottomLine,
#NED-bp3-10-unset-item2 .bottomLine,
#NED-bp3-10-unset-item3 .bottomLine,
#NED-bp3-10-unset-item4 .bottomLine {
    position: absolute;
    width: 580px;
    height: 3px;
    left: 30px;
    bottom: 12px;
    background-color: #487CA5;
    z-index: 1;
}
