/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-7-unset-item1 .headerImg,
#NED-bp3-7-unset-item2 .headerImg,
#NED-bp3-7-unset-item3 .headerImg,
#NED-bp3-7-unset-item4 .headerImg {
    position: absolute;
    width: 640px;
    height: 59px;
    left: 0;
    top: 44px;
    z-index: 5;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-7-unset-item1 .headerText,
#NED-bp3-7-unset-item2 .headerText,
#NED-bp3-7-unset-item3 .headerText,
#NED-bp3-7-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    text-align: left;
    left: 70px;
    top: 54px;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp3-6-unset-item1 .center,
#NED-bp3-6-unset-item2 .center,
#NED-bp3-6-unset-item3 .center,
#NED-bp3-6-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp3-7-unset-item1 .item1 {
    position: absolute;
    width: 500px;
    height: 140px;
    left: 66px;
    top: 460px;
}
    #NED-bp3-7-unset-item1 .titleIcon {
        position: absolute;
        width: 112px;
        height: 94px;
        top: 0;
        left: 0;
        z-index: 5;
    }
    #NED-bp3-7-unset-item1 .title {
        position: absolute;
        width: 200px;
        left: 130px;
        top: 0;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-7-unset-item1 .text {
        position: absolute;
        width: 395px;
        top: 52px;
        left: 130px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp3-7-unset-item2 .item2 {
    position: absolute;
    width: 500px;
    height: 140px;
}
    #NED-bp3-7-unset-item2 .item2:nth-child(1) {
        left: 66px;
        top: 310px;
    }
    #NED-bp3-7-unset-item2 .item2:nth-child(2) {
        right: 66px;
        top: 606px;
    }
    #NED-bp3-7-unset-item2 .titleIcon {
        position: absolute;
        width: 112px;
        height: 94px;
        top: 0;
        z-index: 5;
    }
        #NED-bp3-7-unset-item2 .item2:nth-child(odd) .titleIcon {
            left: 0;
        }
        #NED-bp3-7-unset-item2 .item2:nth-child(even) .titleIcon {
            right: 0;
        }
    #NED-bp3-7-unset-item2 .title {
        position: absolute;
        width: 200px;
        top: 0;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-7-unset-item2 .item2:nth-child(odd) .title {
            left: 130px;
        }
        #NED-bp3-7-unset-item2 .item2:nth-child(even) .title {
            right: 130px;
            text-align: right;
        }
    #NED-bp3-7-unset-item2 .text {
        position: absolute;
        width: 395px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-7-unset-item2 .item2:nth-child(odd) .text {
            left: 130px;
        }
        #NED-bp3-7-unset-item2 .item2:nth-child(even) .text {
            right: 130px;
            text-align: right;
        }

/**
 * Three list item
 */
#NED-bp3-7-unset-item3 .item3 {
    position: absolute;
    width: 500px;
    height: 140px;
}
    #NED-bp3-7-unset-item3 .item3:nth-child(1) {
        left: 66px;
        top: 254px;
    }
    #NED-bp3-7-unset-item3 .item3:nth-child(2) {
        right: 66px;
        top: 460px;
    }
    #NED-bp3-7-unset-item3 .item3:nth-child(3) {
        left: 66px;
        top: 666px;
    }
    #NED-bp3-7-unset-item3 .titleIcon {
        position: absolute;
        width: 112px;
        height: 94px;
        top: 0;
        z-index: 5;
    }
        #NED-bp3-7-unset-item3 .item3:nth-child(odd) .titleIcon {
            left: 0;
        }
        #NED-bp3-7-unset-item3 .item3:nth-child(even) .titleIcon {
            right: 0;
        }
    #NED-bp3-7-unset-item3 .title {
        position: absolute;
        width: 200px;
        top: 0;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-7-unset-item3 .item3:nth-child(odd) .title {
            left: 130px;
        }
        #NED-bp3-7-unset-item3 .item3:nth-child(even) .title {
            right: 130px;
            text-align: right;
        }
    #NED-bp3-7-unset-item3 .text {
        position: absolute;
        width: 395px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-7-unset-item3 .item3:nth-child(odd) .text {
            left: 130px;
        }
        #NED-bp3-7-unset-item3 .item3:nth-child(even) .text {
            right: 130px;
            text-align: right;
        }

/**
 * Four list item
 */
#NED-bp3-7-unset-item4 .item4 {
    position: absolute;
    width: 500px;
    height: 140px;
}
    #NED-bp3-7-unset-item4 .item4:nth-child(1) {
        left: 66px;
        top: 216px;
    }
    #NED-bp3-7-unset-item4 .item4:nth-child(2) {
        right: 66px;
        top: 386px;
    }
    #NED-bp3-7-unset-item4 .item4:nth-child(3) {
        left: 66px;
        top: 556px;
    }
    #NED-bp3-7-unset-item4 .item4:nth-child(4) {
        right: 66px;
        top: 726px;
    }
    #NED-bp3-7-unset-item4 .titleIcon {
        position: absolute;
        width: 112px;
        height: 94px;
        top: 0;
        z-index: 5;
    }
        #NED-bp3-7-unset-item4 .item4:nth-child(odd) .titleIcon {
            left: 0;
        }
        #NED-bp3-7-unset-item4 .item4:nth-child(even) .titleIcon {
            right: 0;
        }
    #NED-bp3-7-unset-item4 .title {
        position: absolute;
        width: 200px;
        top: 0;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-7-unset-item4 .item4:nth-child(odd) .title {
            left: 130px;
        }
        #NED-bp3-7-unset-item4 .item4:nth-child(even) .title {
            right: 130px;
            text-align: right;
        }
    #NED-bp3-7-unset-item4 .text {
        position: absolute;
        width: 395px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp3-7-unset-item4 .item4:nth-child(odd) .text {
            left: 130px;
        }
        #NED-bp3-7-unset-item4 .item4:nth-child(even) .text {
            right: 130px;
            text-align: right;
        }
