/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-6-unset-item1 .headerImg,
#NED-bp3-6-unset-item2 .headerImg,
#NED-bp3-6-unset-item3 .headerImg,
#NED-bp3-6-unset-item4 .headerImg {
    position: absolute;
    width: 640px;
    height: 59px;
    left: 0;
    top: 44px;
    z-index: 5;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-6-unset-item1 .headerText,
#NED-bp3-6-unset-item2 .headerText,
#NED-bp3-6-unset-item3 .headerText,
#NED-bp3-6-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    text-align: left;
    left: 70px;
    top: 54px;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp3-6-unset-item1 .middleImg {
    position: absolute;
    width: 308px;
    height: 259px;
    left: 74px;
    top: 346px;
    z-index: 5;
}
#NED-bp3-6-unset-item2 .middleImg {
    position: absolute;
    width: 321px;
    height: 334px;
    left: 124px;
    top: 382px;
    z-index: 5;
}
#NED-bp3-6-unset-item3 .middleImg {
    position: absolute;
    width: 328px;
    height: 351px;
    left: 156px;
    top: 383px;
    z-index: 5;
}
#NED-bp3-6-unset-item4 .middleImg {
    position: absolute;
    width: 322px;
    height: 288px;
    left: 162px;
    top: 408px;
    z-index: 5;
}

/** custom center */
#NED-bp3-6-unset-item1 .center,
#NED-bp3-6-unset-item2 .center,
#NED-bp3-6-unset-item3 .center,
#NED-bp3-6-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
* One list item
*/
#NED-bp3-6-unset-item1 .item1 {
    position: absolute;
    width: 280px;
    height: 154px;
    left: 278px;
    top: 508px;
}
    #NED-bp3-6-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 54px;
        top: 14px;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-6-unset-item1 .item1 .text {
        position: absolute;
        width: 260px;
        left: 18px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
* Two list item
*/
#NED-bp3-6-unset-item2 .item2 {
    position: absolute;
    width: 280px;
    height: 154px;
}
    #NED-bp3-6-unset-item2 .item2:nth-child(1) {
        left: 80px;
        top: 176px;
    }
    #NED-bp3-6-unset-item2 .item2:nth-child(2) {
        left: 264px;
        top: 718px;
    }
    #NED-bp3-6-unset-item2 .item2 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        z-index: 5;
    }
    #NED-bp3-6-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 54px;
        top: 14px;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-6-unset-item2 .item2 .text {
        position: absolute;
        width: 260px;
        left: 18px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp3-6-unset-item3 .item3 {
    position: absolute;
    width: 280px;
    height: 154px;
}
    #NED-bp3-6-unset-item3 .item3:nth-child(1) {
        left: 172px;
        top: 176px;
    }
    #NED-bp3-6-unset-item3 .item3:nth-child(2) {
        left: 30px;
        top: 716px;
    }
    #NED-bp3-6-unset-item3 .item3:nth-child(3) {
        left: 328px;
        top: 716px;
    }
    #NED-bp3-6-unset-item3 .item3 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        z-index: 5;
    }
    #NED-bp3-6-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 54px;
        top: 14px;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-6-unset-item3 .item3 .text {
        position: absolute;
        width: 260px;
        left: 18px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp3-6-unset-item4 .item4 {
    position: absolute;
    width: 280px;
    height: 154px;
}
    #NED-bp3-6-unset-item4 .item4:nth-child(1) {
        left: 30px;
        top: 178px;
    }
    #NED-bp3-6-unset-item4 .item4:nth-child(2) {
        left: 328px;
        top: 178px;
    }
    #NED-bp3-6-unset-item4 .item4:nth-child(3) {
        left: 30px;
        top: 716px;
    }
    #NED-bp3-6-unset-item4 .item4:nth-child(4) {
        left: 328px;
        top: 716px;
    }
    #NED-bp3-6-unset-item4 .item4 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        z-index: 5;
    }
    #NED-bp3-6-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        left: 54px;
        top: 14px;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-6-unset-item4 .item4 .text {
        position: absolute;
        width: 260px;
        left: 18px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
