/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-5-unset-item1 .headerImg,
#NED-bp3-5-unset-item2 .headerImg,
#NED-bp3-5-unset-item3 .headerImg,
#NED-bp3-5-unset-item4 .headerImg {
    position: absolute;
    width: 640px;
    height: 59px;
    left: 0;
    top: 44px;
    z-index: 5;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-5-unset-item1 .headerText,
#NED-bp3-5-unset-item2 .headerText,
#NED-bp3-5-unset-item3 .headerText,
#NED-bp3-5-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    text-align: left;
    left: 70px;
    top: 54px;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp3-5-unset-item1 .middleImg {
    position: absolute;
    width: 124px;
    height: 168px;
    left: 102px;
    top: 398px;
    z-index: 5;
}
#NED-bp3-5-unset-item2 .middleImg {
    position: absolute;
    width: 238px;
    height: 236px;
    left: 200px;
    top: 408px;
    z-index: 5;
}
#NED-bp3-5-unset-item3 .middleImg {
    position: absolute;
    width: 285px;
    height: 261px;
    left: 176px;
    top: 398px;
    z-index: 5;
}
#NED-bp3-5-unset-item4 .middleImg {
    position: absolute;
    width: 263px;
    height: 259px;
    left: 188px;
    top: 400px;
    z-index: 5;
}

/** custom center */
#NED-bp3-5-unset-item1 .center,
#NED-bp3-5-unset-item2 .center,
#NED-bp3-5-unset-item3 .center,
#NED-bp3-5-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp3-5-unset-item1 .item1 {
    position: absolute;
    width: 265px;
    height: 175px;
    left: 276px;
    top: 414px;
}
    #NED-bp3-5-unset-item1 .title {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-5-unset-item1 .text {
        position: absolute;
        width: 260px;
        left: 0;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp3-5-unset-item2 .item2 {
    position: absolute;
    width: 265px;
    height: 175px;
}
    #NED-bp3-5-unset-item2 .item2:nth-child(1) {
        left: 190px;
        top: 192px;
    }
    #NED-bp3-5-unset-item2 .item2:nth-child(2) {
        left: 190px;
        top: 724px;
    }
    #NED-bp3-5-unset-item2 .title {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-5-unset-item2 .text {
        position: absolute;
        width: 260px;
        left: 0;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp3-5-unset-item3 .item3 {
    position: absolute;
    width: 265px;
    height: 175px;
}
    #NED-bp3-5-unset-item3 .item3:nth-child(1) {
        left: 188px;
        top: 192px;
    }
    #NED-bp3-5-unset-item3 .item3:nth-child(2) {
        left: 30px;
        top: 724px;
    }
    #NED-bp3-5-unset-item3 .item3:nth-child(3) {
        left: 346px;
        top: 724px;
    }
    #NED-bp3-5-unset-item3 .title {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-5-unset-item3 .text {
        position: absolute;
        width: 260px;
        left: 0;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp3-5-unset-item4 .item4 {
    position: absolute;
    width: 265px;
    height: 175px;
}
    #NED-bp3-5-unset-item4 .item4:nth-child(1) {
        left: 30px;
        top: 192px;
    }
    #NED-bp3-5-unset-item4 .item4:nth-child(2) {
        left: 346px;
        top: 192px;
    }
    #NED-bp3-5-unset-item4 .item4:nth-child(3) {
        left: 30px;
        top: 724px;
    }
    #NED-bp3-5-unset-item4 .item4:nth-child(4) {
        left: 346px;
        top: 724px;
    }
    #NED-bp3-5-unset-item4 .title {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
        color: #A6DD78;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-5-unset-item4 .text {
        position: absolute;
        width: 260px;
        left: 0;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
