/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-2-unset-item1 .headerImg,
#NED-bp3-2-unset-item2 .headerImg,
#NED-bp3-2-unset-item3 .headerImg,
#NED-bp3-2-unset-item4 .headerImg {
    position: absolute;
    width: 640px;
    height: 59px;
    left: 0;
    top: 44px;
    z-index: 5;
}

/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-2-unset-item1 .headerText,
#NED-bp3-2-unset-item2 .headerText,
#NED-bp3-2-unset-item3 .headerText,
#NED-bp3-2-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    text-align: left;
    left: 70px;
    top: 54px;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp3-2-unset-item1 .middleImgBox,
#NED-bp3-2-unset-item2 .middleImgBox,
#NED-bp3-2-unset-item3 .middleImgBox,
#NED-bp3-2-unset-item4 .middleImgBox {
    position: absolute;
    width: 580px;
    height: 220px;
    left: 30px;
    top: 682px;
    z-index: 5;
}

/** middle image */
#NED-bp3-2-unset-item1 .middleLine,
#NED-bp3-2-unset-item2 .middleLine,
#NED-bp3-2-unset-item3 .middleLine,
#NED-bp3-2-unset-item4 .middleLine {
    position: absolute;
    width: 60px;
    height: 534px;
    left: 68px;
    top: 116px;
    z-index: 3;
}

/** custom center */
#NED-bp3-2-unset-item1 .center,
#NED-bp3-2-unset-item2 .center,
#NED-bp3-2-unset-item3 .center,
#NED-bp3-2-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp3-2-unset-item1 .item1 {
    position: relative;
    width: 505px;
    height: 200px;
    left: 68px;
    top: 328px;
}
    #NED-bp3-2-unset-item1 .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        z-index: 5;
    }
    #NED-bp3-2-unset-item1 .title {
        position: absolute;
        width: 200px;
        top: 12px;
        left: 104px;
        color: #A6DD78;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-2-unset-item1 .text {
        position: absolute;
        width: 400px;
        top: 64px;
        left: 104px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp3-2-unset-item2 .item2 {
    position: absolute;
    width: 505px;
    height: 200px;
    left: 68px;
}
    #NED-bp3-2-unset-item2 .item2:nth-child(1) {
        top: 214px;
    }
    #NED-bp3-2-unset-item2 .item2:nth-child(2) {
        top: 442px;
    }
    #NED-bp3-2-unset-item2 .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        z-index: 5;
    }
    #NED-bp3-2-unset-item2 .title {
        position: absolute;
        width: 200px;
        top: 12px;
        left: 104px;
        color: #A6DD78;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-2-unset-item2 .text {
        position: absolute;
        width: 400px;
        top: 64px;
        left: 104px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp3-2-unset-item3 .item3 {
    position: absolute;
    width: 505px;
    height: 200px;
    left: 68px;
}
    #NED-bp3-2-unset-item3 .item3:nth-child(1) {
        top: 154px;
    }
    #NED-bp3-2-unset-item3 .item3:nth-child(2) {
        top: 326px;
    }
    #NED-bp3-2-unset-item3 .item3:nth-child(3) {
        top: 498px;
    }
    #NED-bp3-2-unset-item3 .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        z-index: 5;
    }
    #NED-bp3-2-unset-item3 .title {
        position: absolute;
        width: 200px;
        top: 12px;
        left: 104px;
        color: #A6DD78;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-2-unset-item3 .text {
        position: absolute;
        width: 400px;
        top: 64px;
        left: 104px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp3-2-unset-item4 .item4 {
    position: absolute;
    width: 505px;
    height: 200px;
    left: 68px;
}
    #NED-bp3-2-unset-item4 .item4:nth-child(1) {
        top: 126px;
    }
    #NED-bp3-2-unset-item4 .item4:nth-child(2) {
        top: 260px;
    }
    #NED-bp3-2-unset-item4 .item4:nth-child(3) {
        top: 394px;
    }
    #NED-bp3-2-unset-item4 .item4:nth-child(4) {
        top: 528px;
    }
    #NED-bp3-2-unset-item4 .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        z-index: 5;
    }
    #NED-bp3-2-unset-item4 .title {
        position: absolute;
        width: 200px;
        top: 12px;
        left: 104px;
        color: #A6DD78;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-2-unset-item4 .text {
        position: absolute;
        width: 400px;
        top: 64px;
        left: 104px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
