#NED-bp3-1-unset-index {
    font-family: '微軟雅黑體';
    font-weight: bolder;
}
#NED-bp3-1-unset-index .name {
    position: absolute;
    width: 426px;
    top: 426px;
    left: 200px;
    font-size: 42px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    letter-spacing: -4px;
    z-index: 6;
}
#NED-bp3-1-unset-index .intro {
    position: absolute;
    width: 398px;
    top: 492px;
    left: 200px;
    font-size: 26px;
    text-align: left;
    color: #A6DD78;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
