/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-9-unset-item1 .headerImg,
#NED-bp3-9-unset-item2 .headerImg,
#NED-bp3-9-unset-item3 .headerImg,
#NED-bp3-9-unset-item4 .headerImg {
    position: absolute;
    width: 640px;
    height: 59px;
    left: 0;
    top: 44px;
    z-index: 5;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-9-unset-item1 .headerText,
#NED-bp3-9-unset-item2 .headerText,
#NED-bp3-9-unset-item3 .headerText,
#NED-bp3-9-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    text-align: left;
    left: 70px;
    top: 54px;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp3-9-unset-item1 .center,
#NED-bp3-9-unset-item2 .center,
#NED-bp3-9-unset-item3 .center,
#NED-bp3-9-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp3-9-unset-item1 .item1 {
    position: absolute;
    width: 471px;
    height: 218px;
    left: 94px;
    top: 444px;
}
    #NED-bp3-9-unset-item1 .item1 .role {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 0;
        left: 0;
        background-color: #CCCCCC;
        z-index: 5;
    }
    #NED-bp3-9-unset-item1 .item1 .nameBox {
        position: absolute;
        width: 265px;
        height: 40px;
        top: 0;
        left: 226px;
    }
    #NED-bp3-9-unset-item1 .item1 .nameBox .name {
        position: relative;
        float: left;
        top: 0;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-9-unset-item1 .item1 .nameBox .job {
        position: relative;
        float: left;
        top: 5px;
        color: #A6DD78;
        margin: 0 0 0 14px;
        font-size: 24px;
        font-weight: bolder;
        line-height: 1.5;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-9-unset-item1 .item1 .text {
        position: absolute;
        width: 265px;
        left: 226px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp3-9-unset-item2 .item2 {
    position: absolute;
    width: 471px;
    height: 218px;
}
    #NED-bp3-9-unset-item2 .item2:nth-child(1) {
        left: 94px;
        top: 284px;
    }
    #NED-bp3-9-unset-item2 .item2:nth-child(2) {
        left: 94px;
        top: 596px;
    }
    #NED-bp3-9-unset-item2 .item2 .role {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 0;
        left: 0;
        background-color: #CCCCCC;
        z-index: 5;
    }
    #NED-bp3-9-unset-item2 .item2 .nameBox {
        position: absolute;
        width: 265px;
        height: 40px;
        top: 0;
        left: 226px;
    }
    #NED-bp3-9-unset-item2 .item2 .nameBox .name {
        position: relative;
        float: left;
        top: 0;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-9-unset-item2 .item2 .nameBox .job {
        position: relative;
        float: left;
        top: 5px;
        color: #A6DD78;
        margin: 0 0 0 14px;
        font-size: 24px;
        font-weight: bolder;
        line-height: 1.5;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-9-unset-item2 .item2 .text {
        position: absolute;
        width: 265px;
        left: 226px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp3-9-unset-item3 .item3 {
    position: absolute;
    width: 471px;
    height: 218px;
}
    #NED-bp3-9-unset-item3 .item3:nth-child(1) {
        left: 94px;
        top: 212px;
    }
    #NED-bp3-9-unset-item3 .item3:nth-child(2) {
        left: 94px;
        top: 448px;
    }
    #NED-bp3-9-unset-item3 .item3:nth-child(3) {
        left: 94px;
        top: 684px;
    }
    #NED-bp3-9-unset-item3 .item3 .role {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 0;
        left: 0;
        background-color: #CCCCCC;
        z-index: 5;
    }
    #NED-bp3-9-unset-item3 .item3 .nameBox {
        position: absolute;
        width: 265px;
        height: 40px;
        top: 0;
        left: 226px;
    }
    #NED-bp3-9-unset-item3 .item3 .nameBox .name {
        position: relative;
        float: left;
        top: 0;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-9-unset-item3 .item3 .nameBox .job {
        position: relative;
        float: left;
        top: 5px;
        color: #A6DD78;
        margin: 0 0 0 14px;
        font-size: 24px;
        font-weight: bolder;
        line-height: 1.5;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-9-unset-item3 .item3 .text {
        position: absolute;
        width: 265px;
        left: 226px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp3-9-unset-item4 .item4 {
    position: absolute;
    width: 304px;
    height: 378px;
}
    #NED-bp3-9-unset-item4 .item4:nth-child(1) {
        left: 34px;
        top: 170px;
    }
    #NED-bp3-9-unset-item4 .item4:nth-child(2) {
        left: 338px;
        top: 170px;
    }
    #NED-bp3-9-unset-item4 .item4:nth-child(3) {
        left: 34px;
        top: 548px;
    }
    #NED-bp3-9-unset-item4 .item4:nth-child(4) {
        left: 338px;
        top: 548px;
    }
    #NED-bp3-9-unset-item4 .item4 .role {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 0;
        left: 0;
        background-color: #CCCCCC;
        z-index: 5;
    }
    #NED-bp3-9-unset-item4 .item4 .nameBox {
        position: absolute;
        width: 265px;
        height: 40px;
        top: 178px;
        left: 0;
    }
    #NED-bp3-9-unset-item4 .item4 .nameBox .name {
        position: relative;
        float: left;
        top: 0;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-9-unset-item4 .item4 .nameBox .job {
        position: relative;
        float: left;
        top: 0;
        color: #A6DD78;
        margin: 0 0 0 14px;
        font-size: 24px;
        line-height: 1.5;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp3-9-unset-item4 .item4 .text {
        position: absolute;
        width: 265px;
        left: 0;
        top: 230px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
