/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-4-unset-introduction .headerLine {
    position: absolute;
    width: 527px;
    height: 7px;
    left: 44px;
    top: 126px;
    z-index: 5;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp3-4-unset-introduction .headerText {
    position: absolute;
    left: 258px;
    top: 424px;
    text-align: center;
    color: #A6DD78;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp3-4-unset-introduction .middleImg {
    position: absolute;
    width: 640px;
    height: 382px;
    left: 0;
    top: 0;
    z-index: 4;
}
#NED-bp3-4-unset-introduction .middleImgCarver {
    position: absolute;
    width: 640px;
    height: 960px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 5;
}

/** introduction */
#NED-bp3-4-unset-introduction .introduction {
    position: absolute;
    width: 480px;
    left: 80px;
    top: 476px;
    color: #FFFFFF;
    z-index: 6;
}
