/**
 * carving on the top
 */

#NED-bp1-2-unset-item1 .topCarving,
#NED-bp1-2-unset-item2 .topCarving,
#NED-bp1-2-unset-item3 .topCarving,
#NED-bp1-2-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 78px;
  top: 0;
  right: 0;
  z-index: 1;
}

/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp1-2-unset-item1 .headText,
#NED-bp1-2-unset-item2 .headText,
#NED-bp1-2-unset-item3 .headText,
#NED-bp1-2-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 248px;
  top: 76px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** middle line */
#NED-bp1-2-unset-item1 .middleLine,
#NED-bp1-2-unset-item2 .middleLine,
#NED-bp1-2-unset-item3 .middleLine,
#NED-bp1-2-unset-item4 .middleLine {
  position: absolute;
  width: 60px;
  height: 648px;
  left: 84px;
  top: 156px;
  z-index: 5;
}

/** custom center */

#NED-bp1-2-unset-item1 .center,
#NED-bp1-2-unset-item2 .center,
#NED-bp1-2-unset-item3 .center,
#NED-bp1-2-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp1-2-unset-item1 .item1 {
  position: absolute;
  width: 515px;
  height: 140px;
  top: 392px;
  left: 96px;
}
  #NED-bp1-2-unset-item1 .item1 .titleIcon {
    position: absolute;
    width: 327px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-2-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 82px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-2-unset-item1 .item1 .text {
    position: absolute;
    width: 400px;
    top: 65px;
    left: 82px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp1-2-unset-item2 .item2 {
  position: absolute;
  width: 515px;
  height: 140px;
  left: 96px;
}
  #NED-bp1-2-unset-item2 .item2:nth-child(1) {
    top: 272px;
  }
  #NED-bp1-2-unset-item2 .item2:nth-child(2) {
    top: 512px;
  }
  #NED-bp1-2-unset-item2 .item2 .titleIcon {
    position: absolute;
    width: 327px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-2-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 82px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-2-unset-item2 .item2 .text {
    position: absolute;
    width: 400px;
    top: 65px;
    left: 82px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp1-2-unset-item3 .item3 {
  position: absolute;
  width: 515px;
  height: 140px;
  left: 96px;
}
  #NED-bp1-2-unset-item3 .item3:nth-child(1) {
    top: 204px;
  }
  #NED-bp1-2-unset-item3 .item3:nth-child(2) {
    top: 394px;
  }
  #NED-bp1-2-unset-item3 .item3:nth-child(3) {
    top: 584px;
  }
  #NED-bp1-2-unset-item3 .item3 .titleIcon {
    position: absolute;
    width: 327px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-2-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 82px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-2-unset-item3 .item3 .text {
    position: absolute;
    width: 400px;
    top: 65px;
    left: 82px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp1-2-unset-item4 .item4 {
  position: absolute;
  width: 515px;
  height: 140px;
  left: 96px;
}
  #NED-bp1-2-unset-item4 .item4:nth-child(1) {
    top: 168px;
  }
  #NED-bp1-2-unset-item4 .item4:nth-child(2) {
    top: 320px;
  }
  #NED-bp1-2-unset-item4 .item4:nth-child(3) {
    top: 472px;
  }
  #NED-bp1-2-unset-item4 .item4:nth-child(4) {
    top: 624px;
  }
  #NED-bp1-2-unset-item4 .item4 .titleIcon {
    position: absolute;
    width: 327px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-2-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 82px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-2-unset-item4 .item4 .text {
    position: absolute;
    width: 400px;
    top: 65px;
    left: 82px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp1-2-unset-item1 .bottomCarving,
#NED-bp1-2-unset-item2 .bottomCarving,
#NED-bp1-2-unset-item3 .bottomCarving,
#NED-bp1-2-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 159px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
