/**
 * carving on the top
 */

#NED-bp1-8-unset-item1 .topCarving,
#NED-bp1-8-unset-item2 .topCarving,
#NED-bp1-8-unset-item3 .topCarving,
#NED-bp1-8-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 78px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp1-8-unset-item1 .headText,
#NED-bp1-8-unset-item2 .headText,
#NED-bp1-8-unset-item3 .headText,
#NED-bp1-8-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}
/**
 * middle line
 */
#NED-bp1-8-unset-item1 .middleImg {
  position: absolute;
  width: 60px;
  height: 712px;
  top: 142px;
  left: 212px;
  z-index: 2;
}
#NED-bp1-8-unset-item2 .middleImg,
#NED-bp1-8-unset-item3 .middleImg,
#NED-bp1-8-unset-item4 .middleImg {
  position: absolute;
  width: 60px;
  height: 712px;
  top: 142px;
  left: 290px;
  z-index: 2;
}

/** custom center */

#NED-bp1-8-unset-item1 .center,
#NED-bp1-8-unset-item2 .center,
#NED-bp1-8-unset-item3 .center,
#NED-bp1-8-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp1-8-unset-item1 .item1 {
  position: absolute;
  width: 440px;
  height: 150px;
  top: 436px;
  left: 106px;
}
  #NED-bp1-8-unset-item1 .item1 .itemCarving {
    position: absolute;
    width: 114px;
    height: 60px;
    top: 38px;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-8-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    top: 0;
    left: 168px;
    color: #025993;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-8-unset-item1 .item1 .text {
    position: absolute;
    width: 265px;
    top: 52px;
    left: 168px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp1-8-unset-item2 .item2 {
  position: absolute;
  width: 420px;
  height: 150px;
}
  #NED-bp1-8-unset-item2 .item2:nth-child(1) {
    top: 298px;
    left: 30px;
  }
  #NED-bp1-8-unset-item2 .item2:nth-child(2) {
    top: 574px;
    left: 182px;
  }
  #NED-bp1-8-unset-item2 .item2 .itemCarving {
    position: absolute;
    width: 114px;
    height: 60px;
    top: 38px;
    z-index: 5;
  }
    #NED-bp1-8-unset-item2 .item2:nth-child(odd) .itemCarving {
      left: 306px;
    }
    #NED-bp1-8-unset-item2 .item2:nth-child(even) .itemCarving {
      left: 0;
    }
  #NED-bp1-8-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    top: 0;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-8-unset-item2 .item2:nth-child(1) .title {
      left: 0;
      color: #025993;
    }
    #NED-bp1-8-unset-item2 .item2:nth-child(2) .title {
      left: 168px;
      color: #FF5961;
    }
  #NED-bp1-8-unset-item2 .item2 .text {
    position: absolute;
    width: 265px;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-8-unset-item2 .item2:nth-child(odd) .text {
      left: 0;
    }
    #NED-bp1-8-unset-item2 .item2:nth-child(even) .text {
      left: 168px;
    }

/**
 * Three list item
 */

#NED-bp1-8-unset-item3 .item3 {
  position: absolute;
  width: 420px;
  height: 150px;
}
  #NED-bp1-8-unset-item3 .item3:nth-child(1) {
    top: 228px;
    left: 30px;
  }
  #NED-bp1-8-unset-item3 .item3:nth-child(2) {
    top: 438px;
    left: 182px;
  }
  #NED-bp1-8-unset-item3 .item3:nth-child(3) {
    top: 642px;
    left: 30px;
  }
  #NED-bp1-8-unset-item3 .item3 .itemCarving {
    position: absolute;
    width: 114px;
    height: 60px;
    top: 38px;
    z-index: 5;
  }
    #NED-bp1-8-unset-item3 .item3:nth-child(odd) .itemCarving {
      left: 306px;
    }
    #NED-bp1-8-unset-item3 .item3:nth-child(even) .itemCarving {
      left: 0;
    }
  #NED-bp1-8-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    top: 0;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-8-unset-item3 .item3:nth-child(1) .title {
      left: 0;
      color: #025993;
    }
    #NED-bp1-8-unset-item3 .item3:nth-child(2) .title {
      left: 168px;
      color: #FF5961;
    }
    #NED-bp1-8-unset-item3 .item3:nth-child(3) .title {
      left: 0;
      color: #77D2C9;
    }
  #NED-bp1-8-unset-item3 .item3 .text {
    position: absolute;
    width: 265px;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-8-unset-item3 .item3:nth-child(odd) .text {
      left: 0;
    }
    #NED-bp1-8-unset-item3 .item3:nth-child(even) .text {
      left: 168px;
    }

/**
 * Four list item
 */

#NED-bp1-8-unset-item4 .item4 {
  position: absolute;
  width: 420px;
  height: 150px;
}
  #NED-bp1-8-unset-item4 .item4:nth-child(1) {
    top: 190px;
    left: 30px;
  }
  #NED-bp1-8-unset-item4 .item4:nth-child(2) {
    top: 354px;
    left: 182px;
  }
  #NED-bp1-8-unset-item4 .item4:nth-child(3) {
    top: 518px;
    left: 30px;
  }
  #NED-bp1-8-unset-item4 .item4:nth-child(4) {
    top: 682px;
    left: 182px;
  }
  #NED-bp1-8-unset-item4 .item4 .itemCarving {
    position: absolute;
    width: 114px;
    height: 60px;
    top: 38px;
    z-index: 5;
  }
    #NED-bp1-8-unset-item4 .item4:nth-child(odd) .itemCarving {
      left: 306px;
    }
    #NED-bp1-8-unset-item4 .item4:nth-child(even) .itemCarving {
      left: 0;
    }
  #NED-bp1-8-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    top: 0;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-8-unset-item4 .item4:nth-child(1) .title {
      left: 0;
      color: #025993;
    }
    #NED-bp1-8-unset-item4 .item4:nth-child(2) .title {
      left: 168px;
      color: #FF5961;
    }
    #NED-bp1-8-unset-item4 .item4:nth-child(3) .title {
      left: 0;
      color: #77D2C9;
    }
    #NED-bp1-8-unset-item4 .item4:nth-child(4) .title {
      left: 168px;
      color: #FBCA00;
    }
  #NED-bp1-8-unset-item4 .item4 .text {
    position: absolute;
    width: 265px;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-8-unset-item4 .item4:nth-child(odd) .text {
      left: 0;
    }
    #NED-bp1-8-unset-item4 .item4:nth-child(even) .text {
      left: 168px;
    }

/**
 * carving on the bottom
 */

#NED-bp1-8-unset-item1 .bottomCarving,
#NED-bp1-8-unset-item2 .bottomCarving,
#NED-bp1-8-unset-item3 .bottomCarving,
#NED-bp1-8-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 110px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
