/**
 * carving on the top
 */

#NED-bp1-5-unset-item1 .topCarving,
#NED-bp1-5-unset-item2 .topCarving,
#NED-bp1-5-unset-item3 .topCarving,
#NED-bp1-5-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 78px;
  top: 0;
  right: 0;
  z-index: 1;
}

/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp1-5-unset-item1 .headText,
#NED-bp1-5-unset-item2 .headText,
#NED-bp1-5-unset-item3 .headText,
#NED-bp1-5-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 248px;
  top: 76px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** middle line */
#NED-bp1-5-unset-item2 .middleLine {
  position: absolute;
  width: 81px;
  height: 250px;
  top: 376px;
  left: 86px;
  z-index: 5;
}
#NED-bp1-5-unset-item3 .middleLine {
  position: absolute;
  width: 85px;
  height: 404px;
  top: 282px;
  left: 96px;
  z-index: 5;
}
#NED-bp1-5-unset-item4 .middleLine {
  position: absolute;
  width: 107px;
  height: 484px;
  top: 248px;
  left: 60px;
  z-index: 5;
}

/** custom center */

#NED-bp1-5-unset-item1 .center,
#NED-bp1-5-unset-item2 .center,
#NED-bp1-5-unset-item3 .center,
#NED-bp1-5-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp1-5-unset-item1 .item1 {
  position: absolute;
  width: 555px;
  height: 145px;
  top: 426px;
  left: 96px;
}
  #NED-bp1-5-unset-item1 .box {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 26px;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-5-unset-item1 .title {
    position: absolute;
    width: 200px;
    top: 0;
    left: 78px;
    color: #025993;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-5-unset-item1 .text {
    position: absolute;
    width: 365px;
    top: 56px;
    left: 78px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp1-5-unset-item2 .item2 {
  position: absolute;
  width: 555px;
  height: 145px;
}
  #NED-bp1-5-unset-item2 .item2:nth-child(1) {
    top: 320px;
    left: 138px;
  }
  #NED-bp1-5-unset-item2 .item2:nth-child(2) {
    top: 572px;
    left: 54px;
  }
  #NED-bp1-5-unset-item2 .box {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 26px;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-5-unset-item2 .title {
    position: absolute;
    width: 200px;
    top: 0;
    left: 78px;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-5-unset-item2 .item2:nth-child(1) .title {
      color: #025993;
    }
    #NED-bp1-5-unset-item2 .item2:nth-child(2) .title {
      color: #FF5961;
    }
  #NED-bp1-5-unset-item2 .text {
    position: absolute;
    width: 365px;
    top: 56px;
    left: 78px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp1-5-unset-item3 .item3 {
  position: absolute;
  width: 555px;
  height: 145px;
}
  #NED-bp1-5-unset-item3 .item3:nth-child(1) {
    top: 228px;
    left: 106px;
  }
  #NED-bp1-5-unset-item3 .item3:nth-child(2) {
    top: 432px;
    left: 152px;
  }
  #NED-bp1-5-unset-item3 .item3:nth-child(3) {
    top: 634px;
    left: 68px;
  }
  #NED-bp1-5-unset-item3 .box {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 26px;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-5-unset-item3 .title {
    position: absolute;
    width: 200px;
    top: 0;
    left: 78px;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-5-unset-item3 .item3:nth-child(1) .title {
      color: #025993;
    }
    #NED-bp1-5-unset-item3 .item3:nth-child(2) .title {
      color: #FF5961;
    }
    #NED-bp1-5-unset-item3 .item3:nth-child(3) .title {
      color: #77D2C9;
    }
  #NED-bp1-5-unset-item3 .text {
    position: absolute;
    width: 365px;
    top: 56px;
    left: 78px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp1-5-unset-item4 .item4 {
  position: absolute;
  width: 555px;
  height: 145px;
}
  #NED-bp1-5-unset-item4 .item4:nth-child(1) {
    top: 184px;
    left: 90px;
  }
  #NED-bp1-5-unset-item4 .item4:nth-child(2) {
    top: 350px;
    left: 136px;
  }
  #NED-bp1-5-unset-item4 .item4:nth-child(3) {
    top: 516px;
    left: 54px;
  }
  #NED-bp1-5-unset-item4 .item4:nth-child(4) {
    top: 682px;
    left: 32px;
  }
  #NED-bp1-5-unset-item4 .box {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 26px;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-5-unset-item4 .title {
    position: absolute;
    width: 200px;
    top: 0;
    left: 78px;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-5-unset-item4 .item4:nth-child(1) .title {
      color: #025993;
    }
    #NED-bp1-5-unset-item4 .item4:nth-child(2) .title {
      color: #FF5961;
    }
    #NED-bp1-5-unset-item4 .item4:nth-child(3) .title {
      color: #77D2C9;
    }
    #NED-bp1-5-unset-item4 .item4:nth-child(4) .title {
      color: #FBCA00;
    }
  #NED-bp1-5-unset-item4 .text {
    position: absolute;
    width: 365px;
    top: 56px;
    left: 78px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp1-5-unset-item1 .bottomCarving,
#NED-bp1-5-unset-item2 .bottomCarving,
#NED-bp1-5-unset-item3 .bottomCarving,
#NED-bp1-5-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 110px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
