#NED-bp1-1-unset-index .icon {
  position: absolute;
  width: 80px;
  height: 60px;
  top: 560px;
  left: 280px;
  z-index: 1;
}
#NED-bp1-1-unset-index .name {
  position: absolute;
  width: 500px;
  top: 394px;
  left: 70px;
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  line-height: 1;
  word-wrap: break-word;
  z-index: 2;
}
#NED-bp1-1-unset-index .tip {
  position: absolute;
  width: 430px;
  top: 470px;
  left: 108px;
  font-size: 26px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.8;
  z-index: 2;
}
