/**
 * carving on the top
 */

#NED-bp1-6-unset-item1 .topCarving,
#NED-bp1-6-unset-item2 .topCarving,
#NED-bp1-6-unset-item3 .topCarving,
#NED-bp1-6-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 78px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp1-6-unset-item1 .headText,
#NED-bp1-6-unset-item2 .headText,
#NED-bp1-6-unset-item3 .headText,
#NED-bp1-6-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 248px;
  top: 76px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** middle line */

#NED-bp1-6-unset-item1 .middleImg {
  position: absolute;
  width: 165px;
  height: 211px;
  top: 310px;
  left: 112px;
  z-index: 5;
}
#NED-bp1-6-unset-item2 .middleImg {
  position: absolute;
  width: 192px;
  height: 295px;
  top: 346px;
  left: 198px;
  z-index: 5;
}
#NED-bp1-6-unset-item3 .middleImg {
  position: absolute;
  width: 283px;
  height: 248px;
  top: 370px;
  left: 176px;
  z-index: 5;
}
#NED-bp1-6-unset-item4 .middleImg {
  position: absolute;
  width: 287px;
  height: 232px;
  top: 374px;
  left: 176px;
  z-index: 5;
}

/** custom center */

#NED-bp1-6-unset-item1 .center,
#NED-bp1-6-unset-item2 .center,
#NED-bp1-6-unset-item3 .center,
#NED-bp1-6-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
* One list item
*/

#NED-bp1-6-unset-item1 .item1 {
  position: absolute;
  width: 275px;
  height: 140px;
  top: 508px;
  left: 320px;
}
  #NED-bp1-6-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    color: #025993;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-6-unset-item1 .item1 .text {
    position: absolute;
    width: 265px;
    left: 0;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
* Two list item
*/

#NED-bp1-6-unset-item2 .item2 {
  position: absolute;
  width: 275px;
  height: 140px;
}
  #NED-bp1-6-unset-item2 .item2:nth-child(1) {
    top: 650px;
    left: 186px;
  }
  #NED-bp1-6-unset-item2 .item2:nth-child(2) {
    top: 200px;
    left: 186px;
  }
  #NED-bp1-6-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-6-unset-item2 .item2:nth-child(1) .title {
      color: #025993;
    }
    #NED-bp1-6-unset-item2 .item2:nth-child(2) .title {
      color: #FF5961;
    }
  #NED-bp1-6-unset-item2 .item2 .text {
    position: absolute;
    width: 265px;
    left: 0;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp1-6-unset-item3 .item3 {
  position: absolute;
  width: 275px;
  height: 140px;
}
  #NED-bp1-6-unset-item3 .item3:nth-child(1) {
    top: 650px;
    left: 30px;
  }
  #NED-bp1-6-unset-item3 .item3:nth-child(2) {
    top: 200px;
    left: 186px;
  }
  #NED-bp1-6-unset-item3 .item3:nth-child(3) {
    top: 650px;
    left: 346px;
  }
  #NED-bp1-6-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-6-unset-item3 .item3:nth-child(1) .title {
      color: #025993;
    }
    #NED-bp1-6-unset-item3 .item3:nth-child(2) .title {
      color: #FF5961;
    }
    #NED-bp1-6-unset-item3 .item3:nth-child(3) .title {
      color: #FBCA00;
    }
  #NED-bp1-6-unset-item3 .item3 .text {
    position: absolute;
    width: 265px;
    left: 0;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp1-6-unset-item4 .item4 {
  position: absolute;
  width: 275px;
  height: 140px;
}
  #NED-bp1-6-unset-item4 .item4:nth-child(1) {
    top: 650px;
    left: 30px;
  }
  #NED-bp1-6-unset-item4 .item4:nth-child(2) {
    top: 200px;
    left: 30px;
  }
  #NED-bp1-6-unset-item4 .item4:nth-child(3) {
    top: 200px;
    left: 346px;
  }
  #NED-bp1-6-unset-item4 .item4:nth-child(4) {
    top: 650px;
    left: 346px;
  }
  #NED-bp1-6-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-6-unset-item4 .item4:nth-child(1) .title {
      color: #025993;
    }
    #NED-bp1-6-unset-item4 .item4:nth-child(2) .title {
      color: #FF5961;
    }
    #NED-bp1-6-unset-item4 .item4:nth-child(3) .title {
      color: #FBCA00;
    }
    #NED-bp1-6-unset-item4 .item4:nth-child(4) .title {
      color: #77D2C9;
    }
  #NED-bp1-6-unset-item4 .item4 .text {
    position: absolute;
    width: 265px;
    left: 0;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp1-6-unset-item1 .bottomCarving,
#NED-bp1-6-unset-item2 .bottomCarving,
#NED-bp1-6-unset-item3 .bottomCarving,
#NED-bp1-6-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 110px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
