/**
 * carving on the top
 */
#NED-bp1-9-unset-item1 .topCarving,
#NED-bp1-9-unset-item2 .topCarving,
#NED-bp1-9-unset-item3 .topCarving,
#NED-bp1-9-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 78px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp1-9-unset-item1 .headText,
#NED-bp1-9-unset-item2 .headText,
#NED-bp1-9-unset-item3 .headText,
#NED-bp1-9-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}
/** custom center */
#NED-bp1-9-unset-item1 .center,
#NED-bp1-9-unset-item2 .center,
#NED-bp1-9-unset-item3 .center,
#NED-bp1-9-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */
#NED-bp1-9-unset-item1 .item1 {
  position: absolute;
  width: 555px;
  height: 176px;
  top: 412px;
  left: 36px;
}
  #NED-bp1-9-unset-item1 .item1 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    left: 0;
    top: 0;
    z-index: 5;
  }
  #NED-bp1-9-unset-item1 .item1 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 22px;
    top: 22px;
    z-index: 6;
  }
    #NED-bp1-9-unset-item1 .item1 .role img {
      border-radius: 50%;
      overflow: hidden;
    }
  #NED-bp1-9-unset-item1 .item1 .nameBox {
    position: absolute;
    width: 280px;
    height: 40px;
    left: 184px;
    top: 34px;
  }
    #NED-bp1-9-unset-item1 .item1 .name {
      position: absolute;
      width: 130px;
      margin: 0 16px 0 0;
      top: 0;
      color: #025993;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
    #NED-bp1-9-unset-item1 .item1 .job {
      position: absolute;
      left: 140px;
      top: 0;
      color: #015993;
      line-height: 1.8;
      word-wrap: break-word;
      font-family: arial;
      font-weight: bolder;
      font-size: 24px;
      z-index: 7;
    }
  #NED-bp1-9-unset-item1 .item1 .text {
    position: absolute;
    width: 370px;
    left: 184px;
    top: 86px;
    color: #3F3F46;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
/**
 * Two list item
 */
#NED-bp1-9-unset-item2 .item2 {
  position: absolute;
  width: 555px;
  height: 176px;
}
  #NED-bp1-9-unset-item2 .item2:nth-child(1) {
    top: 252px;
    left: 36px;
  }
  #NED-bp1-9-unset-item2 .item2:nth-child(2) {
    top: 576px;
    right: 36px;
  }
  #NED-bp1-9-unset-item2 .item2 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp1-9-unset-item2 .item2:nth-child(odd) .edge {
      left: 0;
    }
    #NED-bp1-9-unset-item2 .item2:nth-child(even) .edge {
      right: 0;
    }
  #NED-bp1-9-unset-item2 .item2 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 22px;
    z-index: 6;
  }
    #NED-bp1-9-unset-item2 .item2 .role img {
      border-radius: 50%;
      overflow: hidden;
    }
    #NED-bp1-9-unset-item2 .item2:nth-child(odd) .role {
      left: 22px;
    }
    #NED-bp1-9-unset-item2 .item2:nth-child(even) .role {
      right: 22px;
    }
  #NED-bp1-9-unset-item2 .item2 .nameBox {
    position: absolute;
    width: 280px;
    height: 40px;
    top: 34px;
  }
    #NED-bp1-9-unset-item2 .item2:nth-child(odd) .nameBox {
      left: 184px;
    }
    #NED-bp1-9-unset-item2 .item2:nth-child(even) .nameBox {
      right: 184px;
    }
  #NED-bp1-9-unset-item2 .item2 .name {
    position: absolute;
    width: 130px;
    top: 0;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp1-9-unset-item2 .item2:nth-child(1) .name {
      left: 0;
      text-align: left;
      color: #025993;
    }
    #NED-bp1-9-unset-item2 .item2:nth-child(2) .name {
      right: 0;
      text-align: right;
      color: #FF5961;
    }
  #NED-bp1-9-unset-item2 .item2 .job {
    position: absolute;
    top: 0;
    color: #015993;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 24px;
    z-index: 7;
  }
    #NED-bp1-9-unset-item2 .item2:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp1-9-unset-item2 .item2:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp1-9-unset-item2 .item2 .text {
    position: absolute;
    width: 370px;
    top: 86px;
    color: #3F3F46;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp1-9-unset-item2 .item2:nth-child(odd) .text {
      left: 184px;
    }
    #NED-bp1-9-unset-item2 .item2:nth-child(even) .text {
      right: 184px;
      text-align: right;
    }

/**
 * Three list item
 */
#NED-bp1-9-unset-item3 .item3 {
  position: absolute;
  width: 555px;
  height: 176px;
}
  #NED-bp1-9-unset-item3 .item3:nth-child(1) {
    top: 176px;
    left: 36px;
  }
  #NED-bp1-9-unset-item3 .item3:nth-child(2) {
    top: 414px;
    right: 36px;
  }
  #NED-bp1-9-unset-item3 .item3:nth-child(3) {
    top: 652px;
    left: 36px;
  }
  #NED-bp1-9-unset-item3 .item3 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp1-9-unset-item3 .item3:nth-child(odd) .edge {
      left: 0;
    }
    #NED-bp1-9-unset-item3 .item3:nth-child(even) .edge {
      right: 0;
    }
  #NED-bp1-9-unset-item3 .item3 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 22px;
    z-index: 6;
  }
    #NED-bp1-9-unset-item3 .item3 .role img {
      border-radius: 50%;
      overflow: hidden;
    }
    #NED-bp1-9-unset-item3 .item3:nth-child(odd) .role {
      left: 22px;
    }
    #NED-bp1-9-unset-item3 .item3:nth-child(even) .role {
      right: 22px;
    }
  #NED-bp1-9-unset-item3 .item3 .nameBox {
    position: absolute;
    width: 280px;
    height: 40px;
    top: 34px;
  }
    #NED-bp1-9-unset-item3 .item3:nth-child(odd) .nameBox {
      left: 184px;
    }
    #NED-bp1-9-unset-item3 .item3:nth-child(even) .nameBox {
      right: 184px;
    }
  #NED-bp1-9-unset-item3 .item3 .name {
    position: absolute;
    width: 130px;
    top: 0;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp1-9-unset-item3 .item3:nth-child(1) .name {
      left: 0;
      color: #025993;
    }
    #NED-bp1-9-unset-item3 .item3:nth-child(2) .name {
      right: 0;
      text-align: right;
      color: #FF5961;
    }
    #NED-bp1-9-unset-item3 .item3:nth-child(3) .name {
      left: 0;
      color: #FBCA00;
    }
  #NED-bp1-9-unset-item3 .item3 .job {
    position: absolute;
    top: 0;
    color: #015993;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 24px;
    z-index: 7;
  }
    #NED-bp1-9-unset-item3 .item3:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp1-9-unset-item3 .item3:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp1-9-unset-item3 .item3 .text {
    position: absolute;
    width: 370px;
    top: 86px;
    color: #3F3F46;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp1-9-unset-item3 .item3:nth-child(odd) .text {
      left: 184px;
    }
    #NED-bp1-9-unset-item3 .item3:nth-child(even) .text {
      right: 184px;
      text-align: right;
    }

/**
 * Four list item
 */
#NED-bp1-9-unset-item4 .item4 {
  position: absolute;
  width: 555px;
  height: 176px;
}
  #NED-bp1-9-unset-item4 .item4:nth-child(1) {
    top: 144px;
    left: 36px;
  }
  #NED-bp1-9-unset-item4 .item4:nth-child(2) {
    top: 322px;
    right: 36px;
  }
  #NED-bp1-9-unset-item4 .item4:nth-child(3) {
    top: 500px;
    right: 36px;
  }
  #NED-bp1-9-unset-item4 .item4:nth-child(4) {
    top: 678px;
    right: 36px;
  }
  #NED-bp1-9-unset-item4 .item4 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp1-9-unset-item4 .item4:nth-child(odd) .edge {
      left: 0;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(even) .edge {
      right: 0;
    }
  #NED-bp1-9-unset-item4 .item4 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 22px;
    z-index: 6;
  }
    #NED-bp1-9-unset-item4 .item4 .role img {
      border-radius: 50%;
      overflow: hidden;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(odd) .role {
      left: 22px;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(even) .role {
      right: 22px;
    }
  #NED-bp1-9-unset-item4 .item4 .nameBox {
    position: absolute;
    width: 280px;
    height: 40px;
    top: 34px;
  }
    #NED-bp1-9-unset-item4 .item4:nth-child(odd) .nameBox {
      left: 184px;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(even) .nameBox {
      right: 184px;
    }
  #NED-bp1-9-unset-item4 .item4 .name {
    position: absolute;
    width: 130px;
    top: 0;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp1-9-unset-item4 .item4:nth-child(1) .name {
      left: 0;
      color: #025993;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(2) .name {
      right: 0;
      text-align: right;
      color: #FF5961;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(3) .name {
      left: 0;
      color: #FBCA00;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(4) .name {
      right: 0;
      text-align: right;
      color: #77D2C9;
    }
  #NED-bp1-9-unset-item4 .item4 .job {
    position: absolute;
    top: 0;
    color: #015993;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 24px;
    z-index: 7;
  }
    #NED-bp1-9-unset-item4 .item4:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp1-9-unset-item4 .item4 .text {
    position: absolute;
    width: 370px;
    top: 86px;
    color: #3F3F46;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp1-9-unset-item4 .item4:nth-child(odd) .text {
      left: 184px;
    }
    #NED-bp1-9-unset-item4 .item4:nth-child(even) .text {
      right: 184px;
      text-align: right;
    }
/**
 * carving on the bottom
 */
#NED-bp1-9-unset-item1 .bottomCarving,
#NED-bp1-9-unset-item2 .bottomCarving,
#NED-bp1-9-unset-item3 .bottomCarving,
#NED-bp1-9-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 110px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
