/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp1-4-unset-introduction .headerText {
  position: absolute;
  left: 254px;
  top: 428px;
  text-align: center;
  color: #CB1723;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** middle image */
#NED-bp1-4-unset-introduction .middleImgBack {
  position: absolute;
  width: 640px;
  height: 379px;
  top: 0;
  left: 0;
  z-index: 2;
}
#NED-bp1-4-unset-introduction .middleImg {
  position: absolute;
  width: 640px;
  height: 258px;
  top: 46px;
  left: 0;
  z-index: 4;
}
#NED-bp1-4-unset-introduction .middleImgCarver {
  position: absolute;
  width: 193px;
  height: 129px;
  top: 250px;
  left: 152px;
  z-index: 5;
}

/** introduction */

#NED-bp1-4-unset-introduction .introduction {
  position: absolute;
  width: 530px;
  left: 58px;
  top: 480px;
  z-index: 6;
}
#NED-bp1-4-unset-introduction .edgeImg {
  position: absolute;
  width: 566px;
  height: 511px;
  left: 36px;
  top: 402px;
  z-index: 5;
}
