/**
 * carving on the top
 */

#NED-bp1-3-unset-item1 .topCarving,
#NED-bp1-3-unset-item2 .topCarving,
#NED-bp1-3-unset-item3 .topCarving,
#NED-bp1-3-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 78px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp1-3-unset-item1 .headText,
#NED-bp1-3-unset-item2 .headText,
#NED-bp1-3-unset-item3 .headText,
#NED-bp1-3-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 248px;
  top: 76px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** custom center */

#NED-bp1-3-unset-item1 .center,
#NED-bp1-3-unset-item2 .center,
#NED-bp1-3-unset-item3 .center,
#NED-bp1-3-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp1-3-unset-item1 .item1 {
  position: absolute;
  width: 245px;
  height: 140px;
  top: 434px;
  left: 66px;
}
  #NED-bp1-3-unset-item1 .item1 .titleIcon {
    position: absolute;
    width: 94px;
    height: 94px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-3-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    top: 0;
    left: 130px;
    color: #025993;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-3-unset-item1 .item1 .text {
    position: absolute;
    width: 400px;
    top: 52px;
    left: 130px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp1-3-unset-item2 .item2 {
  position: absolute;
  width: 500px;
  height: 140px;
}
  #NED-bp1-3-unset-item2 .item2:nth-child(1) {
    top: 312px;
    left: 66px;
  }
  #NED-bp1-3-unset-item2 .item2:nth-child(2) {
    top: 558px;
    right: 62px;
  }
  #NED-bp1-3-unset-item2 .item2 .titleIcon {
    position: absolute;
    width: 94px;
    height: 94px;
    top: 0;
    z-index: 5;
  }
    #NED-bp1-3-unset-item2 .item2:nth-child(odd) .titleIcon {
      left: 0;
    }
    #NED-bp1-3-unset-item2 .item2:nth-child(even) .titleIcon {
      right: 0;
    }
  #NED-bp1-3-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    top: 0;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-3-unset-item2 .item2:nth-child(1) .title {
      color: #025993;
      left: 130px;
    }
    #NED-bp1-3-unset-item2 .item2:nth-child(2) .title {
      color: #FF5961;
      right: 130px;
      text-align: right;
    }
  #NED-bp1-3-unset-item2 .item2 .text {
    position: absolute;
    width: 400px;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-3-unset-item2 .item2:nth-child(odd) .text {
      left: 130px;
    }
    #NED-bp1-3-unset-item2 .item2:nth-child(even) .text {
      right: 130px;
    }

/**
 * Three list item
 */

#NED-bp1-3-unset-item3 .item3 {
  position: absolute;
  width: 500px;
  height: 140px;
}
  #NED-bp1-3-unset-item3 .item3:nth-child(1) {
    top: 238px;
    left: 66px;
  }
  #NED-bp1-3-unset-item3 .item3:nth-child(2) {
    top: 436px;
    right: 62px;
  }
  #NED-bp1-3-unset-item3 .item3:nth-child(3) {
    top: 634px;
    right: 62px;
  }
  #NED-bp1-3-unset-item3 .item3 .titleIcon {
    position: absolute;
    width: 94px;
    height: 94px;
    top: 0;
    z-index: 5;
  }
    #NED-bp1-3-unset-item3 .item3:nth-child(odd) .titleIcon {
      left: 0;
    }
    #NED-bp1-3-unset-item3 .item3:nth-child(even) .titleIcon {
      right: 0;
    }
  #NED-bp1-3-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    top: 0;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-3-unset-item3 .item3:nth-child(1) .title {
      color: #025993;
      left: 130px;
    }
    #NED-bp1-3-unset-item3 .item3:nth-child(2) .title {
      color: #FF5961;
      right: 130px;
      text-align: right;
    }
    #NED-bp1-3-unset-item3 .item3:nth-child(3) .title {
      color: #FBCA00;
      left: 130px;
    }
  #NED-bp1-3-unset-item3 .item3 .text {
    position: absolute;
    width: 400px;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-3-unset-item3 .item3:nth-child(odd) .text {
      left: 130px;
    }
    #NED-bp1-3-unset-item3 .item3:nth-child(even) .text {
      right: 130px;
    }

/**
 * Four list item
 */

#NED-bp1-3-unset-item4 .item4 {
  position: absolute;
  width: 500px;
  height: 140px;
}
  #NED-bp1-3-unset-item4 .item4:nth-child(1) {
    top: 190px;
    left: 66px;
  }
  #NED-bp1-3-unset-item4 .item4:nth-child(2) {
    top: 350px;
    right: 62px;
  }
  #NED-bp1-3-unset-item4 .item4:nth-child(3) {
    top: 510px;
    right: 62px;
  }
  #NED-bp1-3-unset-item4 .item4:nth-child(4) {
    top: 670px;
    right: 62px;
  }
  #NED-bp1-3-unset-item4 .item4 .titleIcon {
    position: absolute;
    width: 94px;
    height: 94px;
    top: 0;
    z-index: 5;
  }
    #NED-bp1-3-unset-item4 .item4:nth-child(odd) .titleIcon {
      left: 0;
    }
    #NED-bp1-3-unset-item4 .item4:nth-child(even) .titleIcon {
      right: 0;
    }
  #NED-bp1-3-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    top: 0;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-3-unset-item4 .item4:nth-child(1) .title {
      color: #025993;
      left: 130px;
    }
    #NED-bp1-3-unset-item4 .item4:nth-child(2) .title {
      color: #FF5961;
      right: 130px;
      text-align: right;
    }
    #NED-bp1-3-unset-item4 .item4:nth-child(3) .title {
      color: #FBCA00;
      left: 130px;
    }
    #NED-bp1-3-unset-item4 .item4:nth-child(4) .title {
      color: #77D2C9;
      right: 130px;
      text-align: right;
    }
  #NED-bp1-3-unset-item4 .item4 .text {
    position: absolute;
    width: 400px;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-3-unset-item4 .item4:nth-child(odd) .text {
      left: 130px;
    }
    #NED-bp1-3-unset-item4 .item4:nth-child(even) .text {
      right: 130px;
    }

/**
 * carving on the bottom
 */

#NED-bp1-3-unset-item1 .bottomCarving,
#NED-bp1-3-unset-item2 .bottomCarving,
#NED-bp1-3-unset-item3 .bottomCarving,
#NED-bp1-3-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 159px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
