/**
 * carving on the top
 */

#NED-bp1-7-unset-item1 .topCarving,
#NED-bp1-7-unset-item2 .topCarving,
#NED-bp1-7-unset-item3 .topCarving,
#NED-bp1-7-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 78px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp1-7-unset-item1 .headText,
#NED-bp1-7-unset-item2 .headText,
#NED-bp1-7-unset-item3 .headText,
#NED-bp1-7-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** custom center */

#NED-bp1-7-unset-item1 .center,
#NED-bp1-7-unset-item2 .center,
#NED-bp1-7-unset-item3 .center,
#NED-bp1-7-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp1-7-unset-item1 .item1 {
  position: absolute;
  width: 580px;
  height: 170px;
  top: 414px;
  left: 30px;
}
  #NED-bp1-7-unset-item1 .item1 .titleIcon {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-7-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    top: 16px;
    left: 182px;
    color: #025993;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-7-unset-item1 .item1 .text {
    position: absolute;
    width: 400px;
    top: 68px;
    left: 182px;
    line-height: 1.25;
    color: #3F3F46;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp1-7-unset-item2 .item2 {
  position: absolute;
  width: 580px;
  height: 170px;
  left: 30px;
}
  #NED-bp1-7-unset-item2 .item2:nth-child(1) {
    top: 286px;
  }
  #NED-bp1-7-unset-item2 .item2:nth-child(2) {
    top: 546px;
  }
  #NED-bp1-7-unset-item2 .item2 .titleIcon {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-7-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    top: 16px;
    left: 182px;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-7-unset-item2 .item2:nth-child(1) {
      color: #025993;
    }
    #NED-bp1-7-unset-item2 .item2:nth-child(2) {
      color: #FF5961;
    }
  #NED-bp1-7-unset-item2 .item2 .text {
    position: absolute;
    width: 400px;
    top: 65px;
    left: 182px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp1-7-unset-item3 .item3 {
  position: absolute;
  width: 580px;
  height: 170px;
  left: 30px;
}
  #NED-bp1-7-unset-item3 .item3:nth-child(1) {
    top: 212px;
  }
  #NED-bp1-7-unset-item3 .item3:nth-child(2) {
    top: 414px;
  }
  #NED-bp1-7-unset-item3 .item3:nth-child(3) {
    top: 618px;
  }
  #NED-bp1-7-unset-item3 .item3 .titleIcon {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-7-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    top: 16px;
    left: 182px;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-7-unset-item3 .item3:nth-child(1) .title {
      color: #025993;
    }
    #NED-bp1-7-unset-item3 .item3:nth-child(2) .title {
      color: #FF5961;
    }
    #NED-bp1-7-unset-item3 .item3:nth-child(3) .title {
      color: #77D2C9;
    }
  #NED-bp1-7-unset-item3 .item3 .text {
    position: absolute;
    width: 400px;
    top: 68px;
    left: 182px;
    line-height: 1.25;
    color: #3F3F46;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp1-7-unset-item4 .item4 {
  position: absolute;
  width: 580px;
  height: 170px;
  left: 30px;
}
  #NED-bp1-7-unset-item4 .item4:nth-child(1) {
    top: 168px;
  }
  #NED-bp1-7-unset-item4 .item4:nth-child(2) {
    top: 330px;
  }
  #NED-bp1-7-unset-item4 .item4:nth-child(3) {
    top: 492px;
  }
  #NED-bp1-7-unset-item4 .item4:nth-child(4) {
    top: 654px;
  }
  #NED-bp1-7-unset-item4 .item4 .titleIcon {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp1-7-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    top: 16px;
    left: 182px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp1-7-unset-item4 .item4:nth-child(1) .title {
      color: #025993;
    }
    #NED-bp1-7-unset-item4 .item4:nth-child(2) .title {
      color: #FF5961;
    }
    #NED-bp1-7-unset-item4 .item4:nth-child(3) .title {
      color: #77D2C9;
    }
    #NED-bp1-7-unset-item4 .item4:nth-child(4) .title {
      color: #FBCA00;
    }
  #NED-bp1-7-unset-item4 .item4 .text {
    position: absolute;
    width: 400px;
    top: 68px;
    left: 182px;
    line-height: 1.25;
    color: #3F3F46;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp1-7-unset-item1 .bottomCarving,
#NED-bp1-7-unset-item2 .bottomCarving,
#NED-bp1-7-unset-item3 .bottomCarving,
#NED-bp1-7-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 110px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
