/**
 * carving on the top
 */

#NED-bp1-10-unset-item1 .topCarving,
#NED-bp1-10-unset-item2 .topCarving,
#NED-bp1-10-unset-item3 .topCarving,
#NED-bp1-10-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 78px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp1-10-unset-item1 .headText,
#NED-bp1-10-unset-item2 .headText,
#NED-bp1-10-unset-item3 .headText,
#NED-bp1-10-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/**
 * The custom description area
 */

#NED-bp1-10-unset-item1 .description,
#NED-bp1-10-unset-item2 .description,
#NED-bp1-10-unset-item3 .description,
#NED-bp1-10-unset-item4 .description {
  position: absolute;
  width: 440px;
  top: 264px;
  left: 100px;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  z-index: 6;
}

/** center image */

#NED-bp1-10-unset-item1 .centerImg {
  position: absolute;
  width: 490px;
  height: 84px;
  top: 542px;
  left: 60px;
  z-index: 3;
}
#NED-bp1-10-unset-item2 .centerImg {
  position: absolute;
  width: 519px;
  height: 165px;
  top: 484px;
  left: 60px;
  z-index: 3;
}
#NED-bp1-10-unset-item3 .centerImg {
  position: absolute;
  width: 519px;
  height: 245px;
  top: 442px;
  left: 60px;
  z-index: 3;
}
#NED-bp1-10-unset-item4 .centerImg {
  position: absolute;
  width: 520px;
  height: 325px;
  top: 404px;
  left: 60px;
  z-index: 3;
}

/** custom center */

#NED-bp1-10-unset-item1 .center,
#NED-bp1-10-unset-item2 .center,
#NED-bp1-10-unset-item3 .center,
#NED-bp1-10-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp1-10-unset-item1 .item1 {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 566px;
  left: 0;
}
  #NED-bp1-10-unset-item1 .item1 .title {
    position: absolute;
    top: 0;
    left: 156px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-10-unset-item1 .item1 .text {
    position: absolute;
    top: 4px;
    left: 410px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp1-10-unset-item2 .item2 {
  position: absolute;
  width: 100%;
  height: 80px;
}
  #NED-bp1-10-unset-item2 .item2:nth-child(1) {
    top: 508px;
    left: 0;
  }
  #NED-bp1-10-unset-item2 .item2:nth-child(2) {
    top: 588px;
    left: 0;
  }
  #NED-bp1-10-unset-item2 .item2 .title {
    position: absolute;
    top: 0;
    left: 156px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-10-unset-item2 .item2 .text {
    position: absolute;
    top: 4px;
    left: 410px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp1-10-unset-item3 .item3 {
  position: absolute;
  width: 100%;
  height: 80px;
}
  #NED-bp1-10-unset-item3 .item3:nth-child(1) {
    top: 470px;
    left: 0;
  }
  #NED-bp1-10-unset-item3 .item3:nth-child(2) {
    top: 546px;
    left: 0;
  }
  #NED-bp1-10-unset-item3 .item3:nth-child(3) {
    top: 624px;
    left: 0;
  }
  #NED-bp1-10-unset-item3 .item3 .title {
    position: absolute;
    top: 0;
    left: 156px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-10-unset-item3 .item3 .text {
    position: absolute;
    top: 4px;
    left: 410px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp1-10-unset-item4 .item4 {
  position: absolute;
  width: 100%;
  height: 80px;
}
  #NED-bp1-10-unset-item4 .item4:nth-child(1) {
    top: 428px;
    left: 0;
  }
  #NED-bp1-10-unset-item4 .item4:nth-child(2) {
    top: 508px;
    left: 0;
  }
  #NED-bp1-10-unset-item4 .item4:nth-child(3) {
    top: 588px;
    left: 0;
  }
  #NED-bp1-10-unset-item4 .item4:nth-child(4) {
    top: 668px;
    left: 0;
  }
  #NED-bp1-10-unset-item4 .item4 .title {
    position: absolute;
    top: 0;
    left: 156px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp1-10-unset-item4 .item4 .text {
    position: absolute;
    top: 4px;
    left: 410px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp1-10-unset-item1 .bottomCarving,
#NED-bp1-10-unset-item2 .bottomCarving,
#NED-bp1-10-unset-item3 .bottomCarving,
#NED-bp1-10-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 110px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
