#NED-bp5-1-unset-index .nameBox {
    position: absolute;
    width: 438px;
    height: 220px;
    top: 288px;
    left: 102px;
    z-index: 1;
}
#NED-bp5-1-unset-index .name {
    position: absolute;
    width: 242px;
    left: 200px;
    top: 342px;
    font-size: 48px;
    text-align: left;
    color: #FEB30D;
    line-height: 1.25;
    word-wrap: break-word;
    font-weight: bold;
    z-index: 6;
}
#NED-bp5-1-unset-index .intro {
    position: absolute;
    width: 480px;
    top: 597px;
    left: 80px;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.8;
    word-wrap: break-word;
    z-index: 6;
}
