/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-10-unset-item1 .headerLine,
#NED-bp5-10-unset-item2 .headerLine,
#NED-bp5-10-unset-item3 .headerLine,
#NED-bp5-10-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-10-unset-item1 .headerText,
#NED-bp5-10-unset-item2 .headerText,
#NED-bp5-10-unset-item3 .headerText,
#NED-bp5-10-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
/**
 * The custom description area
 */
#NED-bp5-10-unset-item1 .description,
#NED-bp5-10-unset-item2 .description,
#NED-bp5-10-unset-item3 .description,
#NED-bp5-10-unset-item4 .description {
    position: absolute;
    width: 100%;
    height: 129px;
    top: 192px;
}
    #NED-bp5-10-unset-item1 .description .descriptionText,
    #NED-bp5-10-unset-item2 .description .descriptionText,
    #NED-bp5-10-unset-item3 .description .descriptionText,
    #NED-bp5-10-unset-item4 .description .descriptionText {
        position: absolute;
        width: 440px;
        top: 46px;
        left: 100px;
        text-align: center;
        color: #FFFFFF;
        line-height: 1;
        font-size: 28px;
        z-index: 6;
    }

/** custom center */
#NED-bp5-10-unset-item1 .center,
#NED-bp5-10-unset-item2 .center,
#NED-bp5-10-unset-item3 .center,
#NED-bp5-10-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 632px;
    top: 321px;
}
    #NED-bp5-10-unset-item1 .center .centerImg {
        position: absolute;
        width: 265px;
        height: 265px;
        top: 75px;
        left: 265px;
        z-index: 2;
    }
    #NED-bp5-10-unset-item2 .center .centerImg {
        position: absolute;
        width: 265px;
        height: 265px;
        top: 75px;
        left: 188px;
        z-index: 2;
    }
    #NED-bp5-10-unset-item3 .center .centerImg {
        position: absolute;
        width: 265px;
        height: 265px;
        top: 141px;
        left: 188px;
        z-index: 2;
    }
    #NED-bp5-10-unset-item4 .center .centerImg {
        position: absolute;
        width: 265px;
        height: 265px;
        top: 141px;
        left: 188px;
        z-index: 2;
    }

/**
 * One list item
 */
#NED-bp5-10-unset-item1 .item1 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp5-10-unset-item1 .item1 .title {
        position: absolute;
        left: 106px;
        top: 385px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-10-unset-item1 .item1 .textLine {
        position: absolute;
        width: 142px;
        height: 60px;
        left: 106px;
        top: 403px;
        z-index: 5;
    }
    #NED-bp5-10-unset-item1 .item1 .text {
        position: absolute;
        left: 106px;
        top: 446px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-10-unset-item1 .item1 .thumb {
        position: absolute;
        width: 85px;
        height: 85px;
        left: 249px;
        top: 253px;
        z-index: 5;
    }

/**
 * Two list item
 */
#NED-bp5-10-unset-item2 .item2 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp5-10-unset-item2 .item2 .title {
        position: absolute;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp5-10-unset-item2 .item2:nth-child(1) .title {
            left: 417px;
            top: 385px;
        }
        #NED-bp5-10-unset-item2 .item2:nth-child(2) .title {
            left: 30px;
            top: 385px;
        }
    #NED-bp5-10-unset-item2 .item2 .textLine {
        position: absolute;
        width: 142px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp5-10-unset-item2 .item2:nth-child(1) .textLine {
            left: 417px;
            top: 402px;
        }
        #NED-bp5-10-unset-item2 .item2:nth-child(2) .textLine {
            left: 30px;
            top: 402px;
        }
    #NED-bp5-10-unset-item2 .item2 .text {
        position: absolute;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp5-10-unset-item2 .item2:nth-child(1) .text {
            left: 417px;
            top: 446px;
        }
        #NED-bp5-10-unset-item2 .item2:nth-child(2) .text {
            left: 30px;
            top: 446px;
        }
    #NED-bp5-10-unset-item2 .item2 .thumb {
        position: absolute;
        width: 85px;
        height: 85px;
        z-index: 5;
    }
        #NED-bp5-10-unset-item2 .item2:nth-child(1) .thumb {
            left: 384px;
            top: 253px;
        }
        #NED-bp5-10-unset-item2 .item2:nth-child(2) .thumb {
            left: 172px;
            top: 253px;
        }

/**
 * Three list item
 */
#NED-bp5-10-unset-item3 .item3 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp5-10-unset-item3 .item3 .title {
        position: absolute;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp5-10-unset-item3 .item3:nth-child(1) .title {
            left: 224px;
            top: 9px;
        }
        #NED-bp5-10-unset-item3 .item3:nth-child(2) .title {
            left: 417px;
            top: 451px;
        }
        #NED-bp5-10-unset-item3 .item3:nth-child(3) .title {
            left: 30px;
            top: 451px;
        }
    #NED-bp5-10-unset-item3 .item3 .textLine {
        position: absolute;
        width: 142px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp5-10-unset-item3 .item3:nth-child(1) .textLine {
            left: 224px;
            top: 27px;
        }
        #NED-bp5-10-unset-item3 .item3:nth-child(2) .textLine {
            left: 417px;
            top: 469px;
        }
        #NED-bp5-10-unset-item3 .item3:nth-child(3) .textLine {
            left: 30px;
            top: 469px;
        }
    #NED-bp5-10-unset-item3 .item3 .text {
        position: absolute;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp5-10-unset-item3 .item3:nth-child(1) .text {
            left: 224px;
            top: 70px;
        }
        #NED-bp5-10-unset-item3 .item3:nth-child(2) .text {
            left: 417px;
            top: 512px;
        }
        #NED-bp5-10-unset-item3 .item3:nth-child(3) .text {
            left: 30px;
            top: 512px;
        }
    #NED-bp5-10-unset-item3 .item3 .thumb {
        position: absolute;
        width: 85px;
        height: 85px;
        z-index: 5;
    }
        #NED-bp5-10-unset-item3 .item3:nth-child(1) .thumb {
            left: 278px;
            top: 107px;
        }
        #NED-bp5-10-unset-item3 .item3:nth-child(2) .thumb {
            left: 384px;
            top: 319px;
        }
        #NED-bp5-10-unset-item3 .item3:nth-child(3) .thumb {
            left: 172px;
            top: 319px;
        }

/**
 * Four list item
 */
#NED-bp5-10-unset-item4 .item4 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp5-10-unset-item4 .item4 .title {
        position: absolute;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp5-10-unset-item4 .item4:nth-child(1) .title {
            left: 30px;
            top: 9px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(2) .title {
            left: 417px;
            top: 9px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(3) .title {
            left: 417px;
            top: 451px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(4) .title {
            left: 30px;
            top: 451px;
        }
    #NED-bp5-10-unset-item4 .item4 .textLine {
        position: absolute;
        width: 142px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp5-10-unset-item4 .item4:nth-child(1) .textLine {
            left: 30px;
            top: 27px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(2) .textLine {
            left: 417px;
            top: 27px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(3) .textLine {
            left: 417px;
            top: 469px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(4) .textLine {
            left: 30px;
            top: 469px;
        }
    #NED-bp5-10-unset-item4 .item4 .text {
        position: absolute;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp5-10-unset-item4 .item4:nth-child(1) .text {
            left: 30px;
            top: 70px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(2) .text {
            left: 417px;
            top: 70px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(3) .text {
            left: 417px;
            top: 512px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(4) .text {
            left: 30px;
            top: 512px;
        }
    #NED-bp5-10-unset-item4 .item4 .thumb {
        position: absolute;
        width: 85px;
        height: 85px;
        z-index: 5;
    }
        #NED-bp5-10-unset-item4 .item4:nth-child(1) .thumb {
            left: 172px;
            top: 137px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(2) .thumb {
            left: 384px;
            top: 137px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(3) .thumb {
            left: 384px;
            top: 319px;
        }
        #NED-bp5-10-unset-item4 .item4:nth-child(4) .thumb {
            left: 172px;
            top: 319px;
        }
