/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-8-unset-item1 .headerLine,
#NED-bp5-8-unset-item2 .headerLine,
#NED-bp5-8-unset-item3 .headerLine,
#NED-bp5-8-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-8-unset-item1 .headerText,
#NED-bp5-8-unset-item2 .headerText,
#NED-bp5-8-unset-item3 .headerText,
#NED-bp5-8-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp5-8-unset-item2 .middleLine {
    position: absolute;
    width: 85px;
    height: 249px;
    left: 84px;
    top: 376px;
    z-index: 2;
}
#NED-bp5-8-unset-item3 .middleLine {
    position: absolute;
    width: 91px;
    height: 406px;
    left: 100px;
    top: 325px;
    z-index: 2;
}
#NED-bp5-8-unset-item4 .middleLine {
    position: absolute;
    width: 113px;
    height: 487px;
    left: 82px;
    top: 292px;
    z-index: 2;
}

/** custom center */
#NED-bp5-8-unset-item1 .center,
#NED-bp5-8-unset-item2 .center,
#NED-bp5-8-unset-item3 .center,
#NED-bp5-8-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/**
* One list item
*/
#NED-bp5-8-unset-item1 .item1 {
   position: relative;
   width: 465px;
   height: 160px;
   left: 96px;
   top: 426px;
}
    #NED-bp5-8-unset-item1 .item1 .titleImg {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 26px;
    }
   #NED-bp5-8-unset-item1 .item1 .title {
       position: absolute;
       width: 200px;
       left: 78px;
       top: 0;
       color: #FEB30D;
       line-height: 1;
       word-wrap: break-word;
       z-index: 6;
   }
   #NED-bp5-8-unset-item1 .item1 .text {
       position: absolute;
       width: 365px;
       left: 78px;
       top: 52px;
       color: #FFFFFF;
       line-height: 1.25;
       word-wrap: break-word;
       z-index: 6;
   }

/**
* Two list item
*/
#NED-bp5-8-unset-item2 .item2 {
   position: absolute;
   width: 465px;
   height: 160px;
}
    #NED-bp5-8-unset-item2 .item2:nth-child(1) {
        left: 138px;
        top: 320px;
    }
    #NED-bp5-8-unset-item2 .item2:nth-child(2) {
        left: 54px;
        top: 572px;
    }
    #NED-bp5-8-unset-item2 .item2 .titleImg {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 26px;
    }
    #NED-bp5-8-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 78px;
        top: 0;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-8-unset-item2 .item2 .text {
        position: absolute;
        width: 365px;
        left: 78px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp5-8-unset-item3 .item3 {
    position: absolute;
    width: 465px;
    height: 160px;
}
    #NED-bp5-8-unset-item3 .item3:nth-child(1) {
        left: 116px;
        top: 270px;
    }
    #NED-bp5-8-unset-item3 .item3:nth-child(2) {
        left: 164px;
        top: 470px;
    }
    #NED-bp5-8-unset-item3 .item3:nth-child(3) {
        left: 80px;
        top: 674px;
    }
    #NED-bp5-8-unset-item3 .item3 .titleImg {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 26px;
    }
    #NED-bp5-8-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 78px;
        top: 0;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-8-unset-item3 .item3 .text {
        position: absolute;
        width: 365px;
        left: 78px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp5-8-unset-item4 .item4 {
    position: absolute;
    width: 465px;
    height: 160px;
}
    #NED-bp5-8-unset-item4 .item4:nth-child(1) {
        left: 116px;
        top: 226px;
    }
    #NED-bp5-8-unset-item4 .item4:nth-child(2) {
        left: 165px;
        top: 392px;
    }
    #NED-bp5-8-unset-item4 .item4:nth-child(3) {
        left: 80px;
        top: 558px;
    }
    #NED-bp5-8-unset-item4 .item4:nth-child(4) {
        left: 57px;
        top: 724px;
    }
    #NED-bp5-8-unset-item4 .item4 .titleImg {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 26px;
    }
    #NED-bp5-8-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        left: 78px;
        top: 0;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-8-unset-item4 .item4 .text {
        position: absolute;
        width: 365px;
        left: 78px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
