/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp5-9-unset-item1 .headerLine,
#NED-bp5-9-unset-item2 .headerLine,
#NED-bp5-9-unset-item3 .headerLine,
#NED-bp5-9-unset-item4 .headerLine {
  position: absolute;
  width: 527px;
  height: 60px;
  left: 44px;
  top: 126px;
  z-index: 1;
}

/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp5-9-unset-item1 .headerText,
#NED-bp5-9-unset-item2 .headerText,
#NED-bp5-9-unset-item3 .headerText,
#NED-bp5-9-unset-item4 .headerText {
  position: absolute;
  left: 44px;
  top: 72px;
  text-align: left;
  color: #FFFFFF;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** custom center */

#NED-bp5-9-unset-item1 .center {
  position: absolute;
  width: 100%;
  top: 418px;
}
#NED-bp5-9-unset-item2 .center {
  position: absolute;
  width: 100%;
  top: 252px;
}
#NED-bp5-9-unset-item3 .center {
  position: absolute;
  width: 100%;
  top: 186px;
}
#NED-bp5-9-unset-item4 .center {
  position: absolute;
  width: 100%;
  top: 166px;
}

/**
 * One list item
 */

#NED-bp5-9-unset-item1 .item1 {
  position: relative;
  width: 100%;
  height: 232px;
}
  #NED-bp5-9-unset-item1 .item1 .edge {
    position: absolute;
    width: 290px;
    height: 178px;
    left: 280px;
    top: 0;
    z-index: 5;
  }
  #NED-bp5-9-unset-item1 .item1 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 102px;
    top: 22px;
    z-index: 6;
  }
    #NED-bp5-9-unset-item1 .item1 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
  #NED-bp5-9-unset-item1 .item1 .nameBox {
    position: absolute;
    width: 255px;
    height: 40px;
    left: 314px;
    top: 22px;
  }
    #NED-bp5-9-unset-item1 .item1 .name {
      position: relative;
      float: left;
      margin: 0 12px 0 0;
      top: 0;
      color: #FFFFFF;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
    #NED-bp5-9-unset-item1 .item1 .job {
      position: relative;
      float: left;
      top: 0;
      color: #FEB30D;
      margin: 0 0 0 10px;
      line-height: 1.8;
      word-wrap: break-word;
      font-family: arial;
      font-weight: bolder;
      font-size: 24px;
      z-index: 7;
    }
  #NED-bp5-9-unset-item1 .item1 .text {
    position: absolute;
    width: 250px;
    left: 314px;
    top: 74px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }

/**
* Two list item
*/

#NED-bp5-9-unset-item2 .item2 {
  position: relative;
  width: 100%;
  height: 330px;
}
  #NED-bp5-9-unset-item2 .item2 .edge {
    position: absolute;
    width: 290px;
    height: 178px;
    left: 280px;
    top: 0;
    z-index: 5;
  }
  #NED-bp5-9-unset-item2 .item2 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 102px;
    top: 22px;
    z-index: 6;
  }
    #NED-bp5-9-unset-item2 .item2 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
  #NED-bp5-9-unset-item2 .item2 .nameBox {
    position: absolute;
    width: 255px;
    height: 40px;
    left: 314px;
    top: 22px;
  }
    #NED-bp5-9-unset-item2 .item2 .name {
      position: relative;
      float: left;
      margin: 0 12px 0 0;
      top: 0;
      color: #FFFFFF;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
    #NED-bp5-9-unset-item2 .item2 .job {
      position: relative;
      float: left;
      top: 0;
      color: #FEB30D;
      margin: 0 0 0 10px;
      line-height: 1.8;
      word-wrap: break-word;
      font-family: arial;
      font-weight: bolder;
      font-size: 24px;
      z-index: 7;
    }
  #NED-bp5-9-unset-item2 .item2 .text {
    position: absolute;
    width: 250px;
    left: 314px;
    top: 74px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }

/**
 * Three list item
 */

#NED-bp5-9-unset-item3 .item3 {
  position: relative;
  width: 100%;
  height: 234px;
}
  #NED-bp5-9-unset-item3 .item3 .edge {
    position: absolute;
    width: 290px;
    height: 178px;
    left: 280px;
    top: 0;
    z-index: 5;
  }
  #NED-bp5-9-unset-item3 .item3 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 102px;
    top: 22px;
    z-index: 6;
  }
    #NED-bp5-9-unset-item3 .item3 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
  #NED-bp5-9-unset-item3 .item3 .nameBox {
    position: absolute;
    width: 255px;
    height: 40px;
    left: 314px;
    top: 22px;
  }
    #NED-bp5-9-unset-item3 .item3 .name {
      position: relative;
      float: left;
      top: 0;
      margin: 0 12px 0 0;
      color: #FFFFFF;
      line-height: 1;
      word-wrap: break-word;
      z-index: 5;
    }
    #NED-bp5-9-unset-item3 .item3 .job {
      position: relative;
      float: left;
      top: 0;
      color: #FEB30D;
      line-height: 1.8;
      word-wrap: break-word;
      font-family: arial;
      font-size: 24px;
      font-weight: bolder;
      z-index: 5;
    }
  #NED-bp5-9-unset-item3 .item3 .text {
    position: absolute;
    width: 250px;
    left: 314px;
    top: 74px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }

/**
 * Four list item
 */

#NED-bp5-9-unset-item4 .item4 {
  position: relative;
  float: left;
  width: 50%;
  height: 374px;
}
  #NED-bp5-9-unset-item4 .item4 .edge {
    position: absolute;
    width: 270px;
    height: 197px;
    top: 148px;
    z-index: 5;
  }
    #NED-bp5-9-unset-item4 .item4:nth-child(odd) .edge {
      left: 34px;
    }
    #NED-bp5-9-unset-item4 .item4:nth-child(even) .edge {
      right: 34px;
    }
  #NED-bp5-9-unset-item4 .item4 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 0;
    z-index: 6;
  }
    #NED-bp5-9-unset-item4 .item4 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
    #NED-bp5-9-unset-item4 .item4:nth-child(odd) .role {
      left: 102px;
    }
    #NED-bp5-9-unset-item4 .item4:nth-child(even) .role {
      right: 102px;
    }
  #NED-bp5-9-unset-item4 .item4 .nameBox {
    position: absolute;
    width: 250px;
    height: 40px;
    top: 188px;
  }
    #NED-bp5-9-unset-item4 .item4:nth-child(odd) .nameBox {
      left: 46px;
    }
    #NED-bp5-9-unset-item4 .item4:nth-child(even) .nameBox {
      left: 26px;
    }
    #NED-bp5-9-unset-item4 .item4 .name {
      position: relative;
      float: left;
      top: 0;
      color: #FFFFFF;
      letter-spacing: -1px;
      margin: 0 10px 0 0;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
    #NED-bp5-9-unset-item4 .item4 .job {
      position: relative;
      top: 0;
      display: inline;
      color: #FEB30D;
      line-height: 1.8;
      word-wrap: break-word;
      font-family: arial;
      font-size: 24px;
      font-weight: bolder;
      z-index: 7;
    }
  #NED-bp5-9-unset-item4 .item4 .text {
    position: absolute;
    width: 250px;
    top: 240px;
    color: #FFFFFF;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp5-9-unset-item4 .item4:nth-child(odd) .text {
      left: 46px;
    }
    #NED-bp5-9-unset-item4 .item4:nth-child(even) .text {
      left: 26px;
    }
