/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-5-unset-item1 .headerLine,
#NED-bp5-5-unset-item2 .headerLine,
#NED-bp5-5-unset-item3 .headerLine,
#NED-bp5-5-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-5-unset-item1 .headerText,
#NED-bp5-5-unset-item2 .headerText,
#NED-bp5-5-unset-item3 .headerText,
#NED-bp5-5-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp5-5-unset-item1 .middleImg {
    position: absolute;
    width: 204px;
    height: 206px;
    left: 78px;
    top: 398px;
    z-index: 2;
}
#NED-bp5-5-unset-item2 .middleImg {
    position: absolute;
    width: 580px;
    height: 359px;
    left: 30px;
    top: 360px;
    z-index: 2;
}
#NED-bp5-5-unset-item3 .middleImg {
    position: absolute;
    width: 580px;
    height: 356px;
    left: 30px;
    top: 360px;
    z-index: 2;
}
#NED-bp5-5-unset-item4 .middleImg {
    position: absolute;
    width: 580px;
    height: 359px;
    left: 30px;
    top: 360px;
    z-index: 2;
}

/** custom center */
#NED-bp5-5-unset-item1 .center,
#NED-bp5-5-unset-item2 .center,
#NED-bp5-5-unset-item3 .center,
#NED-bp5-5-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp5-5-unset-item1 .item1 {
    position: relative;
    width: 250px;
    height: 140px;
    left: 322px;
    top: 404px;
}
    #NED-bp5-5-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-5-unset-item1 .item1 .text {
        position: absolute;
        width: 245px;
        left: 0;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp5-5-unset-item2 .item2 {
    position: absolute;
    width: 250px;
    height: 140px;
}
    #NED-bp5-5-unset-item2 .item2:nth-child(1) {
        left: 368px;
        top: 200px;
    }
    #NED-bp5-5-unset-item2 .item2:nth-child(2) {
        left: 30px;
        top: 732px;
    }
    #NED-bp5-5-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-5-unset-item2 .item2 .text {
        position: absolute;
        width: 245px;
        left: 0;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp5-5-unset-item3 .item3 {
    position: absolute;
    width: 250px;
    height: 140px;
}
    #NED-bp5-5-unset-item3 .item3:nth-child(1) {
        left: 272px;
        top: 200px;
    }
    #NED-bp5-5-unset-item3 .item3:nth-child(2) {
        left: 30px;
        top: 732px;
    }
    #NED-bp5-5-unset-item3 .item3:nth-child(3) {
        left: 370px;
        top: 732px;
    }
    #NED-bp5-5-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-5-unset-item3 .item3 .text {
        position: absolute;
        width: 245px;
        left: 0;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp5-5-unset-item4 .item4 {
    position: absolute;
    width: 250px;
    height: 140px;
}
    #NED-bp5-5-unset-item4 .item4:nth-child(1) {
        left: 30px;
        top: 200px;
    }
    #NED-bp5-5-unset-item4 .item4:nth-child(2) {
        left: 368px;
        top: 200px;
    }
    #NED-bp5-5-unset-item4 .item4:nth-child(3) {
        left: 30px;
        top: 732px;
    }
    #NED-bp5-5-unset-item4 .item4:nth-child(4) {
        left: 368px;
        top: 732px;
    }
    #NED-bp5-5-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-5-unset-item4 .item4 .text {
        position: absolute;
        width: 245px;
        left: 0;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
