/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-2-unset-item1 .headerLine,
#NED-bp5-2-unset-item2 .headerLine,
#NED-bp5-2-unset-item3 .headerLine,
#NED-bp5-2-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-2-unset-item1 .headerText,
#NED-bp5-2-unset-item2 .headerText,
#NED-bp5-2-unset-item3 .headerText,
#NED-bp5-2-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp5-2-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 444px;
}
#NED-bp5-2-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 324px;
}
#NED-bp5-2-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 216px;
}
#NED-bp5-2-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 216px;
}

/**
 * One list item
 */
#NED-bp5-2-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 202px;
}
    #NED-bp5-2-unset-item1 .item1 .box {
        position: absolute;
        width: 472px;
        height: 140px;
        left: 84px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-2-unset-item1 .item1 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 98px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-2-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 162px;
        top: 13px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-2-unset-item1 .item1 .text {
        position: absolute;
        width: 365px;
        left: 162px;
        top: 65px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp5-2-unset-item2 .centerCarving0 {
    position: absolute;
    width: 56px;
    height: 180px;
    left: 556px;
    top: 446px;
    z-index: 5;
}
#NED-bp5-2-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 286px;
}
    #NED-bp5-2-unset-item2 .item2 .box {
        position: absolute;
        width: 472px;
        height: 140px;
        left: 84px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-2-unset-item2 .item2 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 98px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-2-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 162px;
        top: 13px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-2-unset-item2 .item2 .text {
        position: absolute;
        width: 365px;
        left: 162px;
        top: 65px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp5-2-unset-item3 .centerCarving0 {
    position: absolute;
    width: 54px;
    height: 109px;
    left: 556px;
    top: 338px;
    z-index: 5;
}
#NED-bp5-2-unset-item3 .centerCarving1 {
    position: absolute;
    width: 54px;
    height: 109px;
    left: 32px;
    top: 554px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    z-index: 5;
}
#NED-bp5-2-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 216px;
}
    #NED-bp5-2-unset-item3 .item3 .box {
        position: absolute;
        width: 472px;
        height: 140px;
        left: 84px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-2-unset-item3 .item3 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 98px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-2-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 162px;
        top: 13px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-2-unset-item3 .item3 .text {
        position: absolute;
        width: 365px;
        left: 162px;
        top: 65px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp5-2-unset-item4 .centerCarving0 {
    position: absolute;
    width: 56px;
    height: 109px;
    left: 556px;
    top: 316px;
    z-index: 5;
}
#NED-bp5-2-unset-item4 .centerCarving1 {
    position: absolute;
    width: 54px;
    height: 109px;
    left: 32px;
    top: 486px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    z-index: 5;
}
#NED-bp5-2-unset-item4 .centerCarving2 {
    position: absolute;
    width: 56px;
    height: 109px;
    left: 556px;
    top: 656px;
    z-index: 5;
}
#NED-bp5-2-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 170px;
}
    #NED-bp5-2-unset-item4 .item4 .box {
        position: absolute;
        width: 472px;
        height: 140px;
        left: 84px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-2-unset-item4 .item4 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 98px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-2-unset-item4 .item4 .title {
        position: absolute;
        left: 162px;
        top: 13px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-2-unset-item4 .item4 .text {
        position: absolute;
        width: 365px;
        left: 162px;
        top: 65px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
