/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-7-unset-item1 .headerLine,
#NED-bp5-7-unset-item2 .headerLine,
#NED-bp5-7-unset-item3 .headerLine,
#NED-bp5-7-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-7-unset-item1 .headerText,
#NED-bp5-7-unset-item2 .headerText,
#NED-bp5-7-unset-item3 .headerText,
#NED-bp5-7-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp5-7-unset-item1 .center,
#NED-bp5-7-unset-item2 .center,
#NED-bp5-7-unset-item3 .center,
#NED-bp5-7-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/**
 * One list item
 */
#NED-bp5-7-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 155px;
    top: 410px;
}
    #NED-bp5-7-unset-item1 .item1 .titleIcon {
        position: absolute;
        width: 74px;
        height: 75px;
        left: 46px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-7-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 134px;
        top: 32px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-7-unset-item1 .item1 .text {
        position: absolute;
        width: 431px;
        left: 134px;
        top: 84px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp5-7-unset-item2 .item2 {
    position: absolute;
    width: 100%;
    height: 155px;
}
    #NED-bp5-7-unset-item2 .item2:nth-child(1) {
        top: 300px;
    }
    #NED-bp5-7-unset-item2 .item2:nth-child(2) {
        top: 592px;
    }
    #NED-bp5-7-unset-item2 .item2 .titleIcon {
        position: absolute;
        width: 74px;
        height: 75px;
        left: 46px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-7-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 134px;
        top: 32px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-7-unset-item2 .item2 .text {
        position: absolute;
        width: 431px;
        left: 134px;
        top: 84px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp5-7-unset-item3 .item3 {
    position: absolute;
    width: 100%;
    height: 155px;
}
    #NED-bp5-7-unset-item3 .item3:nth-child(1) {
        top: 198px;
    }
    #NED-bp5-7-unset-item3 .item3:nth-child(2) {
        top: 418px;
    }
    #NED-bp5-7-unset-item3 .item3:nth-child(3) {
        top: 638px;
    }
    #NED-bp5-7-unset-item3 .item3 .titleIcon {
        position: absolute;
        width: 74px;
        height: 75px;
        left: 46px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-7-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 134px;
        top: 32px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-7-unset-item3 .item3 .text {
        position: absolute;
        width: 431px;
        left: 134px;
        top: 84px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp5-7-unset-item4 .item4 {
    position: absolute;
    width: 100%;
    height: 155px;
}
    #NED-bp5-7-unset-item4 .item4:nth-child(1) {
        top: 198px;
    }
    #NED-bp5-7-unset-item4 .item4:nth-child(2) {
        top: 365px;
    }
    #NED-bp5-7-unset-item4 .item4:nth-child(3) {
        top: 532px;
    }
    #NED-bp5-7-unset-item4 .item4:nth-child(4) {
        top: 699px;
    }
    #NED-bp5-7-unset-item4 .item4 .titleIcon {
        position: absolute;
        width: 74px;
        height: 75px;
        left: 46px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-7-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        left: 134px;
        top: 32px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-7-unset-item4 .item4 .text {
        position: absolute;
        width: 431px;
        left: 134px;
        top: 84px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
