/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-6-unset-item1 .headerLine,
#NED-bp5-6-unset-item2 .headerLine,
#NED-bp5-6-unset-item3 .headerLine,
#NED-bp5-6-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-6-unset-item1 .headerText,
#NED-bp5-6-unset-item2 .headerText,
#NED-bp5-6-unset-item3 .headerText,
#NED-bp5-6-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp5-6-unset-item1 .middleLine {
    position: absolute;
    width: 60px;
    height: 218px;
    left: 298px;
    top: 406px;
    z-index: 2;
}
#NED-bp5-6-unset-item2 .middleLine {
    position: absolute;
    width: 60px;
    height: 528px;
    left: 298px;
    top: 276px;
    z-index: 2;
}
#NED-bp5-6-unset-item3 .middleLine {
    position: absolute;
    width: 60px;
    height: 654px;
    left: 298px;
    top: 188px;
    z-index: 2;
}
#NED-bp5-6-unset-item4 .middleLine {
    position: absolute;
    width: 60px;
    height: 656px;
    left: 298px;
    top: 188px;
    z-index: 2;
}

/** custom center */
#NED-bp5-6-unset-item1 .center,
#NED-bp5-6-unset-item2 .center,
#NED-bp5-6-unset-item3 .center,
#NED-bp5-6-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp5-6-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 100px;
    top: 468px;
}
    #NED-bp5-6-unset-item1 .item1 .titleIcon {
        position: absolute;
        width: 62px;
        height: 62px;
        left: 40px;
        top: 14px;
        z-index: 5;
    }
    #NED-bp5-6-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 114px;
        top: 28px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-6-unset-item1 .item1 .text {
        position: absolute;
        width: 245px;
        left: 368px;
        top: 0;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp5-6-unset-item2 .item2 {
    position: absolute;
    width: 100%;
    height: 100px;
}
    #NED-bp5-6-unset-item2 .item2:nth-child(1) {
        top: 362px;
    }
    #NED-bp5-6-unset-item2 .item2:nth-child(2) {
        top: 626px;
    }
    #NED-bp5-6-unset-item2 .item2 .titleIcon {
        position: absolute;
        width: 62px;
        height: 62px;
        left: 40px;
        top: 14px;
        z-index: 5;
    }
    #NED-bp5-6-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 114px;
        top: 28px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-6-unset-item2 .item2 .text {
        position: absolute;
        width: 245px;
        left: 368px;
        top: 0;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp5-6-unset-item3 .item3 {
    position: absolute;
    width: 100%;
    height: 100px;
}
    #NED-bp5-6-unset-item3 .item3:nth-child(1) {
        top: 250px;
    }
    #NED-bp5-6-unset-item3 .item3:nth-child(2) {
        top: 468px;
    }
    #NED-bp5-6-unset-item3 .item3:nth-child(3) {
        top: 686px;
    }
    #NED-bp5-6-unset-item3 .item3 .titleIcon {
        position: absolute;
        width: 62px;
        height: 62px;
        left: 40px;
        top: 14px;
        z-index: 5;
    }
    #NED-bp5-6-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 114px;
        top: 28px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-6-unset-item3 .item3 .text {
        position: absolute;
        width: 245px;
        left: 368px;
        top: 0;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp5-6-unset-item4 .item4 {
    position: absolute;
    width: 100%;
    height: 100px;
}
    #NED-bp5-6-unset-item4 .item4:nth-child(1) {
        top: 224px;
    }
    #NED-bp5-6-unset-item4 .item4:nth-child(2) {
        top: 388px;
    }
    #NED-bp5-6-unset-item4 .item4:nth-child(3) {
        top: 552px;
    }
    #NED-bp5-6-unset-item4 .item4:nth-child(4) {
        top: 716px;
    }
    #NED-bp5-6-unset-item4 .item4 .titleIcon {
        position: absolute;
        width: 62px;
        height: 62px;
        left: 40px;
        top: 14px;
        z-index: 5;
    }
    #NED-bp5-6-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        left: 114px;
        top: 28px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-6-unset-item4 .item4 .text {
        position: absolute;
        width: 245px;
        left: 368px;
        top: 0;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
