/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-3-unset-item1 .headerLine,
#NED-bp5-3-unset-item2 .headerLine,
#NED-bp5-3-unset-item3 .headerLine,
#NED-bp5-3-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-3-unset-item1 .headerText,
#NED-bp5-3-unset-item2 .headerText,
#NED-bp5-3-unset-item3 .headerText,
#NED-bp5-3-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp5-3-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 422px;
}
#NED-bp5-3-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 270px;
}
#NED-bp5-3-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 216px;
}
#NED-bp5-3-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 196px;
}

/**
 * One list item
 */
#NED-bp5-3-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 220px;
}
    #NED-bp5-3-unset-item1 .item1 .titleBox {
        position: absolute;
        width: 289px;
        height: 172px;
        left: 180px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-3-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        left: 190px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-3-unset-item1 .item1 .text {
        position: absolute;
        width: 245px;
        left: 190px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp5-3-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 302px;
}
    #NED-bp5-3-unset-item2 .item2 .titleBox {
        position: absolute;
        width: 289px;
        height: 172px;
        left: 180px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-3-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        left: 190px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-3-unset-item2 .item2 .text {
        position: absolute;
        width: 245px;
        left: 190px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp5-3-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 220px;
}
    #NED-bp5-3-unset-item3 .item3 .titleBox {
        position: absolute;
        width: 289px;
        height: 172px;
        left: 180px;
        top: 0;
        z-index: 5;
    }
    #NED-bp5-3-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        left: 190px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp5-3-unset-item3 .item3 .text {
        position: absolute;
        width: 245px;
        left: 190px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp5-3-unset-item4 .item4 {
    position: relative;
    width: 100%;
}
    #NED-bp5-3-unset-item4 .item4:nth-child(1) {
        height: 146px;
    }
    #NED-bp5-3-unset-item4 .item4:nth-child(2) {
        height: 166px;
    }
    #NED-bp5-3-unset-item4 .item4:nth-child(3) {
        height: 146px;
    }
    #NED-bp5-3-unset-item4 .item4:nth-child(4) {
        height: 166px;
    }
    #NED-bp5-3-unset-item4 .item4 .titleBox {
        position: absolute;
        width: 289px;
        height: 172px;
        top: 0;
        z-index: 5;
    }
        #NED-bp5-3-unset-item4 .item4:nth-child(odd) .titleBox {
            left: 30px;
        }
        #NED-bp5-3-unset-item4 .item4:nth-child(even) .titleBox {
            left: 332px;
        }
    #NED-bp5-3-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        color: #FEB30D;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp5-3-unset-item4 .item4:nth-child(odd) .title {
            left: 40px;
        }
        #NED-bp5-3-unset-item4 .item4:nth-child(even) .title {
            left: 342px;
        }
    #NED-bp5-3-unset-item4 .item4 .text {
        position: absolute;
        width: 245px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp5-3-unset-item4 .item4:nth-child(odd) .text {
            left: 40px;
        }
        #NED-bp5-3-unset-item4 .item4:nth-child(even) .text {
            left: 342px;
        }
