/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp5-4-unset-introduction .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
/** carving image */
#NED-bp5-4-unset-introduction .carving0 {
    position: absolute;
    width: 175px;
    height: 175px;
    right: 114px;
    top: 134px;
    z-index: 5;
}
#NED-bp5-4-unset-introduction .carving1 {
    position: absolute;
    width: 550px;
    height: 505px;
    left: 44px;
    top: 402px;
    z-index: 5;
}

/** middle image */
#NED-bp5-4-unset-introduction .middleImg {
    position: absolute;
    width: 290px;
    height: 290px;
    left: 174px;
    top: 160px;
    z-index: 6;
}
/** middle image */
#NED-bp5-4-unset-introduction .introduction {
    position: absolute;
    width: 480px;
    left: 80px;
    top: 476px;
    color: #FFFFFF;
    z-index: 7;
}
