/**
 * bottom UI
 */
#bottomButton {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
}
    /**
     * disable button
     */
    #bottomButton button[disabled] {
        -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
        filter: grayscale(100%);
    }
    #bottomButton .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #303030;
        display: flex;
    }
        #bottomButton .background .btn {
            position: relative;
            width: 30%;
            height: 100%;
            background: none;
            border: none;
            font-size: 6vw;
            color: #FFBF27;
            flex: 1;
            text-align: center;
        }
            #bottomButton .background .btn img {
                height: 50%;
                vertical-align: middle;
                display: inline-block;
                margin: -3.5% 0 0 0;
            }
    #bottomButton .control {
        position: relative;
        width: 135px;
        height: 100%;
        float: right;
    }
    /**
     * plus UI
     */
    #bottomButton .plusPanel {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: -100%;
        /* animation-fill-mode */
        -moz-animation: fadeIn 0.2s linear forwards;
        -o-animation: fadeIn 0.2s linear forwards;
        -webkit-animation: fadeIn 0.2s linear forwards;
        animation: fadeIn 0.2s linear forwards;
    }
        #bottomButton .plusPanel .btnPlus {
            position: relative;
            float: right;
            width: 15.8%;
            height: 93.75%;
            background-color: #5D5D5D;
            border-radius: 50%;
            margin: 0 3% 0 0;
            border: none;
            color: #FFBF27;
            text-align: center;
            font-size: 3.5vw;
        }
            #bottomButton .plusPanel .btnPlus img {
                height: 50%;
                display: block;
                margin: auto;
            }
/**
 * image UI
 */
#imageEditBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #303030;
    top: 0;
    left: 0;
    display: none;
    /* animation-fill-mode */
    -moz-animation: fadeIn 0.2s linear forwards;
    -o-animation: fadeIn 0.2s linear forwards;
    -webkit-animation: fadeIn 0.2s linear forwards;
    animation: fadeIn 0.2s linear forwards;
}
    #imageEditBox .btnLeft {
        position: relative;
        width: 30%;
        height: 100%;
        background: none;
        border: none;
        font-size: 6vw;
        color: #FFBF27;
        flex: 1;
        text-align: center;
    }
        #imageEditBox .btnLeft img {
            height: 50%;
            vertical-align: middle;
            display: inline-block;
            margin: -3.5% 0 0 0;
        }
/**
 * text edit UI
 */
#textEditBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #303030;
    display: flex;
    /* animation-fill-mode */
    -moz-animation: fadeIn 0.2s linear forwards;
    -o-animation: fadeIn 0.2s linear forwards;
    -webkit-animation: fadeIn 0.2s linear forwards;
    animation: fadeIn 0.2s linear forwards;
}
    #textEditBox .btn {
        position: relative;
        width: 30%;
        height: 100%;
        background: none;
        border: none;
        font-size: 6vw;
        color: #FFBF27;
        flex: 1;
        text-align: center;
        font-weight: bold;
    }
        #textEditBox .btn img {
            height: 50%;
            vertical-align: middle;
            display: inline-block;
            margin: -3.5% 0 0 0;
        }
/**
 * change font type UI
 */
#fontEditBox {
    position: absolute;
    width: 100%;
    height: 230%;
    bottom: -230%;
    left: 0;
    display: none;
    background-color: #303030;
    z-index: 1;
    -moz-animation: plusFadeIn 0.2s linear forwards;
    -o-animation: plusFadeIn 0.2s linear forwards;
    -webkit-animation: plusFadeIn 0.2s linear forwards;
    animation: plusFadeIn 0.2s linear forwards;
}
    #fontEditBox .fontAlign {
        position: absolute;
        width: 35%;
        height: 16%;
        top: 5.7%;
        left: 3.75%;
        font-size: 4vw;
        display: flex;
    }
        #fontEditBox .btnAlignLeft {
            flex: 1;
            background: #303030;
            border-top: 1px solid #FFFFFF;
            border-left: 1px solid #FFFFFF;
            border-right: none;
            border-bottom: 1px solid #FFFFFF;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            color: #FFFFFF;
        }
        #fontEditBox .btnAlignCenter {
            flex: 1;
            background: #303030;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
        }
        #fontEditBox .btnAlignRight {
            flex: 1;
            background: #303030;
            border-top: 1px solid #FFFFFF;
            border-left: none;
            border-right: 1px solid #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            color: #FFFFFF;
        }
            #fontEditBox .active {
                background-color: #FFFFFF;
                color: #303030;
            }
    #fontEditBox .colorBox {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;
    }
        #fontEditBox .colorEdge {
            position: absolute;
            left: 0;
            top: 27%;
            width: 800px;
            height: 50%;
        }
            #fontEditBox .colorEdge .color {
                position: relative;
                float: left;
                width: 35px;
                height: 100%;
            }
    /**
     * fontSize UI
     */
    #fontSizeInput {
        position: absolute;
        width: 100%;
        height: 22.7%;
        top: 72%;
        background-color: #303030;
    }
        #fontSizeInput .smallText {
            position: absolute;
            width: 12%;
            left: 0;
            font-size: 5vw;
            top: 25%;
            color: #FFFFFF;
            text-align: center;
        }
        #fontSizeInput .bigText {
            position: absolute;
            width: 12%;
            right: 0;
            font-size: 5vw;
            top: 25%;
            color: #FFFFFF;
            text-align: center;
        }
        #fontSizeInput .slide {
            position: relative;
            width: 76%;
            height: 10%;
            top: 50%;
            left: 12%;
            border-radius: 10px;
            background-color: #EBEBEB;
        }
            #fontSizeInput .slide .slideCount {
                width: 0;
                height: 100%;
                background-color: #EBEBEB;
                border-radius: 10px;
            }
        #fontSizeInput .thumb {
            position: absolute;
            width: 5.5%;
            height: 500%;
            left: -3%;
            top: -200%;
            border-radius: 50%;
            background-color: #FFC027;
        }
/**
 * The box of input text
 */
#textInputBox {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    border-top: 5px solid #303030;
    border-bottom: 5px solid #303030;
    transform: translateZ(0);
    perspective: 1000;
    display: none;
}
    #textInputBox .input {
        position: absolute;
        width: 80%;
        height: 100%;
        bottom: 0;
        border: none;
        padding: 0 2%;
        border-top: 1px solid #CBCBCB;
        border-right: 1px solid #CBCBCB;
        border-bottom: 1px solid #CBCBCB;
        box-sizing: border-box;
        background-color: #EBEBEB;
    }
    #textInputBox .btn {
        position: absolute;
        width: 20%;
        height: 100%;
        right: 0;
        font-size: 20px;
        font-weight: bold;
        background-color: #F6C76B;
        color: #303030;
        box-sizing: border-box;
        border: none;
        box-shadow: inset -1px -1px 1px #6F4600;
    }

/**
 * change template UI
 */
#templateUI {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #EBEBEB;
}
    #templateUI .close {
        position: absolute;
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: rgba(246, 199, 107, 0.45);
        border: none;
        z-index: 10;
    }
    #templateUI .classBtn {
        position: relative;
        width: 80px;
        height: 40px;
        background: #303030;
        font-size: 20px;
        line-height: 30px;
        color: #F6C76B;
        border: 1px solid #000000;
        border-radius: 2px;
        top: 456px;
        margin: 0 0 0 10px;
    }
    #templateUI .templateBox {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #templateUI .templateBox .template {
        position: relative;
        float: left;
        width: 28.95%;
        height: 24.3%;
        left: 3.75%;
        top: 2%;
        margin: 0 2.8% 1.9% 0;
    }
        #templateUI .templateBox .template img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        #templateUI .templateBox .template .selected {
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 25px;
            text-align: center;
            line-height: 30px;
            border: 4px solid #F6C76B;
            box-sizing: border-box;
            box-shadow: inset 0 0 2px #000000;
            z-index: 1;
        }
/**
 * Chart UI
 */
#chartUI {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #303030;
    top: 0;
    left: 0;
    display: none;
    /* animation-fill-mode */
    -moz-animation: fadeIn 0.2s linear forwards;
    -o-animation: fadeIn 0.2s linear forwards;
    -webkit-animation: fadeIn 0.2s linear forwards;
    animation: fadeIn 0.2s linear forwards;
}
    #chartUI .btnChart {
        flex: 1;
        background: none;
        font-size: 18px;
        color: #F6C76B;
        border-top: none;
        border-left: 1px solid #F6C76B;
        border-bottom: none;
        border-right: none;
    }
        #chartUI .btnChart:nth-child(1) {
            border-left: none;
        }
/**
 * Chart edit UI
 */
#chartEditUI {
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 41px;
    left: 0;
    display: none;
    background-color: #EBEBEB;
    border-top: 5px solid #303030;
    border-bottom: 5px solid #303030;
}
    #chartEditUI .close {
        position: absolute;
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #F6C76B;
        border: none;
    }
    #chartEditUI .confirm {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0;
        text-align: center;
        background-color: #F6C76B;
        border: none;
    }
    #chartEditUI .chartTypeBox {
        position: absolute;
        width: 100%;
        height: 50px;
        top: 40px;
        border-top: 1px solid #F6C76B;
        border-bottom: 1px solid #000000;
        display: flex;
    }
        #chartEditUI .chartTypeBox .chartType {
            flex: 1;
            border-top: none;
            border-bottom: none;
            border-right: none;
            border-left: 1px solid #F6C76B;
            color: #F6C76B;
            background-color: #303030;
        }
            #chartEditUI .chartTypeBox .chartType:nth-child(1) {
                border-left: none;
            }
            #chartEditUI .chartTypeBox .chartType_active {
                color: #303030;
                background-color: #EBEBEB;
            }
        #chartEditUI .dataSetBox {
            position: absolute;
            top: 90px;
            width: 100%;
            height: 368px;
        }
            #chartEditUI .dataSetBox .list {
                position: relative;
                width: 96%;
                height: 45px;
                top: 15px;
                left: 2%;
                background-color: #FFFFFF;
                border-radius: 2px;
                box-shadow: 1px 1px 5px #B1B1B1;
                margin: 0 0 10px;
            }
                #chartEditUI .dataSetBox .list .des {
                    position: relative;
                    float: left;
                    top: 5px;
                    left: 5px;
                    font-size: 30px;
                    color: #F54F45;
                    background: none;
                    border: none;
                }
                #chartEditUI .dataSetBox .list .title {
                    position: relative;
                    float: left;
                    min-width: 50px;
                    top: 8px;
                    border: 1px solid #303030;
                    border-radius: 5px;
                    padding: 7px 5px 6px;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0 0 0 10px;
                }
                #chartEditUI .dataSetBox .list .valuePie {
                    position: relative;
                    float: left;
                    min-width: 20px;
                    top: 8px;
                    border: 1px solid #303030;
                    border-radius: 5px;
                    padding: 7px 5px 6px;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0 0 0 10px;
                    text-align: center;
                }
                    #chartEditUI .dataSetBox .list .valuePie::after {
                        content: '%';
                    }
                #chartEditUI .dataSetBox .list .colorPie {
                    position: relative;
                    float: left;
                    width: 30px;
                    height: 30px;
                    top: 8px;
                    border: none;
                    border-radius: 5px;
                    margin: 0 0 0 10px;
                    background-color: #F54F45;
                }
            #chartEditUI .addList {
                position: relative;
                width: 96%;
                top: 15px;
                left: 2%;
                margin: 0 0 10px;
                text-align: right;
                color: #F6C76B;
                font-size: 20px;
                font-weight: bold;
                border: none;
                background: none;
            }
#sectionUI {
    position: absolute;
    width: 100%;
    height: 168px;
    bottom: 0;
    left: 0;
    background-color: #5D5D5D;
}
    #sectionUI .close {
        position: absolute;
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: rgba(246, 199, 107, 0.45);
        border: none;
        z-index: 10;
    }
    #sectionUI .view {
        position: absolute;
        width: 100%;
        height: 128px;
        top: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
        #sectionUI .table {
            position: absolute;
            width: 200%;
            height: 100%;
        }
            #sectionUI .view .list {
                position: relative;
                float: left;
                width: 100px;
                height: 150px;
                -moz-user-select: none; /* 火狐 */
                -webkit-user-select: none; /* webkit浏览器 */
                -ms-user-select: none; /* IE10 */
                -khtml-user-select: none; /* 早期浏览器 */
                user-select: none;
            }
                #sectionUI .view .list .section {
                    position: absolute;
                    top: 0;
                    pointer-events: none;
                }
                #sectionUI .view .list .deleteBtn {
                    position: absolute;
                    width: 17.4%;
                    height: 11.5%;
                    right: -8.7%;
                    top: -5.7%;
                    z-index: 1;
                    border: none;
                    background: none;
                }
                    #sectionUI .view .list img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
            #sectionUI .view .selected {
                border: 2px solid #E8B960;
            }
            #sectionUI .view .addList {
                position: relative;
                float: left;
                width: 100px;
                height: 150px;
                font-size: 30px;
                line-height: 150px;
                text-align: center;
                border: 2px dashed #FFC027;
                border-radius: 2px;
                box-sizing: border-box;
            }
                #sectionUI .view .addList img {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }
            #sectionUI .view .placehold {
                position: relative;
                float: left;
                width: 100px;
                height: 150px;
                background-color: #6A6A6A;
            }
            #sectionUI .view .dragging {
                position: absolute;
                border: 2px solid #C7594E;
                transform: rotate(10deg) scale(1.1);
                -moz-transform: rotate(10deg) scale(1.1);
                -o-transform: rotate(10deg) scale(1.1);
                -webkit-transform: rotate(10deg) scale(1.1);
                z-index: 1;
            }
#cropperUI {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0;
    bottom: 0;
    display: none;
    background-color: #EBEBEB;
}
    #cropperUI .cropperContent {
        position: absolute;
        width: 100%;
        height: 90%;
        top: 0;
        background-color: #CBCBCB;
        z-index: 1;
    }
    #cropperUI .block {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: #303030;
        z-index: 99999;
    }
    #cropperUI .confirm {
        position: absolute;
        width: 50%;
        height: 10%;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: #303030;
        border: none;
        font-size: 6vw;
        color: #FFBF27;
    }
        #cropperUI .confirm img {
            height: 50%;
            vertical-align: middle;
            display: inline-block;
            margin: -3.5% 0 0 0;
        }
    #cropperUI .close {
        position: absolute;
        width: 50%;
        height: 10%;
        left: 0;
        bottom: 0;
        text-align: center;
        background-color: #303030;
        border: none;
        font-size: 6vw;
        color: #EBEBEB;
    }
        #cropperUI .close img {
            height: 50%;
            vertical-align: middle;
            display: inline-block;
            margin: -3.5% 0 0 0;
        }
/**
 * addSectionUI
 */
#addSectionUI {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #EBEBEB;
}
    #addSectionUI .close {
        position: absolute;
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: rgba(246, 199, 107, 0.45);
        border: none;
        z-index: 10;
    }
    #addSectionUI .table {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
        #addSectionUI .table .list {
            position: relative;
            float: left;
            width: 28.8%;
            height: 24.3%;
            left: 3.75%;
            top: 2%;
            margin: 0 2.8% 1.9% 0;
        }
            #addSectionUI .table .list .section {
                position: absolute;
                top: 0;
                pointer-events: none;
            }

@-webkit-keyframes plusFadeIn {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-100%);
        opacity: 1;
    }
}

@keyframes plusFadeIn {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@-webkit-keyframes section_fade_in {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes section_fade_in {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/**
 * fadIn animation
 */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* #slider {
	width: 400px;
	height: 17px;
	position: relative;
	margin: 100px auto;
	background: #10171D;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;

	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

#slider .bar {
	width: 388px;
	height: 5px;
	background: #333;
	position: relative;
	top: -4px;
	left: 4px;

	background: #1d2e38;
	background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
	background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

#slider .highlight {
	height: 2px;
	position: absolute;
	width: 388px;
	top: 6px;
	left: 6px;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;

	background: rgba(255, 255, 255, 0.25);
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: black;
	height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -75px;
}

#rangevalue {
	color: white;
	font-size: 10px;
	text-align: center;
	font-family:  Arial, sans-serif;
	display: block;
	color: #fff;
	margin: 20px 0;
	position: relative;
	left: 44.5%;
	padding: 6px 12px;
	border: 1px solid black;

	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222931), color-stop(100%,#181D21));

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 18px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	top: -95px;
} */
