/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea, /* form elements 表单元素 */
th,
td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button,
input,
select,
textarea { /* for ie */
    /* font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif; */
    /* font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
/* 将斜体扶正 */
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 统一等宽字体 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul,
ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }
abbr[title],
acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}
/**
 * reset before and after of p
 */
q::before,
q::after { content: ''; }

/* 重置表单元素 */
legend { color: #000000; } /* for ie6 */
fieldset,
img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
    outline: none;
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
h1 { font-size: 60px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4,
h5,
h6 { font-size: 100%; }
/**
 * title font setting
 */
/* #ne-section h1 { font-size: 70px; }
#ne-section h2 { font-size: 60px; }
#ne-section h3 { font-size: 55px; }
#ne-section h4 { font-size: 45px; }
#ne-section h5 { font-size: 36px; }
#ne-section h6 { font-size: 32px; } */
html,
body {
    background-color: #EBEBEB;
    overflow: hidden;
}
#ne-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #5D5D5D;
    transition-property: all;
}
#ne-section {
    position: absolute;
    width: 640px;
    height: 965px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
    /**
     * 取消選取時候的框線
     */
    #ne-section div[contenteditable] {
        outline: none;
    }
    /**
     * add section button
     */
    #ne-section .addSection {
        position: absolute;
        width: 640px;
        height: 960px;
        margin: 0 0 5px;
        overflow: hidden;
    }
      #ne-section .addSection .edge {
        position: absolute;
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
        border: 6px dashed #FFC027;
        border-radius: 5px;
      }
      #ne-section .addSection img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
.preview {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch; /* safari native solved */
}
.ne-sectionTable {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 0.1s linear;
    -moz-transition: left 0.1s linear; /* Firefox 4 */
    -webkit-transition: left 0.1s linear; /* Safari 和 Chrome */
    -o-transition: left 0.1s linear; /* Opera */
}
.NED-frame {
    position: absolute;
}
section {
    position: relative;
    width: 640px;
    height: 960px;
    margin: 0 0 5px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #000000;
    overflow: hidden;
}
    #ne-section .block {
        -moz-user-select: none; /* 火狐 */
        -webkit-user-select: none; /* webkit浏览器 */
        -ms-user-select: none; /* IE10 */
        -khtml-user-select: none; /* 早期浏览器 */
        user-select: none;
    }
.ne-focus {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    z-index: 255;
    pointer-events: none;
    border: 2px solid #FFC027;
    font-size: 12px;
}
    /**
     * 請參考伏羲先天八卦圖
     */
    .ne-focus .NED-anchor {
        position: absolute;
        width: 50px;
        height: 50px;
        cursor: pointer;
        pointer-events: all;
    }
        .ne-focus .NED-anchor .NED-icon {
            position: absolute;
            width: 20px;
            height: 20px;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            border: 2px solid #FFFFFF;
            background-color: #FFC027;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
        .ne-focus .NED-anchor[ne-orientation = o9] {
            left: 50%;
            bottom: 100%;
            margin-left: -25px;
            margin-bottom: -25px;
            cursor: row-resize;
        }
        .ne-focus .NED-anchor[ne-orientation = o7] {
            left: 100%;
            top: 50%;
            margin-top: -25px;
            margin-left: -25px;
            cursor: col-resize;
        }
        .ne-focus .NED-anchor[ne-orientation = o1] {
            left: 50%;
            top: 100%;
            margin-left: -25px;
            margin-top: -25px;
            cursor: row-resize;
        }
        .ne-focus .NED-anchor[ne-orientation = o3] {
            right: 100%;
            top: 50%;
            margin-top: -25px;
            margin-right: -25px;
            cursor: col-resize;
        }
        .ne-focus .NED-anchor[ne-orientation = o4] {
            right: 100%;
            bottom: 100%;
            margin-right: -25px;
            margin-bottom: -25px;
            cursor: nw-resize;
        }
        .ne-focus .NED-anchor[ne-orientation = o2] {
            left: 100%;
            bottom: 100%;
            margin-left: -25px;
            margin-bottom: -25px;
            cursor: ne-resize;
        }
        .ne-focus .NED-anchor[ne-orientation = o6] {
            left: 100%;
            top: 100%;
            margin-left: -25px;
            margin-top: -25px;
            cursor: se-resize;
        }
        .ne-focus .NED-anchor[ne-orientation = o8] {
            right: 100%;
            top: 100%;
            margin-right: -25px;
            margin-top: -25px;
            cursor: sw-resize;
        }
/**
 * canvas
 */
.TestCanvasArea {
    position: absolute;
    width: 100%;
    height: 200px;
}
    #TestCanvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }

/**
 * hack cropper
 */
.cropper-modal {
    opacity: 0.4;
    background-color: #000000;
}
.cropper-view-box {
    outline: 2px solid #FFC027 !important;
    outline-color: rgba(255, 192, 39, 1) !important;
}
.cropper-dashed.dashed-v {
    border-right: 1px dashed #FFC027 !important;
    border-left: 1px dashed #FFC027 !important;
}
.cropper-dashed.dashed-h {
    border-top: 1px dashed #FFC027 !important;
    border-bottom: 1px dashed #FFC027 !important;
}
.cropper-center::before {
    background-color: #FFC027 !important;
}
.cropper-center::after {
    background-color: #FFC027 !important;
}
.cropper-line {
    background-color: #FFC027 !important;
}
.cropper-point {
    background-color: #FFC027 !important;
    border-radius: 50%;
    opacity: 1 !important;
}
  .cropper-point::after {
    content: "#";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin: -25px;
  }
    .cropper-point.point-e {
        right: -6px !important;
        margin-top: -5px !important;
        width: 10px !important;
        height: 10px !important;
    }
    .cropper-point.point-n {
        width: 10px !important;
        height: 10px !important;
        top: -6px !important;
        margin-left: -5px !important;
    }
    .cropper-point.point-w {
        width: 10px !important;
        height: 10px !important;
        left: -6px !important;
        margin-top: -5px !important;
    }
    .cropper-point.point-s {
        width: 10px !important;
        height: 10px !important;
        bottom: -6px !important;
        margin-left: -5px !important;
    }
    .cropper-point.point-ne {
        top: -10px !important;
        right: -10px !important;
        width: 18px !important;
        height: 18px !important;
        border: 2px solid #FFFFFF;
    }
    .cropper-point.point-nw {
        top: -10px !important;
        left: -10px !important;
        width: 18px !important;
        height: 18px !important;
        border: 2px solid #FFFFFF;
    }
    .cropper-point.point-sw {
        bottom: -10px !important;
        left: -10px !important;
        width: 18px !important;
        height: 18px !important;
        border: 2px solid #FFFFFF;
    }
    .cropper-point.point-se {
        right: -10px !important;
        bottom: -10px !important;
        width: 18px !important;
        height: 18px !important;
        border: 2px solid #FFFFFF;
    }

/**
 * Animation
 */
.NED-fadeOut {
  -webkit-animation: fade_out 0.2s linear 1 forwards;
  animation: fade_out 0.2s linear 1 forwards;
}

  @-webkit-keyframes fade_out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fade_out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
/**
 * section fade in animation
 */
.NED-sectionFadeIn {
  -moz-animation: section_fade_in 0.2s linear forwards;
  -webkit-animation: section_fade_in 0.2s linear forwards;
  animation: section_fade_in 0.2s linear forwards;
}

@-moz-keyframes section_fade_in {
  0% {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes section_fade_in {
  0% {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes section_fade_in {
  0% {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
