/**
 * preview btn
 */
#previewCloseBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.7;
    padding: 8px 12px;
    z-index: 1;
}
/**
 * common btn for custom position
 */
#button {
    position: fixed;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.7;
    padding: 8px 12px;
    z-index: 1;
}
/**
 * bottom UI
 */
#topButton {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    transform: translateZ(0);
    perspective: 1000;
}
    #topButton .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #303030;
        border-top: 1px solid #000000;
        display: flex;
    }
    #topButton .background .btnLeft {
        position: relative;
        width: 30%;
        height: 100%;
        background: none;
        font-size: 18px;
        color: #F6C76B;
        border-top: none;
        border-left: 1px solid #F6C76B;
        border-bottom: none;
        border-right: none;
        flex: 1;
    }
        #topButton .background .btnLeft:nth-child(1) {
            border-left: none;
        }
