/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-9-unset-item1 .headerBg,
#NED-bp7-9-unset-item2 .headerBg,
#NED-bp7-9-unset-item3 .headerBg,
#NED-bp7-9-unset-item4 .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-9-unset-item1 .headerText,
#NED-bp7-9-unset-item2 .headerText,
#NED-bp7-9-unset-item3 .headerText,
#NED-bp7-9-unset-item4 .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 3;
}
#NED-bp7-9-unset-item1 .headerTextEn,
#NED-bp7-9-unset-item2 .headerTextEn,
#NED-bp7-9-unset-item3 .headerTextEn,
#NED-bp7-9-unset-item4 .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
/** custom center */
#NED-bp7-9-unset-item1 .center {
  position: absolute;
  width: 100%;
  top: 444px;
}
#NED-bp7-9-unset-item2 .center {
  position: absolute;
  width: 100%;
  top: 276px;
}
#NED-bp7-9-unset-item3 .center {
  position: absolute;
  width: 100%;
  top: 204px;
}
#NED-bp7-9-unset-item4 .center {
  position: absolute;
  width: 100%;
  top: 178px;
}
/*line*/
#NED-bp7-9-unset-item1 .line{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 45px;
}
#NED-bp7-9-unset-item2 .line1{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 75px;
    left: 220px;
}
#NED-bp7-9-unset-item2 .line2{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 75px;
    right: 220px;
}
#NED-bp7-9-unset-item3 .line1{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 75px;
    left: 220px;
}
#NED-bp7-9-unset-item3 .line2{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 76px;
    right: 220px;
}
#NED-bp7-9-unset-item3 .line3{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 75px;
    left: 220px;
}
#NED-bp7-9-unset-item4 .line1{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 75px;
    left: 220px;
}
#NED-bp7-9-unset-item4 .line2{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 76px;
    right: 220px;
}
#NED-bp7-9-unset-item4 .line3{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 76px;
    left: 220px;
}
#NED-bp7-9-unset-item4 .line4{
    position: absolute;
    width: 254px;
    height: 60px;
    top: 75px;
    right: 220px;
}
/**
 * One list item
 */
#NED-bp7-9-unset-item1 .item1 {
  position: relative;
  width: 100%;
  height: 232px;
}
  #NED-bp7-9-unset-item1 .item1 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    left: 36px;
    top: 0;
    z-index: 5;
  }
  #NED-bp7-9-unset-item1 .item1 .role {
    position: absolute;
    width: 174px;
    height: 174px;
    left: 35px;
    top: 0px;
    z-index: 1;
  }
    #NED-bp7-9-unset-item1 .item1 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
  #NED-bp7-9-unset-item1 .item1 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 220px;
    top: 33px;
  }
    #NED-bp7-9-unset-item1 .item1 .name {
      position: absolute;
      width: 130px;
      left: 0;
      margin: 0 16px 0 0;
      top: 0;
      color: #000002;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
    #NED-bp7-9-unset-item1 .item1 .job {
      position: absolute;
      left: 140px;
      top: 0;
      color: #31B9C2;
      line-height: 1.8;
      word-wrap: break-word;
      font-family: arial;
      font-weight: bolder;
      font-size: 26px;
      z-index: 7;
    }
  #NED-bp7-9-unset-item1 .item1 .text {
    position: absolute;
    width: 370px;
    left: 220px;
    top: 85px;
    color: #3F3F46;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
    font-size: 26px;
  }
/**
 * Two list item
 */
#NED-bp7-9-unset-item2 .item2 {
  position: relative;
  width: 100%;
  height: 236px;
}
  #NED-bp7-9-unset-item2 .item2 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp7-9-unset-item2 .item2:nth-child(odd) .edge {
      left: 36px;
    }
    #NED-bp7-9-unset-item2 .item2:nth-child(even) .edge {
      right: 36px;
    }
  #NED-bp7-9-unset-item2 .item2 .role {
    position: absolute;
    width: 174px;
    height: 174px;
    left: 35px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 3;
  }
    #NED-bp7-9-unset-item2 .item2 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
    #NED-bp7-9-unset-item2 .item2:nth-child(even) .role {
      left: 430px;
    }
  #NED-bp7-9-unset-item2 .item2 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 33px;
  }
    #NED-bp7-9-unset-item2 .item2:nth-child(odd) .nameBox {
      left: 220px;
    }
    #NED-bp7-9-unset-item2 .item2:nth-child(even) .nameBox {
      right: 220px;
    }
  #NED-bp7-9-unset-item2 .item2 .name {
    position: absolute;
    width: 130px;
    top: 0;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp7-9-unset-item2 .item2:nth-child(odd) .name {
      left: 0;
      text-align: left;
    }
    #NED-bp7-9-unset-item2 .item2:nth-child(even) .name {
      right: 0;
      text-align: right;
    }
  #NED-bp7-9-unset-item2 .item2 .job {
    position: absolute;
    top: 0;
    color: #31B9C2;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 26px;
    z-index: 7;
  }
    #NED-bp7-9-unset-item2 .item2:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp7-9-unset-item2 .item2:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp7-9-unset-item2 .item2 .text {
    position: absolute;
    width: 370px;
    top: 85px;
    color: #3F3F46;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    font-size: 26px;
    z-index: 7;
  }
    #NED-bp7-9-unset-item2 .item2:nth-child(odd) .text {
      left: 220px;
    }
    #NED-bp7-9-unset-item2 .item2:nth-child(even) .text {
      right: 220px;
      text-align: right;
    }

/**
 * Three list item
 */
#NED-bp7-9-unset-item3 .item3 {
  position: relative;
  width: 100%;
  height: 236px;
}
  #NED-bp7-9-unset-item3 .item3 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp7-9-unset-item3 .item3:nth-child(odd) .edge {
      left: 36px;
    }
    #NED-bp7-9-unset-item3 .item3:nth-child(even) .edge {
      right: 36px;
    }
  #NED-bp7-9-unset-item3 .item3 .role {
    position: absolute;
    width: 174px;
    height: 174px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 3;
  }
    #NED-bp7-9-unset-item3 .item3 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
      #NED-bp7-9-unset-item3 .item3:nth-child(odd) .role {
        left: 36px;
      }
      #NED-bp7-9-unset-item3 .item3:nth-child(even) .role {
        right: 36px;
      }
  #NED-bp7-9-unset-item3 .item3 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 33px;
  }
    #NED-bp7-9-unset-item3 .item3:nth-child(odd) .nameBox {
      left: 220px;
    }
    #NED-bp7-9-unset-item3 .item3:nth-child(even) .nameBox {
      right: 220px;
    }
  #NED-bp7-9-unset-item3 .item3 .name {
    position: absolute;
    width: 130px;
    top: 0;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp7-9-unset-item3 .item3:nth-child(odd) .name {
      left: 0;
    }
    #NED-bp7-9-unset-item3 .item3:nth-child(even) .name {
      right: 0;
      text-align: right;
    }
  #NED-bp7-9-unset-item3 .item3 .job {
    position: absolute;
    top: 0;
    color: #31B9C2;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 26px;
    z-index: 7;
  }
    #NED-bp7-9-unset-item3 .item3:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp7-9-unset-item3 .item3:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp7-9-unset-item3 .item3 .text {
    position: absolute;
    width: 370px;
    top: 85px;
    color: #3F3F46;
    font-size: 26px;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp7-9-unset-item3 .item3:nth-child(odd) .text {
      left: 220px;
    }
    #NED-bp7-9-unset-item3 .item3:nth-child(even) .text {
      right: 220px;
      text-align: right;
    }

/**
 * Four list item
 */
#NED-bp7-9-unset-item4 .item4 {
  position: relative;
  width: 100%;
  height: 178px;
}
  #NED-bp7-9-unset-item4 .item4 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp7-9-unset-item4 .item4:nth-child(odd) .edge {
      left: 36px;
    }
    #NED-bp7-9-unset-item4 .item4:nth-child(even) .edge {
      right: 36px;
    }
  #NED-bp7-9-unset-item4 .item4 .role {
    position: absolute;
    width: 174px;
    height: 174px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 3;
  }
    #NED-bp7-9-unset-item4 .item4 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
    #NED-bp7-9-unset-item4 .item4:nth-child(odd) .role {
      left: 36px;
    }
    #NED-bp7-9-unset-item4 .item4:nth-child(even) .role {
      right: 36px;
    }
  #NED-bp7-9-unset-item4 .item4 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 33px;
  }
    #NED-bp7-9-unset-item4 .item4:nth-child(odd) .nameBox {
      left: 220px;
    }
    #NED-bp7-9-unset-item4 .item4:nth-child(even) .nameBox {
      right: 220px;
    }
  #NED-bp7-9-unset-item4 .item4 .name {
    position: absolute;
    width: 130px;
    top: 0;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp7-9-unset-item4 .item4:nth-child(odd) .name {
      left: 0;
    }
    #NED-bp7-9-unset-item4 .item4:nth-child(even) .name {
      right: 0;
      text-align: right;
    }
  #NED-bp7-9-unset-item4 .item4 .job {
    position: absolute;
    top: 0;
    color: #31B9C2;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 26px;
    z-index: 7;
  }
    #NED-bp7-9-unset-item4 .item4:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp7-9-unset-item4 .item4:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp7-9-unset-item4 .item4 .text {
    position: absolute;
    width: 370px;
    top: 85px;
    color: #3F3F46;
    font-size: 26px;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp7-9-unset-item4 .item4:nth-child(odd) .text {
      left: 220px;
    }
    #NED-bp7-9-unset-item4 .item4:nth-child(even) .text {
      right: 220px;
      text-align: right;
    }
/*lace*/
#NED-bp7-9-unset-item1 .lace,
#NED-bp7-9-unset-item2 .lace,
#NED-bp7-9-unset-item3 .lace,
#NED-bp7-9-unset-item4 .lace{
    width: 100%;
    position: absolute;
    height: 60px;
    bottom: 0;
}
