/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-10-unset-item1 .headerBg,
#NED-bp7-10-unset-item2 .headerBg,
#NED-bp7-10-unset-item3 .headerBg,
#NED-bp7-10-unset-item4 .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-10-unset-item1 .headerText,
#NED-bp7-10-unset-item2 .headerText,
#NED-bp7-10-unset-item3 .headerText,
#NED-bp7-10-unset-item4 .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 3;
}
#NED-bp7-10-unset-item1 .headerTextEn,
#NED-bp7-10-unset-item2 .headerTextEn,
#NED-bp7-10-unset-item3 .headerTextEn,
#NED-bp7-10-unset-item4 .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
/**
 * The custom description area
 */
#NED-bp7-10-unset-item1 .description,
#NED-bp7-10-unset-item2 .description,
#NED-bp7-10-unset-item3 .description,
#NED-bp7-10-unset-item4 .description {
    position: absolute;
    width: 100%;
    height: 129px;
    top: 234px;
}
    #NED-bp7-10-unset-item1 .description .descriptionText,
    #NED-bp7-10-unset-item2 .description .descriptionText,
    #NED-bp7-10-unset-item3 .description .descriptionText,
    #NED-bp7-10-unset-item4 .description .descriptionText {
        position: absolute;
        width: 539px;
        left: 50px;
        text-align: center;
        color: #000002;
        line-height: 1;
        font-size: 32px;
        z-index: 6;
    }
/*centerImg*/
#NED-bp7-10-unset-item1 .centerImg {
    position: absolute;
    width: 293px;
    height: 304px;
    left: 228px;
    top: 394px;
    z-index: 2;
}
#NED-bp7-10-unset-item2 .centerImg{
      position: absolute;
      width: 293px;
      height: 304px;
      left: 164px;
      top: 394px;
      z-index: 2;
}
#NED-bp7-10-unset-item3 .centerImg,
#NED-bp7-10-unset-item4 .centerImg {
      position: absolute;
      width: 293px;
      height: 304px;
      left: 164px;
      top: 484px;
      z-index: 2;
}
/*icon*/
#NED-bp7-10-unset-item1 .icon{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 624px;
    left: 196px;
    z-index: 10;
}
#NED-bp7-10-unset-item2 .icon1{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 612px;
    left: 122px;
    z-index: 10;
}
#NED-bp7-10-unset-item2 .icon2{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 612px;
    left: 370px;
    z-index: 10;
}
#NED-bp7-10-unset-item3 .icon1{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 424px;
    left: 255px;
    z-index: 10;
}
#NED-bp7-10-unset-item3 .icon2{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 706px;
    left: 370px;
    z-index: 10;
}
#NED-bp7-10-unset-item3 .icon3{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 706px;
    left: 132px;
    z-index: 10;
}
#NED-bp7-10-unset-item4 .icon1{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 467px;
    left: 129px;
    z-index: 10;
}
#NED-bp7-10-unset-item4 .icon2{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 467px;
    left: 382px;
    z-index: 10;
}
#NED-bp7-10-unset-item4 .icon3{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 706px;
    left: 129px;
    z-index: 10;
}
#NED-bp7-10-unset-item4 .icon4{
    position: absolute;
    width: 108px;
    height: 101px;
    top: 706px;
    left: 382px;
    z-index: 10;
}
/*letter*/
#NED-bp7-10-unset-item1 .letter{
    position: absolute;
    top: 744px;
    left: 94px;
}
#NED-bp7-10-unset-item2 .letter1{
    position: absolute;
    top: 744px;
    left: 30px;
}
#NED-bp7-10-unset-item2 .letter2{
    position: absolute;
    top: 744px;
    left: 410px;
}
#NED-bp7-10-unset-item3 .letter1{
    position: absolute;
    top: 327px;
    left: 224px;
}
#NED-bp7-10-unset-item3 .letter2{
    position: absolute;
    top: 826px;
    left: 30px;
}
#NED-bp7-10-unset-item3 .letter3{
    position: absolute;
    top: 826px;
    left: 410px;
}
#NED-bp7-10-unset-item4 .letter1{
    position: absolute;
    top: 338px;
    left: 30px;
}
#NED-bp7-10-unset-item4 .letter2{
    position: absolute;
    top: 338px;
    left: 418px;
}
#NED-bp7-10-unset-item4 .letter3{
    position: absolute;
    top: 818px;
    left: 30px;
}
#NED-bp7-10-unset-item4 .letter4{
    position: absolute;
    top: 818px;
    left: 418px;
}
/*title and text*/
#NED-bp7-10-unset-item1 .title,
#NED-bp7-10-unset-item2 .title,
#NED-bp7-10-unset-item3 .title,
#NED-bp7-10-unset-item4 .title{
    position: absolute;
    font-size: 32px;
    color: #000002;
    font-weight: bold;
    width: 280px;
}
#NED-bp7-10-unset-item1 .text,
#NED-bp7-10-unset-item2 .text,
#NED-bp7-10-unset-item3 .text,
#NED-bp7-10-unset-item4 .text{
    position: absolute;
    font-size: 26px;
    color: #31B9C2;
    font-weight: bold;
    width: 200px;
    top: 60px;
}
/*lace*/
#NED-bp7-10-unset-item1 .lace,
#NED-bp7-10-unset-item2 .lace,
#NED-bp7-10-unset-item3 .lace,
#NED-bp7-10-unset-item4 .lace{
width: 100%;
position: absolute;
height: 60px;
bottom: 0;
}
