/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-8-unset-item1 .headerBg,
#NED-bp7-8-unset-item2 .headerBg,
#NED-bp7-8-unset-item3 .headerBg,
#NED-bp7-8-unset-item4 .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-8-unset-item1 .headerText,
#NED-bp7-8-unset-item2 .headerText,
#NED-bp7-8-unset-item3 .headerText,
#NED-bp7-8-unset-item4 .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-8-unset-item1 .headerTextEn,
#NED-bp7-8-unset-item2 .headerTextEn,
#NED-bp7-8-unset-item3 .headerTextEn,
#NED-bp7-8-unset-item4 .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
/*mid Line*/
#NED-bp7-8-unset-item1 .midLine1 {
    position: absolute;
    width: 60px;
    height: 678px;
    top: 184px;
    left: 178px;
}
#NED-bp7-8-unset-item2 .midLine2,
#NED-bp7-8-unset-item3 .midLine2,
#NED-bp7-8-unset-item4 .midLine2{
    position: absolute;
    width: 60px;
    height: 678px;
    top: 184px;
    left: 310px;
}
/** letter box */
#NED-bp7-8-unset-item1 .letter {
    position: absolute;
    top: 458px;
    left: 216px;
}
#NED-bp7-8-unset-item2 .letter1 {
    position: absolute;
    top: 318px;
    left: 348px;
}
#NED-bp7-8-unset-item2 .letter2 {
    position: absolute;
    top: 596px;
    left: 20px;
}
#NED-bp7-8-unset-item3 .letter1 {
    position: absolute;
    top: 256px;
    left: 348px;
}
#NED-bp7-8-unset-item3 .letter2 {
    position: absolute;
    top: 458px;
    left: 20px;
}
#NED-bp7-8-unset-item3 .letter3 {
    position: absolute;
    top: 660px;
    left: 348px;
}
#NED-bp7-8-unset-item4 .letter1 {
    position: absolute;
    top: 230px;
    left: 348px;
}
#NED-bp7-8-unset-item4 .letter2 {
    position: absolute;
    top: 382px;
    left: 20px;
}
#NED-bp7-8-unset-item4 .letter3 {
    position: absolute;
    top: 534px;
    left: 348px;
}
#NED-bp7-8-unset-item4 .letter4 {
    position: absolute;
    top: 686px;
    left: 20px;
}
/*titleIcon*/
#NED-bp7-8-unset-item1 .titleIcon {
    position: absolute;
    top: 444px;
    left: 154px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item2 .titleIcon1 {
    position: absolute;
    top: 304px;
    left: 284px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item2 .titleIcon2 {
    position: absolute;
    top: 582px;
    left: 284px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item3 .titleIcon1 {
    position: absolute;
    top: 242px;
    left: 284px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item3 .titleIcon2 {
    position: absolute;
    top: 444px;
    left: 284px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item3 .titleIcon3 {
    position: absolute;
    top: 646px;
    left: 284px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item4 .titleIcon1 {
    position: absolute;
    top: 216px;
    left: 284px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item4 .titleIcon2 {
    position: absolute;
    top: 368px;
    left: 284px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item4 .titleIcon3 {
    position: absolute;
    top: 520px;
    left: 284px;
    width: 64px;
    height: 60px;
}
#NED-bp7-8-unset-item4 .titleIcon4 {
    position: absolute;
    top: 672px;
    left: 284px;
    width: 64px;
    height: 60px;
}
/*title*/
#NED-bp7-8-unset-item1 .title,
#NED-bp7-8-unset-item2 .title,
#NED-bp7-8-unset-item3 .title,
#NED-bp7-8-unset-item4 .title{
    position: absolute;
    color: #000002;
    font-size: 32px;
    font-weight: bold;
    width: 264px;
    text-align: center;
}
/*text*/
#NED-bp7-8-unset-item1 .text,
#NED-bp7-8-unset-item2 .text,
#NED-bp7-8-unset-item3 .text,
#NED-bp7-8-unset-item4 .text{
    position: absolute;
    color: #3F3F46;
    font-size: 26px;
    width: 264px;
    text-align: center;
    top: 50px;
}
#NED-bp7-8-unset-item1 .lace,
#NED-bp7-8-unset-item2 .lace,
#NED-bp7-8-unset-item3 .lace,
#NED-bp7-8-unset-item4 .lace{
    width: 100%;
    position: absolute;
    height: 60px;
    bottom: 0;
}
