/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-7-unset-item1 .headerBg,
#NED-bp7-7-unset-item2 .headerBg,
#NED-bp7-7-unset-item3 .headerBg,
#NED-bp7-7-unset-item4 .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-7-unset-item1 .headerText,
#NED-bp7-7-unset-item2 .headerText,
#NED-bp7-7-unset-item3 .headerText,
#NED-bp7-7-unset-item4 .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-7-unset-item1 .headerTextEn,
#NED-bp7-7-unset-item2 .headerTextEn,
#NED-bp7-7-unset-item3 .headerTextEn,
#NED-bp7-7-unset-item4 .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
#NED-bp7-7-unset-item1 .titleIcon,
#NED-bp7-7-unset-item2 .titleIcon,
#NED-bp7-7-unset-item3 .titleIcon,
#NED-bp7-7-unset-item4 .titleIcon{
    position: absolute;
    top: 0;
    left: 208px;
    width: 317px;
    height: 67px;
    z-index: 2;
}
/** custom center */
#NED-bp7-7-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 456px;
}
#NED-bp7-7-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 308px;
}
#NED-bp7-7-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 230px;
}
#NED-bp7-7-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 190px;
}
/*item*/
#NED-bp7-7-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 300px;
}
#NED-bp7-7-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 298px;
}
#NED-bp7-7-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 226px;
}
#NED-bp7-7-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 178px;
}
/*title*/
#NED-bp7-7-unset-item1 .title,
#NED-bp7-7-unset-item2 .title,
#NED-bp7-7-unset-item3 .title,
#NED-bp7-7-unset-item4 .title{
    position: absolute;
    top: 18px;
    left: 224px;
    color: white;
    z-index: 3;
    width: 200px;
    text-align: center;
}
/*text*/
#NED-bp7-7-unset-item1 .text,
#NED-bp7-7-unset-item2 .text,
#NED-bp7-7-unset-item3 .text,
#NED-bp7-7-unset-item4 .text{
    position: absolute;
    top: 76px;
    left: 82px;
    width: 475px;
    text-align: center;
}
#NED-bp7-7-unset-item1 .lace,
#NED-bp7-7-unset-item2 .lace,
#NED-bp7-7-unset-item3 .lace,
#NED-bp7-7-unset-item4 .lace{
    width: 100%;
    position: absolute;
    height: 60px;
    bottom: 0;
}
/*text*/
