/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-3-unset-item1 .headerBg,
#NED-bp7-3-unset-item2 .headerBg,
#NED-bp7-3-unset-item3 .headerBg,
#NED-bp7-3-unset-item4 .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-3-unset-item1 .headerText,
#NED-bp7-3-unset-item2 .headerText,
#NED-bp7-3-unset-item3 .headerText,
#NED-bp7-3-unset-item4 .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-3-unset-item1 .headerTextEn,
#NED-bp7-3-unset-item2 .headerTextEn,
#NED-bp7-3-unset-item3 .headerTextEn,
#NED-bp7-3-unset-item4 .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
#NED-bp7-3-unset-item1 .middleLine,
#NED-bp7-3-unset-item2 .middleLine,
#NED-bp7-3-unset-item3 .middleLine,
#NED-bp7-3-unset-item4 .middleLine{
    position: absolute;
    width: 60px;
    height: 734px;
    left: 158px;
    top: 182px;
    z-index: 2;
}
#NED-bp7-3-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 486px;
}
#NED-bp7-3-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 360px;
}
#NED-bp7-3-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 290px;
}
#NED-bp7-3-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 248px;
}
#NED-bp7-3-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 176px;
}
#NED-bp7-3-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 250px;
}
#NED-bp7-3-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 196px;
}
#NED-bp7-3-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 156px;
}
#NED-bp7-3-unset-item1 .icon,
#NED-bp7-3-unset-item2 .icon,
#NED-bp7-3-unset-item3 .icon,
#NED-bp7-3-unset-item4 .icon{
    position: absolute;
    left: 44px;
    width: 96px;
    height: 90px;
}
#NED-bp7-3-unset-item1 .letter,
#NED-bp7-3-unset-item2 .letter,
#NED-bp7-3-unset-item3 .letter,
#NED-bp7-3-unset-item4 .letter{
    position: absolute;
    left: 198px;
}
#NED-bp7-3-unset-item1 .title,
#NED-bp7-3-unset-item2 .title,
#NED-bp7-3-unset-item3 .title,
#NED-bp7-3-unset-item4 .title{
    width: 195px;
    position: absolute;
}
#NED-bp7-3-unset-item1 .text,
#NED-bp7-3-unset-item2 .text,
#NED-bp7-3-unset-item3 .text,
#NED-bp7-3-unset-item4 .text{
    font-size: 26px;
    width: 397px;
    position: absolute;
    top: 52px;
}
#NED-bp7-3-unset-item1 .lace,
#NED-bp7-3-unset-item2 .lace,
#NED-bp7-3-unset-item3 .lace,
#NED-bp7-3-unset-item4 .lace{
    width: 100%;
    position: absolute;
    height: 60px;
    bottom: 0;
}
