#NED-bp7-1-unset-index .name {
    position: absolute;
    width: 480px;
    left: 48px;
    top: 284px;
    font-size: 48px;
    text-align: center;
    color: #19C8D1;
    line-height: 1.5;
    word-wrap: break-word;
    font-weight: bold;
    z-index: 6;
}
#NED-bp7-1-unset-index .intro {
    position: absolute;
    width: 398px;
    top: 364px;
    left: 88px;
    font-size: 26px;
    text-align: center;
    color: #19C8D1;
    line-height: 1.8;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-1-unset-index .bg1 {
    position: absolute;
    width: 433px;
    height: 458px;
    top: 46px;
    left: 152px;
    z-index: 4;
}
#NED-bp7-1-unset-index .bg2016 {
    position: absolute;
    width: 270px;
    height: 109px;
    top: 166px;
    left: 152px;
    z-index: 4;
}
#NED-bp7-1-unset-index .red {
    position: absolute;
    width: 68px;
    height: 123px;
    top: 454px;
    left: 512px;
    z-index: 4;
}
#NED-bp7-1-unset-index .bottom {
    position: absolute;
    width: 100%;
    height: 418px;
    bottom: 0;
    left: 0;
    z-index: 3;
}
#NED-bp7-1-unset-index .bg2 {
    position: absolute;
    width: 481px;
    height: 418px;
    z-index: 2;
}
#NED-bp7-1-unset-index .lace {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 3;
}
