/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-5-unset-item1 .headerBg,
#NED-bp7-5-unset-item2 .headerBg,
#NED-bp7-5-unset-item3 .headerBg,
#NED-bp7-5-unset-item4 .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-5-unset-item1 .headerText,
#NED-bp7-5-unset-item2 .headerText,
#NED-bp7-5-unset-item3 .headerText,
#NED-bp7-5-unset-item4 .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-5-unset-item1 .headerTextEn,
#NED-bp7-5-unset-item2 .headerTextEn,
#NED-bp7-5-unset-item3 .headerTextEn,
#NED-bp7-5-unset-item4 .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
/**
 * middle line
 */
#NED-bp7-5-unset-item1 .middleLine,
#NED-bp7-5-unset-item2 .middleLine,
#NED-bp7-5-unset-item3 .middleLine{
    position: absolute;
    width: 60px;
    height: 521px;
    left: 308px;
    top: 272px;
}
#NED-bp7-5-unset-item4 .middleLine{
   position: absolute;
   width: 244px;
   height: 521px;
   left: 200px;
   top: 272px;
}
#NED-bp7-5-unset-item2 .line1{
    width: 244px;
    height: 60px;
    position: absolute;
    top: 460px;
    left: 320px;
}
#NED-bp7-5-unset-item2 .line2{
    width: 244px;
    height: 60px;
    position: absolute;
    top: 680px;
    left: 64px;
}
#NED-bp7-5-unset-item3 .line1{
    width: 244px;
    height: 60px;
    position: absolute;
    top: 436px;
    left: 320px;
}
#NED-bp7-5-unset-item3 .line2{
    width: 244px;
    height: 60px;
    position: absolute;
    top: 588px;
    left: 64px;
}
#NED-bp7-5-unset-item3 .line3{
    width: 244px;
    height: 60px;
    position: absolute;
    top: 740px;
    left: 320px;
}
#NED-bp7-5-unset-item1 .cloud {
   position: absolute;
   width: 193px;
   height: 112px;
   left: 64px;
   top: 442px;
}
#NED-bp7-5-unset-item1 .letter1 {
   position: absolute;
   text-align: center;
   left: 344px;
   top: 434px;
}
#NED-bp7-5-unset-item2 .letter1 {
   position: absolute;
   text-align: center;
   left: 344px;
   top: 306px;
}
#NED-bp7-5-unset-item2 .letter2 {
   position: absolute;
   text-align: center;
   left: 30px;
   top: 526px;
}
#NED-bp7-5-unset-item3 .letter1 {
   position: absolute;
   text-align: center;
   left: 344px;
   top: 282px;
}
#NED-bp7-5-unset-item3 .letter2 {
   position: absolute;
   text-align: center;
   left: 30px;
   top: 434px;
}
#NED-bp7-5-unset-item3 .letter3 {
   position: absolute;
   text-align: center;
   left: 344px;
   top: 586px;
}
#NED-bp7-5-unset-item4 .letter1 {
   position: absolute;
   text-align: center;
   left: 30px;
   top: 282px;
}
#NED-bp7-5-unset-item4 .letter2 {
   position: absolute;
   text-align: center;
   left: 344px;
   top: 282px;
}
#NED-bp7-5-unset-item4 .letter3 {
   position: absolute;
   text-align: center;
   left: 30px;
   top: 650px;
}
#NED-bp7-5-unset-item4 .letter4 {
   position: absolute;
   text-align: center;
   left: 344px;
   top: 650px;
}
#NED-bp7-5-unset-item1 .title,
#NED-bp7-5-unset-item2 .title,
#NED-bp7-5-unset-item3 .title,
#NED-bp7-5-unset-item4 .title{
    width: 194px;
    font-size: 32px;
    text-align: left;
    color: #000002;
    position: absolute;
}
#NED-bp7-5-unset-item1 .text,
#NED-bp7-5-unset-item2 .text,
#NED-bp7-5-unset-item3 .text,
#NED-bp7-5-unset-item4 .text{
    font-size: 26px;
    width: 265px;
    text-align: left;
    line-height: 1.25;
    position: absolute;
    top: 52px;
    color: #3F3F46;
}
#NED-bp7-5-unset-item1 .lace,
#NED-bp7-5-unset-item2 .lace,
#NED-bp7-5-unset-item3 .lace,
#NED-bp7-5-unset-item4 .lace{
    width: 100%;
    position: absolute;
    height: 60px;
    bottom: 0;
}
