/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-4-unset-introduction .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
#NED-bp7-4-unset-introduction .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-4-unset-introduction .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
/** middle image */
#NED-bp7-4-unset-introduction .round {
    position: absolute;
    width: 293px;
    height: 304px;
    left: 174px;
    top: 152px;
    z-index: 10;
}
#NED-bp7-4-unset-introduction .innerImg {
    position: absolute;
    left: 174px;
    top: 152px;
    width: 292px;
    height: 292px;
    z-index: 8;
}
/** middle image */
#NED-bp7-4-unset-introduction .introduction {
    position: absolute;
    width: 529px;
    height: 410px;
    left: 56px;
    top: 480px;
    color: #000002;
    z-index: 6;
}
#NED-bp7-4-unset-introduction .lace {
    width: 100%;
    position: absolute;
    height: 60px;
    bottom: 0;
}
