/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-2-unset-item1 .headerBg,
#NED-bp7-2-unset-item2 .headerBg,
#NED-bp7-2-unset-item3 .headerBg,
#NED-bp7-2-unset-item4 .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-2-unset-item1 .headerText,
#NED-bp7-2-unset-item2 .headerText,
#NED-bp7-2-unset-item3 .headerText,
#NED-bp7-2-unset-item4 .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-2-unset-item1 .headerTextEn,
#NED-bp7-2-unset-item2 .headerTextEn,
#NED-bp7-2-unset-item3 .headerTextEn,
#NED-bp7-2-unset-item4 .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
/** custom center */
#NED-bp7-2-unset-item1 .center {
  position: absolute;
  width: 100%;
  top: 372px;
}
#NED-bp7-2-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 258px;
}
#NED-bp7-2-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 200px;
}
#NED-bp7-2-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 172px;
}
#NED-bp7-2-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 108px;
}
#NED-bp7-2-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 230px;
}
#NED-bp7-2-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 174px;
}
#NED-bp7-2-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 138px;
}
#NED-bp7-2-unset-item1 .titleIcon,
#NED-bp7-2-unset-item2 .titleIcon,
#NED-bp7-2-unset-item3 .titleIcon,
#NED-bp7-2-unset-item4 .titleIcon{
    position: absolute;
    width: 161px;
    height: 60px;
    left: 96px;
    top: 0;
    z-index: 5;
}
#NED-bp7-2-unset-item1 .title,
#NED-bp7-2-unset-item2 .title,
#NED-bp7-2-unset-item3 .title,
#NED-bp7-2-unset-item4 .title{
    position: absolute;
    width: 195px;
    left: 130px;
    top: 2px;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-2-unset-item1 .text,
#NED-bp7-2-unset-item2 .text,
#NED-bp7-2-unset-item3 .text,
#NED-bp7-2-unset-item4 .text{
    position: absolute;
    width: 397px;
    left: 130px;
    top: 52px;
    color: #000002;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
}
/*bottom*/
    #NED-bp7-2-unset-item1 .bottom,
    #NED-bp7-2-unset-item2 .bottom,
    #NED-bp7-2-unset-item3 .bottom,
    #NED-bp7-2-unset-item4 .bottom{
        position: absolute;
        width: 100%;
        height: 280px;
        top: 710px;
        left: 0;
        z-index: 3;
    }
    #NED-bp7-2-unset-item1 .bg,
    #NED-bp7-2-unset-item2 .bg,
    #NED-bp7-2-unset-item3 .bg,
    #NED-bp7-2-unset-item4 .bg{
        position: absolute;
        bottom: 60px;
        width: 100%;
        height: 220px;
        z-index: 2;
    }
    #NED-bp7-2-unset-item1 .lace,
    #NED-bp7-2-unset-item2 .lace,
    #NED-bp7-2-unset-item3 .lace,
    #NED-bp7-2-unset-item4 .lace{
        position: absolute;
        bottom: 30px;
        width: 100%;
        height: 60px;
        z-index: 3;
    }
