/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-6-unset-item1 .headerBg,
#NED-bp7-6-unset-item2 .headerBg,
#NED-bp7-6-unset-item3 .headerBg,
#NED-bp7-6-unset-item4 .headerBg {
    position: absolute;
    width: 223px;
    height: 66px;
    left: 34px;
    top: 78px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp7-6-unset-item1 .headerText,
#NED-bp7-6-unset-item2 .headerText,
#NED-bp7-6-unset-item3 .headerText,
#NED-bp7-6-unset-item4 .headerText {
    position: absolute;
    left: 42px;
    top: 56px;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
#NED-bp7-6-unset-item1 .headerTextEn,
#NED-bp7-6-unset-item2 .headerTextEn,
#NED-bp7-6-unset-item3 .headerTextEn,
#NED-bp7-6-unset-item4 .headerTextEn{
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000002;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
    position: absolute;
    top: 102px;
    left: 42px;
}
#NED-bp7-6-unset-item1 .titleBg1{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 452px;
    left: 66px;
}
#NED-bp7-6-unset-item2 .titleBg1{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 316px;
    left: 66px;
}
#NED-bp7-6-unset-item2 .titleBg2{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 590px;
    right: 60px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
#NED-bp7-6-unset-item3 .titleBg1{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 242px;
    left: 66px;
}
#NED-bp7-6-unset-item3 .titleBg2{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 452px;
    right: 60px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
#NED-bp7-6-unset-item3 .titleBg3{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 662px;
    left: 66px;
}
#NED-bp7-6-unset-item4 .titleBg1{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 200px;
    left: 66px;
}
#NED-bp7-6-unset-item4 .titleBg2{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 368px;
    right: 60px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
#NED-bp7-6-unset-item4 .titleBg3{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 536px;
    left: 66px;
}
#NED-bp7-6-unset-item4 .titleBg4{
    width: 328px;
    height: 121px;
    position: absolute;
    top: 704px;
    right: 60px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
#NED-bp7-6-unset-item1 .letter1{
    position: absolute;
    left: 196px;
    top: 468px;
}
#NED-bp7-6-unset-item2 .letter1{
    position: absolute;
    left: 196px;
    top: 332px;
}
#NED-bp7-6-unset-item2 .letter2{
    position: absolute;
    right: 190px;
    top: 606px;
    text-align: right;
}
#NED-bp7-6-unset-item3 .letter1{
    position: absolute;
    left: 196px;
    top: 258px;
}
#NED-bp7-6-unset-item3 .letter2{
    position: absolute;
    right: 190px;
    top: 468px;
    text-align: right;
}
#NED-bp7-6-unset-item3 .letter3{
    position: absolute;
    left: 196px;
    top: 678px;
}
#NED-bp7-6-unset-item4 .letter1{
    position: absolute;
    left: 196px;
    top: 216px;
}
#NED-bp7-6-unset-item4 .letter2{
    position: absolute;
    right: 190px;
    top: 384px;
    text-align: right;
}
#NED-bp7-6-unset-item4 .letter3{
    position: absolute;
    left: 196px;
    top: 552px;
}
#NED-bp7-6-unset-item4 .letter4{
    position: absolute;
    right: 190px;
    top: 720px;
    text-align: right;
}
#NED-bp7-6-unset-item2 .letter2 .title,
#NED-bp7-6-unset-item3 .letter2 .title,
#NED-bp7-6-unset-item4 .letter2 .title{
    right: 0;
    text-align: right;
}
#NED-bp7-6-unset-item2 .letter2 .text,
#NED-bp7-6-unset-item3 .letter2 .text,
#NED-bp7-6-unset-item4 .letter2 .text{
    right: 0;
    text-align: right;
}
#NED-bp7-6-unset-item4 .letter4 .title{
    right: 0;
    text-align: right;
}
#NED-bp7-6-unset-item4 .letter4 .text{
    right: 0;
    text-align: right;
}
#NED-bp7-6-unset-item1 .title,
#NED-bp7-6-unset-item2 .title,
#NED-bp7-6-unset-item3 .title,
#NED-bp7-6-unset-item4 .title{
    width: 200px;
    font-size: 32px;
    text-align: left;
    color: #000002;
    position: absolute;
}
#NED-bp7-6-unset-item1 .text,
#NED-bp7-6-unset-item2 .text,
#NED-bp7-6-unset-item3 .text,
#NED-bp7-6-unset-item4 .text{
    font-size: 26px;
    width: 406px;
    text-align: left;
    line-height: 1.25;
    position: absolute;
    top: 52px;
    color: #3F3F46;
}
#NED-bp7-6-unset-item1 .lace,
#NED-bp7-6-unset-item2 .lace,
#NED-bp7-6-unset-item3 .lace,
#NED-bp7-6-unset-item4 .lace{
    width: 100%;
    position: absolute;
    height: 60px;
    bottom: 0;
}
