<section id="NED-bp6-6-unset-item1">
  <img src="template/6/images/background.jpg" class="NED-background" draggable="false" />
  <div class="NED-header">

    <div id="NED-bp6-6-unset-item1_headerLine" class="headerLine" data-type="img">
      <img src="template/6/images/title_line.png" draggable="false" />
    </div>

    <div id="NED-bp6-6-unset-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t5">
      <p>行业痛点</p>
    </div>

  </div>

  <div class="center">
    <div class="item1">
      <div id="NED-bp6-6-unset-item1_1_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_1_1.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item1_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item1_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>
  </div>
</section>

<section id="NED-bp6-6-unset-item2">
  <img src="template/6/images/background.jpg" class="NED-background" draggable="false" />

  <div class="NED-header">
    <div id="NED-bp6-6-unset-item2_headerLine" class="headerLine" data-type="img">
      <img src="template/6/images/title_line.png" draggable="false" />
    </div>
    <div id="NED-bp6-6-unset-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t5">
      <p>行业痛点</p>
    </div>
  </div>

  <div class="center">
    <div class="item2">
      <div id="NED-bp6-6-unset-item2_1_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_1.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item2_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item2_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item2">
      <div id="NED-bp6-6-unset-item2_2_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_2.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item2_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item2_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>
  </div>
</section>

<section id="NED-bp6-6-unset-item3">
  <img src="template/6/images/background.jpg" class="NED-background" draggable="false" />

  <div class="NED-header">
    <div id="NED-bp6-6-unset-item3_headerLine" class="headerLine" data-type="img">
      <img src="template/6/images/title_line.png" draggable="false" />
    </div>
    <div id="NED-bp6-6-unset-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t5">
      <p>行业痛点</p>
    </div>
  </div>

  <div class="center">
    <div class="item3">
      <div id="NED-bp6-6-unset-item3_1_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_1.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item3_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item3_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item3">
      <div id="NED-bp6-6-unset-item3_2_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_2.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item3_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item3_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item3">
      <div id="NED-bp6-6-unset-item3_3_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_3.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item3_3_title" class="title fontH6" data-type="text" data-field="list3_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item3_3_text" class="text fontText" data-type="text" data-field="list3_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>
  </div>
</section>

<section id="NED-bp6-6-unset-item4">
  <img src="template/6/images/background.jpg" class="NED-background" draggable="false" />

  <div class="NED-header">
    <div id="NED-bp6-6-unset-item4_headerLine" class="headerLine" data-type="img">
      <img src="template/6/images/title_line.png" draggable="false" />
    </div>
    <div id="NED-bp6-6-unset-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t5">
      <p>行业痛点</p>
    </div>
  </div>

  <div class="center">
    <div class="item4">
      <div id="NED-bp6-6-unset-item4_1_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_1.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item4_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item4_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item4">
      <div id="NED-bp6-6-unset-item4_2_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_2.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item4_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item4_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item4">
      <div id="NED-bp6-6-unset-item4_3_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_3.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item4_3_title" class="title fontH6" data-type="text" data-field="list3_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item4_3_text" class="text fontText" data-type="text" data-field="list3_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item4">
      <div id="NED-bp6-6-unset-item4_4_titleIcon" class="titleIcon" data-type="img">
        <img src="template/6/images/competitors_4.png" draggable="false" />
      </div>
      <div id="NED-bp6-6-unset-item4_4_title" class="title fontH6" data-type="text" data-field="list4_title">
        <p>交易环节</p>
      </div>
      <div id="NED-bp6-6-unset-item4_4_text" class="text fontText" data-type="text" data-field="list4_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>
  </div>
</section>
