<section id="NED-bp6-9-unset-item1">
  <img src="template/6/images/background.jpg" class="NED-background" draggable="false" />
  <div class="NED-header">

    <div id="NED-bp6-9-unset-item1_headerLine" class="headerLine" data-type="img">
      <img src="template/6/images/title_line.png" draggable="false" />
    </div>

    <div id="NED-bp6-9-unset-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
      <p>行业痛点</p>
    </div>

  </div>

  <div class="center">
    <div class="item1">
      <div id="NED-bp6-9-unset-item1_1_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item1_1_role" class="role" data-type="img" data-field="list1_image">
        <img src="template/6/images/photo1.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item1_1_title" class="name fontH6" data-type="text" data-field="list1_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item1_1_job" class="job" data-type="text" data-field="list1_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item1_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>
  </div>
</section>

<section id="NED-bp6-9-unset-item2">
  <img src="template/6/images/background.jpg" class="NED-background" draggable="false" />
  <div class="NED-header">

    <div id="NED-bp6-9-unset-item2_headerLine" class="headerLine" data-type="img">
      <img src="template/6/images/title_line.png" draggable="false" />
    </div>

    <div id="NED-bp6-9-unset-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
      <p>行业痛点</p>
    </div>

  </div>

  <div class="center">
    <div class="item2">
      <div id="NED-bp6-9-unset-item2_1_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item2_1_role" class="role" data-type="img" data-field="list1_image">
        <img src="template/6/images/photo1.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item2_1_title" class="name fontH6" data-type="text" data-field="list1_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item2_1_job" class="job" data-type="text" data-field="list1_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item2_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item2">
      <div id="NED-bp6-9-unset-item2_2_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item2_2_role" class="role" data-type="img" data-field="list2_image">
        <img src="template/6/images/photo2.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item2_2_title" class="name fontH6" data-type="text" data-field="list2_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item2_2_job" class="job" data-type="text" data-field="list3_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item2_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>
  </div>
</section>

<section id="NED-bp6-9-unset-item3">
  <img src="template/6/images/background.jpg" class="NED-background" draggable="false" />
  <div class="NED-header">

    <div id="NED-bp6-9-unset-item3_headerLine" class="headerLine" data-type="img">
      <img src="template/6/images/title_line.png" draggable="false" />
    </div>

    <div id="NED-bp6-9-unset-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
      <p>行业痛点</p>
    </div>

  </div>

  <div class="center">
    <div class="item3">
      <div id="NED-bp6-9-unset-item3_1_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item3_1_role" class="role" data-type="img" data-field="list1_image">
        <img src="template/6/images/photo1.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item3_1_title" class="name fontH6" data-type="text" data-field="list1_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item3_1_job" class="job" data-type="text" data-field="list1_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item3_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item3">
      <div id="NED-bp6-9-unset-item3_2_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item3_2_role" class="role" data-type="img" data-field="list2_image">
        <img src="template/6/images/photo2.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item3_2_title" class="name fontH6" data-type="text" data-field="list2_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item3_2_job" class="job" data-type="text" data-field="list2_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item3_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item3">
      <div id="NED-bp6-9-unset-item3_3_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item3_3_role" class="role" data-type="img" data-field="list3_image">
        <img src="template/6/images/photo3.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item3_3_title" class="name fontH6" data-type="text" data-field="list3_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item3_3_job" class="job" data-type="text" data-field="list3_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item3_3_text" class="text fontText" data-type="text" data-field="list3_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>
  </div>
</section>

<section id="NED-bp6-9-unset-item4">
  <img src="template/6/images/background.jpg" class="NED-background" draggable="false" />
  <div class="NED-header">

    <div id="NED-bp6-9-unset-item4_headerLine" class="headerLine" data-type="img">
      <img src="template/6/images/title_line.png" draggable="false" />
    </div>

    <div id="NED-bp6-9-unset-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t8">
      <p>行业痛点</p>
    </div>

  </div>

  <div class="center">
    <div class="item4">
      <div id="NED-bp6-9-unset-item4_1_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item4_1_role" class="role" data-type="img" data-field="list1_image">
        <img src="template/6/images/photo1.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item4_1_title" class="name fontH6" data-type="text" data-field="list1_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item4_1_job" class="job" data-type="text" data-field="list1_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item4_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item4">
      <div id="NED-bp6-9-unset-item4_2_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item4_2_role" class="role" data-type="img" data-field="list2_image">
        <img src="template/6/images/photo2.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item4_2_title" class="name fontH6" data-type="text" data-field="list2_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item4_2_job" class="job" data-type="text" data-field="list2_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item4_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item4">
      <div id="NED-bp6-9-unset-item4_3_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item4_3_role" class="role" data-type="img" data-field="list3_image">
        <img src="template/6/images/photo3.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item4_3_title" class="name fontH6" data-type="text" data-field="list3_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item4_3_job" class="job" data-type="text" data-field="list3_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item4_3_text" class="text fontText" data-type="text" data-field="list3_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>

    <div class="item4">
      <div id="NED-bp6-9-unset-item4_4_edge" class="edge" data-type="img">
        <img src="template/6/images/team.png" draggable="false" />
      </div>
      <div id="NED-bp6-9-unset-item4_4_role" class="role" data-type="img" data-field="list4_image">
        <img src="template/6/images/photo4.jpg" draggable="false" />
      </div>
      <div class="nameBox">
        <div id="NED-bp6-9-unset-item4_4_title" class="name fontH6" data-type="text" data-field="list4_name">
          <p>交易环节</p>
        </div>
        <div id="NED-bp6-9-unset-item4_4_job" class="job" data-type="text" data-field="list4_duty">
          <p>CEO</p>
        </div>
      </div>

      <div id="NED-bp6-9-unset-item4_4_text" class="text fontText" data-type="text" data-field="list4_desc">
        <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
    </div>
  </div>
</section>
