<section id="NED-bp6-4-unset-introduction">
    <img src="template/6/images/background.jpg" class="NED-background" draggable="false"/>

    <div class="NED-header">
        <div id="NED-bp6-4-unset-introduction_headerLine" class="headerLine" data-type="img">
            <img src="template/6/images/title_line.png" draggable="false"/>
        </div>

        <div id="NED-bp6-4-unset-introduction_headerText" class="headerText fontH1" data-type="text" data-lang="t3">
            <p>行业痛点</p>
        </div>
    </div>

    <div id="NED-bp6-4-unset-introduction_middleImg" class="middleImg" data-type="img">
        <img src="template/6/images/product-description_tx.jpg" draggable="false"/>
    </div>

    <div id="NED-bp6-4-unset-introduction_introduction" class="introduction fontText" data-type="text" data-field="introduction">請填入產品描述</div>

    <div id="NED-bp6-4-unset-introduction_bottomLine" class="bottomLine" data-type="img">
        <img src="template/6/images/product-description_line.png" draggable="false"/>
    </div>
</section>
