/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-5-unset-item1 .headerLine,
#NED-bp6-5-unset-item2 .headerLine,
#NED-bp6-5-unset-item3 .headerLine,
#NED-bp6-5-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-5-unset-item1 .headerText,
#NED-bp6-5-unset-item2 .headerText,
#NED-bp6-5-unset-item3 .headerText,
#NED-bp6-5-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #00FFE4;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
/**
 * middle line
 */
#NED-bp6-5-unset-item1 .middleLine {
    position: absolute;
    width: 335px;
    height: 178px;
    left: 152px;
    top: 454px;
    z-index: 2;
}
#NED-bp6-5-unset-item2 .middleLine {
    position: absolute;
    width: 322px;
    height: 357px;
    left: 140px;
    top: 356px;
    z-index: 2;
}
#NED-bp6-5-unset-item3 .middleLine {
    position: absolute;
    width: 580px;
    height: 362px;
    left: 30px;
    top: 354px;
    z-index: 2;
}
#NED-bp6-5-unset-item4 .middleLine {
    position: absolute;
    width: 579px;
    height: 360px;
    left: 30px;
    top: 356px;
    z-index: 2;
}
/** custom center */
#NED-bp6-5-unset-item1 .center,
#NED-bp6-5-unset-item2 .center,
#NED-bp6-5-unset-item3 .center,
#NED-bp6-5-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

/**
 * One list item
 */
#NED-bp6-5-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 220px;
}
    #NED-bp6-5-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 238px;
        top: 376px;
        color: #75B2E9;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp6-5-unset-item1 .item1 .text {
        position: absolute;
        width: 245px;
        left: 238px;
        top: 428px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp6-5-unset-item2 .item2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
    #NED-bp6-5-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-5-unset-item2 .item2:nth-child(1) .title {
            color: #75B2E9;
            left: 162px;
            top: 200px;
        }
        #NED-bp6-5-unset-item2 .item2:nth-child(2) .title {
            color: #FFBC71;
            left: 260px;
            top: 732px;
        }
    #NED-bp6-5-unset-item2 .item2 .text {
        position: absolute;
        width: 245px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-5-unset-item2 .item2:nth-child(1) .text {
            left: 162px;
            top: 252px;
        }
        #NED-bp6-5-unset-item2 .item2:nth-child(2) .text {
            left: 260px;
            top: 784px;
        }

/**
 * Three list item
 */
#NED-bp6-5-unset-item3 .item3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
    #NED-bp6-5-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-5-unset-item3 .item3:nth-child(1) .title {
            color: #75B2E9;
            left: 272px;
            top: 200px;
        }
        #NED-bp6-5-unset-item3 .item3:nth-child(2) .title {
            color: #FFBC71;
            left: 30px;
            top: 732px;
        }
        #NED-bp6-5-unset-item3 .item3:nth-child(3) .title {
            color: #70B253;
            left: 370px;
            top: 732px;
        }
    #NED-bp6-5-unset-item3 .item3 .text {
        position: absolute;
        width: 245px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-5-unset-item3 .item3:nth-child(1) .text {
            left: 272px;
            top: 252px;
        }
        #NED-bp6-5-unset-item3 .item3:nth-child(2) .text {
            left: 30px;
            top: 784px;
        }
        #NED-bp6-5-unset-item3 .item3:nth-child(3) .text {
            left: 370px;
            top: 784px;
        }

/**
 * Four list item
 */
#NED-bp6-5-unset-item4 .item4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
    #NED-bp6-5-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-5-unset-item4 .item4:nth-child(1) .title {
            color: #75B2E9;
            left: 30px;
            top: 200px;
        }
        #NED-bp6-5-unset-item4 .item4:nth-child(2) .title {
            color: #FFBC71;
            left: 370px;
            top: 200px;
        }
        #NED-bp6-5-unset-item4 .item4:nth-child(3) .title {
            color: #70B253;
            left: 30px;
            top: 732px;
        }
        #NED-bp6-5-unset-item4 .item4:nth-child(4) .title {
            color: #32CBFD;
            left: 370px;
            top: 732px;
        }
    #NED-bp6-5-unset-item4 .item4 .text {
        position: absolute;
        width: 245px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-5-unset-item4 .item4:nth-child(1) .text {
            left: 30px;
            top: 252px;
        }
        #NED-bp6-5-unset-item4 .item4:nth-child(2) .text {
            left: 370px;
            top: 252px;
        }
        #NED-bp6-5-unset-item4 .item4:nth-child(3) .text {
            left: 30px;
            top: 784px;
        }
        #NED-bp6-5-unset-item4 .item4:nth-child(4) .text {
            left: 370px;
            top: 784px;
        }
