/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-6-unset-item1 .headerLine,
#NED-bp6-6-unset-item2 .headerLine,
#NED-bp6-6-unset-item3 .headerLine,
#NED-bp6-6-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-6-unset-item1 .headerText,
#NED-bp6-6-unset-item2 .headerText,
#NED-bp6-6-unset-item3 .headerText,
#NED-bp6-6-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #00FFE4;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp6-6-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 426px;
}
#NED-bp6-6-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 312px;
}
#NED-bp6-6-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 218px;
}
#NED-bp6-6-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 216px;
}

/**
* One list item
*/
#NED-bp6-6-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 166px;
}
    #NED-bp6-6-unset-item1 .item1 .titleIcon {
        position: absolute;
        width: 131px;
        height: 110px;
        left: 66px;
        top: 0;
        z-index: 5;
    }
    #NED-bp6-6-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 218px;
        top: 0;
        color: #75B2E9;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp6-6-unset-item1 .item1 .text {
        position: absolute;
        width: 370px;
        left: 218px;
        top: 52px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
* Two list item
*/
#NED-bp6-6-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 226px;
}
    #NED-bp6-6-unset-item2 .item2 .titleIcon {
        position: absolute;
        width: 131px;
        height: 110px;
        top: 0;
        z-index: 5;
    }
        #NED-bp6-6-unset-item2 .item2:nth-child(odd) .titleIcon {
            left: 44px;
        }
        #NED-bp6-6-unset-item2 .item2:nth-child(even) .titleIcon {
            right: 44px;
        }
    #NED-bp6-6-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 0;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-6-unset-item2 .item2:nth-child(1) .title {
            left: 196px;
            color: #75B2E9;
        }
        #NED-bp6-6-unset-item2 .item2:nth-child(2) .title {
            right: 196px;
            color: #FFBC71;
            text-align: right;
        }
    #NED-bp6-6-unset-item2 .item2 .text {
        position: absolute;
        width: 370px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-6-unset-item2 .item2:nth-child(odd) .text {
            left: 196px;
        }
        #NED-bp6-6-unset-item2 .item2:nth-child(even) .text {
            right: 196px;
            text-align: right;
        }

/**
 * Three list item
 */
#NED-bp6-6-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 226px;
}
    #NED-bp6-6-unset-item3 .item3 .titleIcon {
        position: absolute;
        width: 131px;
        height: 110px;
        top: 0;
        z-index: 5;
    }
        #NED-bp6-6-unset-item3 .item3:nth-child(odd) .titleIcon {
            left: 44px;
        }
        #NED-bp6-6-unset-item3 .item3:nth-child(even) .titleIcon {
            right: 44px;
        }
    #NED-bp6-6-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 0;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-6-unset-item3 .item3:nth-child(1) .title {
            left: 196px;
            color: #75B2E9;
        }
        #NED-bp6-6-unset-item3 .item3:nth-child(2) .title {
            right: 196px;
            color: #FFBC71;
            text-align: right;
        }
        #NED-bp6-6-unset-item3 .item3:nth-child(3) .title {
            left: 196px;
            color: #70B253;
        }
    #NED-bp6-6-unset-item3 .item3 .text {
        position: absolute;
        width: 370px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-6-unset-item3 .item3:nth-child(odd) .text {
            left: 196px;
        }
        #NED-bp6-6-unset-item3 .item3:nth-child(even) .text {
            right: 196px;
            text-align: right;
        }

/**
 * Four list item
 */
#NED-bp6-6-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 166px;
}
    #NED-bp6-6-unset-item4 .item4 .titleIcon {
        position: absolute;
        width: 131px;
        height: 110px;
        top: 0;
        z-index: 5;
    }
        #NED-bp6-6-unset-item4 .item4:nth-child(odd) .titleIcon {
            left: 44px;
        }
        #NED-bp6-6-unset-item4 .item4:nth-child(even) .titleIcon {
            right: 44px;
        }
    #NED-bp6-6-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 0;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-6-unset-item4 .item4:nth-child(1) .title {
            left: 196px;
            color: #75B2E9;
        }
        #NED-bp6-6-unset-item4 .item4:nth-child(2) .title {
            right: 196px;
            color: #FFBC71;
            text-align: right;
        }
        #NED-bp6-6-unset-item4 .item4:nth-child(3) .title {
            left: 196px;
            color: #70B253;
        }
        #NED-bp6-6-unset-item4 .item4:nth-child(4) .title {
            right: 196px;
            color: #32CBFD;
            text-align: right;
        }
    #NED-bp6-6-unset-item4 .item4 .text {
        position: absolute;
        width: 370px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-6-unset-item4 .item4:nth-child(odd) .text {
            left: 196px;
        }
        #NED-bp6-6-unset-item4 .item4:nth-child(even) .text {
            right: 196px;
            text-align: right;
        }
