/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-8-unset-item1 .headerLine,
#NED-bp6-8-unset-item2 .headerLine,
#NED-bp6-8-unset-item3 .headerLine,
#NED-bp6-8-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-8-unset-item1 .headerText,
#NED-bp6-8-unset-item2 .headerText,
#NED-bp6-8-unset-item3 .headerText,
#NED-bp6-8-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #00FFE4;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/**
 * middle line
 */
#NED-bp6-8-unset-item1 .middleLine,
#NED-bp6-8-unset-item2 .middleLine,
#NED-bp6-8-unset-item3 .middleLine,
#NED-bp6-8-unset-item4 .middleLine {
    position: absolute;
    width: 60px;
    height: 644px;
    left: 126px;
    top: 210px;
    z-index: 2;
}

/** custom center */
#NED-bp6-8-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 460px;
}
#NED-bp6-8-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 348px;
}
#NED-bp6-8-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 238px;
}
#NED-bp6-8-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 212px;
}

/**
 * One list item
 */
#NED-bp6-8-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 166px;
}
    #NED-bp6-8-unset-item1 .item1 .titleBox {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 98px;
        top: 0;
        z-index: 5;
    }
    #NED-bp6-8-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 192px;
        top: 14px;
        color: #75B2E9;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp6-8-unset-item1 .item1 .text {
        position: absolute;
        width: 390px;
        left: 192px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp6-8-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 222px;
}
    #NED-bp6-8-unset-item2 .item2 .titleBox {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 98px;
        top: 0;
        z-index: 5;
    }
    #NED-bp6-8-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 192px;
        top: 14px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-8-unset-item2 .item2:nth-child(1) .title {
            color: #75B2E9;
        }
        #NED-bp6-8-unset-item2 .item2:nth-child(2) .title {
            color: #FFBC71;
        }
    #NED-bp6-8-unset-item2 .item2 .text {
        position: absolute;
        width: 390px;
        left: 192px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp6-8-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 222px;
}
    #NED-bp6-8-unset-item3 .item3 .titleBox {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 98px;
        top: 0;
        z-index: 5;
    }
    #NED-bp6-8-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 192px;
        top: 14px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-8-unset-item3 .item3:nth-child(1) .title {
            color: #75B2E9;
        }
        #NED-bp6-8-unset-item3 .item3:nth-child(2) .title {
            color: #FFBC71;
        }
        #NED-bp6-8-unset-item3 .item3:nth-child(3) .title {
            color: #70B253;
        }
    #NED-bp6-8-unset-item3 .item3 .text {
        position: absolute;
        width: 390px;
        left: 192px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp6-8-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 166px;
}
    #NED-bp6-8-unset-item4 .item4 .titleBox {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 98px;
        top: 0;
        z-index: 5;
    }
    #NED-bp6-8-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        left: 192px;
        top: 14px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-8-unset-item4 .item4:nth-child(1) .title {
            color: #75B2E9;
        }
        #NED-bp6-8-unset-item4 .item4:nth-child(2) .title {
            color: #FFBC71;
        }
        #NED-bp6-8-unset-item4 .item4:nth-child(3) .title {
            color: #70B253;
        }
        #NED-bp6-8-unset-item4 .item4:nth-child(4) .title {
            color: #32CBFD;
        }
    #NED-bp6-8-unset-item4 .item4 .text {
        position: absolute;
        width: 390px;
        left: 192px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
