/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-9-unset-item1 .headerLine,
#NED-bp6-9-unset-item2 .headerLine,
#NED-bp6-9-unset-item3 .headerLine,
#NED-bp6-9-unset-item4 .headerLine {
  position: absolute;
  width: 527px;
  height: 60px;
  left: 44px;
  top: 126px;
  z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-9-unset-item1 .headerText,
#NED-bp6-9-unset-item2 .headerText,
#NED-bp6-9-unset-item3 .headerText,
#NED-bp6-9-unset-item4 .headerText {
  position: absolute;
  left: 44px;
  top: 72px;
  text-align: left;
  color: #00FFE4;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** custom center */
#NED-bp6-9-unset-item1 .center {
  position: absolute;
  width: 100%;
  top: 414px;
}
#NED-bp6-9-unset-item2 .center {
  position: absolute;
  width: 100%;
  top: 296px;
}
#NED-bp6-9-unset-item3 .center {
  position: absolute;
  width: 100%;
  top: 214px;
}
#NED-bp6-9-unset-item4 .center {
  position: absolute;
  width: 100%;
  top: 178px;
}

/**
 * One list item
 */
#NED-bp6-9-unset-item1 .item1 {
  position: relative;
  width: 100%;
  height: 232px;
}
  #NED-bp6-9-unset-item1 .item1 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    left: 36px;
    top: 0;
    z-index: 5;
  }
  #NED-bp6-9-unset-item1 .item1 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 58px;
    top: 22px;
    z-index: 6;
  }
    #NED-bp6-9-unset-item1 .item1 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
  #NED-bp6-9-unset-item1 .item1 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 220px;
    top: 33px;
  }
    #NED-bp6-9-unset-item1 .item1 .name {
      position: absolute;
      width: 130px;
      margin: 0 16px 0 0;
      top: 0;
      color: #FFFFFF;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
    #NED-bp6-9-unset-item1 .item1 .job {
      position: absolute;
      left: 140px;
      top: 0;
      color: #00FFD1;
      line-height: 1.8;
      word-wrap: break-word;
      font-family: arial;
      font-weight: bolder;
      font-size: 24px;
      z-index: 7;
    }
  #NED-bp6-9-unset-item1 .item1 .text {
    position: absolute;
    width: 370px;
    left: 220px;
    top: 85px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
/**
 * Two list item
 */
#NED-bp6-9-unset-item2 .item2 {
  position: relative;
  width: 100%;
  height: 236px;
}
  #NED-bp6-9-unset-item2 .item2 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp6-9-unset-item2 .item2:nth-child(odd) .edge {
      left: 36px;
    }
    #NED-bp6-9-unset-item2 .item2:nth-child(even) .edge {
      right: 36px;
    }
  #NED-bp6-9-unset-item2 .item2 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 22px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 6;
  }
    #NED-bp6-9-unset-item2 .item2 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
    #NED-bp6-9-unset-item2 .item2:nth-child(odd) .role {
      left: 58px;
    }
    #NED-bp6-9-unset-item2 .item2:nth-child(even) .role {
      right: 58px;
    }
  #NED-bp6-9-unset-item2 .item2 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 33px;
  }
    #NED-bp6-9-unset-item2 .item2:nth-child(odd) .nameBox {
      left: 220px;
    }
    #NED-bp6-9-unset-item2 .item2:nth-child(even) .nameBox {
      right: 220px;
    }
  #NED-bp6-9-unset-item2 .item2 .name {
    position: absolute;
    width: 130px;
    top: 0;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp6-9-unset-item2 .item2:nth-child(odd) .name {
      left: 0;
      text-align: left;
    }
    #NED-bp6-9-unset-item2 .item2:nth-child(even) .name {
      right: 0;
      text-align: right;
    }
  #NED-bp6-9-unset-item2 .item2 .job {
    position: absolute;
    top: 0;
    color: #00FFD1;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 24px;
    z-index: 7;
  }
    #NED-bp6-9-unset-item2 .item2:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp6-9-unset-item2 .item2:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp6-9-unset-item2 .item2 .text {
    position: absolute;
    width: 370px;
    top: 85px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp6-9-unset-item2 .item2:nth-child(odd) .text {
      left: 220px;
    }
    #NED-bp6-9-unset-item2 .item2:nth-child(even) .text {
      right: 220px;
      text-align: right;
    }

/**
 * Three list item
 */
#NED-bp6-9-unset-item3 .item3 {
  position: relative;
  width: 100%;
  height: 236px;
}
  #NED-bp6-9-unset-item3 .item3 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp6-9-unset-item3 .item3:nth-child(odd) .edge {
      left: 36px;
    }
    #NED-bp6-9-unset-item3 .item3:nth-child(even) .edge {
      right: 36px;
    }
  #NED-bp6-9-unset-item3 .item3 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 22px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 6;
  }
    #NED-bp6-9-unset-item3 .item3 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
      #NED-bp6-9-unset-item3 .item3:nth-child(odd) .role {
        left: 58px;
      }
      #NED-bp6-9-unset-item3 .item3:nth-child(even) .role {
        right: 58px;
      }
  #NED-bp6-9-unset-item3 .item3 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 33px;
  }
    #NED-bp6-9-unset-item3 .item3:nth-child(odd) .nameBox {
      left: 220px;
    }
    #NED-bp6-9-unset-item3 .item3:nth-child(even) .nameBox {
      right: 220px;
    }
  #NED-bp6-9-unset-item3 .item3 .name {
    position: absolute;
    width: 130px;
    top: 0;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp6-9-unset-item3 .item3:nth-child(odd) .name {
      left: 0;
    }
    #NED-bp6-9-unset-item3 .item3:nth-child(even) .name {
      right: 0;
      text-align: right;
    }
  #NED-bp6-9-unset-item3 .item3 .job {
    position: absolute;
    top: 0;
    color: #00FFD1;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 24px;
    z-index: 7;
  }
    #NED-bp6-9-unset-item3 .item3:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp6-9-unset-item3 .item3:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp6-9-unset-item3 .item3 .text {
    position: absolute;
    width: 370px;
    top: 85px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp6-9-unset-item3 .item3:nth-child(odd) .text {
      left: 220px;
    }
    #NED-bp6-9-unset-item3 .item3:nth-child(even) .text {
      right: 220px;
      text-align: right;
    }

/**
 * Four list item
 */
#NED-bp6-9-unset-item4 .item4 {
  position: relative;
  width: 100%;
  height: 178px;
}
  #NED-bp6-9-unset-item4 .item4 .edge {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 0;
    z-index: 5;
  }
    #NED-bp6-9-unset-item4 .item4:nth-child(odd) .edge {
      left: 36px;
    }
    #NED-bp6-9-unset-item4 .item4:nth-child(even) .edge {
      right: 36px;
    }
  #NED-bp6-9-unset-item4 .item4 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 22px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 6;
  }
    #NED-bp6-9-unset-item4 .item4 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
    #NED-bp6-9-unset-item4 .item4:nth-child(odd) .role {
      left: 58px;
    }
    #NED-bp6-9-unset-item4 .item4:nth-child(even) .role {
      right: 58px;
    }
  #NED-bp6-9-unset-item4 .item4 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 33px;
  }
    #NED-bp6-9-unset-item4 .item4:nth-child(odd) .nameBox {
      left: 220px;
    }
    #NED-bp6-9-unset-item4 .item4:nth-child(even) .nameBox {
      right: 220px;
    }
  #NED-bp6-9-unset-item4 .item4 .name {
    position: absolute;
    width: 130px;
    top: 0;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp6-9-unset-item4 .item4:nth-child(odd) .name {
      left: 0;
    }
    #NED-bp6-9-unset-item4 .item4:nth-child(even) .name {
      right: 0;
      text-align: right;
    }
  #NED-bp6-9-unset-item4 .item4 .job {
    position: absolute;
    top: 0;
    color: #00FFD1;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: arial;
    font-weight: bolder;
    font-size: 24px;
    z-index: 7;
  }
    #NED-bp6-9-unset-item4 .item4:nth-child(odd) .job {
      left: 140px;
    }
    #NED-bp6-9-unset-item4 .item4:nth-child(even) .job {
      right: 140px;
    }
  #NED-bp6-9-unset-item4 .item4 .text {
    position: absolute;
    width: 370px;
    top: 85px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp6-9-unset-item4 .item4:nth-child(odd) .text {
      left: 220px;
    }
    #NED-bp6-9-unset-item4 .item4:nth-child(even) .text {
      right: 220px;
      text-align: right;
    }
