/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-3-unset-item1 .headerLine,
#NED-bp6-3-unset-item2 .headerLine,
#NED-bp6-3-unset-item3 .headerLine,
#NED-bp6-3-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-3-unset-item1 .headerText,
#NED-bp6-3-unset-item2 .headerText,
#NED-bp6-3-unset-item3 .headerText,
#NED-bp6-3-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #00FFE4;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/**
 * middle line
 */
#NED-bp6-3-unset-item1 .middleLine {
    position: absolute;
    width: 60px;
    height: 119px;
    left: 82px;
    top: 420px;
    z-index: 2;
}
#NED-bp6-3-unset-item2 .middleLine {
    position: absolute;
    width: 289px;
    height: 409px;
    left: 175px;
    top: 286px;
    z-index: 2;
}
#NED-bp6-3-unset-item3 .middleLine {
    position: absolute;
    width: 289px;
    height: 587px;
    left: 175px;
    top: 200px;
    z-index: 2;
}
#NED-bp6-3-unset-item4 .middleLine {
    position: absolute;
    width: 289px;
    height: 647px;
    left: 175px;
    top: 200px;
    z-index: 2;
}


/** custom center */
#NED-bp6-3-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 424px;
}
#NED-bp6-3-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 290px;
}
#NED-bp6-3-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 204px;
}
#NED-bp6-3-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 204px;
}

/**
 * One list item
 */
#NED-bp6-3-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 176px;
}
    #NED-bp6-3-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 162px;
        top: 0;
        color: #75B2E9;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp6-3-unset-item1 .item1 .text {
        position: absolute;
        width: 390px;
        left: 162px;
        top: 56px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp6-3-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 290px;
}
    #NED-bp6-3-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 4px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-3-unset-item2 .item2:nth-child(odd) .title {
            color: #75B2E9;
            left: 222px;
        }
        #NED-bp6-3-unset-item2 .item2:nth-child(even) .title {
            color: #FFBC71;
            right: 223px;
            text-align: right;
        }
    #NED-bp6-3-unset-item2 .item2 .text {
        position: absolute;
        width: 390px;
        top: 56px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-3-unset-item2 .item2:nth-child(odd) .text {
            left: 222px;
        }
        #NED-bp6-3-unset-item2 .item2:nth-child(even) .text {
            right: 223px;
            text-align: right;
        }

/**
 * Three list item
 */
#NED-bp6-3-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 234px;
}
    #NED-bp6-3-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 4px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-3-unset-item3 .item3:nth-child(1) .title {
            color: #75B2E9;
            left: 222px;
        }
        #NED-bp6-3-unset-item3 .item3:nth-child(2) .title {
            color: #FFBC71;
            right: 223px;
            text-align: right;
        }
        #NED-bp6-3-unset-item3 .item3:nth-child(3) .title {
            color: #70B253;
            left: 222px;
        }
    #NED-bp6-3-unset-item3 .item3 .text {
        position: absolute;
        width: 390px;
        top: 56px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-3-unset-item3 .item3:nth-child(odd) .text {
            left: 222px;
        }
        #NED-bp6-3-unset-item3 .item3:nth-child(even) .text {
            right: 223px;
            text-align: right;
        }

/**
 * Four list item
 */
#NED-bp6-3-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 176px;
}
    #NED-bp6-3-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 4px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-3-unset-item4 .item4:nth-child(1) .title {
            color: #75B2E9;
            left: 222px;
        }
        #NED-bp6-3-unset-item4 .item4:nth-child(2) .title {
            color: #FFBC71;
            right: 223px;
            text-align: right;
        }
        #NED-bp6-3-unset-item4 .item4:nth-child(3) .title {
            color: #70B253;
            left: 222px;
        }
        #NED-bp6-3-unset-item4 .item4:nth-child(4) .title {
            color: #32CBFD;
            right: 223px;
            text-align: right;
        }
    #NED-bp6-3-unset-item4 .item4 .text {
        position: absolute;
        width: 390px;
        top: 56px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-3-unset-item4 .item4:nth-child(odd) .text {
            left: 222px;
        }
        #NED-bp6-3-unset-item4 .item4:nth-child(even) .text {
            right: 223px;
            text-align: right;
        }
