#NED-bp6-1-unset-index .name {
    position: absolute;
    width: 500px;
    left: 70px;
    top: 350px;
    font-size: 48px;
    text-align: center;
    color: #FEB30D;
    line-height: 1.5;
    word-wrap: break-word;
    font-weight: bold;
    z-index: 6;
}
#NED-bp6-1-unset-index .intro {
    position: absolute;
    width: 384px;
    top: 418px;
    left: 130px;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.8;
    word-wrap: break-word;
    z-index: 6;
}
