/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-4-unset-introduction .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-4-unset-introduction .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #00FFE4;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp6-4-unset-introduction .middleImg {
    position: absolute;
    width: 484px;
    height: 216px;
    left: 78px;
    top: 166px;
    z-index: 2;
}
/** middle image */
#NED-bp6-4-unset-introduction .introduction {
    position: absolute;
    width: 480px;
    left: 80px;
    top: 424px;
    color: #FFFFFF;
    z-index: 6;
}
#NED-bp6-4-unset-introduction .bottomLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 886px;
    z-index: 1;
}
