/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-2-unset-item1 .headerLine,
#NED-bp6-2-unset-item2 .headerLine,
#NED-bp6-2-unset-item3 .headerLine,
#NED-bp6-2-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-2-unset-item1 .headerText,
#NED-bp6-2-unset-item2 .headerText,
#NED-bp6-2-unset-item3 .headerText,
#NED-bp6-2-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #00FFE4;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/**
 * middle line
 */
#NED-bp6-2-unset-item2 .middleLine {
    position: absolute;
    width: 58px;
    height: 281px;
    left: 284px;
    top: 354px;
    z-index: 2;
}
#NED-bp6-2-unset-item3 .middleLine {
    position: absolute;
    width: 50px;
    height: 415px;
    left: 292px;
    top: 286px;
    z-index: 2;
}
#NED-bp6-2-unset-item4 .middleLine {
    position: absolute;
    width: 51px;
    height: 459px;
    left: 292px;
    top: 264px;
    z-index: 2;
}

/** custom center */
#NED-bp6-2-unset-item1 .center {
  position: absolute;
  width: 100%;
  top: 388px;
}
#NED-bp6-2-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 329px;
}
#NED-bp6-2-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 260px;
}
#NED-bp6-2-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 236px;
}

/**
 * One list item
 */
#NED-bp6-2-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 202px;
}
    #NED-bp6-2-unset-item1 .item1 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 168px;
        top: 0;
        z-index: 5;
    }
    #NED-bp6-2-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 238px;
        top: 14px;
        color: #75B2E9;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp6-2-unset-item1 .item1 .text {
        position: absolute;
        width: 245px;
        left: 226px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp6-2-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 277px;
}
    #NED-bp6-2-unset-item2 .item2 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp6-2-unset-item2 .item2:nth-child(1) .titleIcon {
            left: 314px;
        }
        #NED-bp6-2-unset-item2 .item2:nth-child(2) .titleIcon {
            left: 266px;
        }
    #NED-bp6-2-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-2-unset-item2 .item2:nth-child(1) .title {
            left: 382px;
            color: #75B2E9;
        }
        #NED-bp6-2-unset-item2 .item2:nth-child(2) .title {
            right: 382px;
            color: #FFBC71;
            text-align: right;
        }
    #NED-bp6-2-unset-item2 .item2 .text {
        position: absolute;
        width: 245px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-2-unset-item2 .item2:nth-child(odd) .text {
            left: 370px;
        }
        #NED-bp6-2-unset-item2 .item2:nth-child(even) .text {
            right: 370px;
            text-align: right;
        }

/**
 * Three list item
 */
#NED-bp6-2-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 204px;
}
    #NED-bp6-2-unset-item3 .item3 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp6-2-unset-item3 .item3:nth-child(1) .titleIcon {
            left: 314px;
        }
        #NED-bp6-2-unset-item3 .item3:nth-child(2) .titleIcon {
            left: 266px;
        }
        #NED-bp6-2-unset-item3 .item3:nth-child(3) .titleIcon {
            left: 314px;
        }
    #NED-bp6-2-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-2-unset-item3 .item3:nth-child(1) .title {
            left: 382px;
            color: #75B2E9;
        }
        #NED-bp6-2-unset-item3 .item3:nth-child(2) .title {
            right: 382px;
            color: #FFBC71;
            text-align: right;
        }
        #NED-bp6-2-unset-item3 .item3:nth-child(3) .title {
            left: 382px;
            color: #70B253;
        }
    #NED-bp6-2-unset-item3 .item3 .text {
        position: absolute;
        width: 245px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-2-unset-item3 .item3:nth-child(odd) .text {
            left: 370px;
        }
        #NED-bp6-2-unset-item3 .item3:nth-child(even) .text {
            right: 370px;
            text-align: right;
        }

/**
 * Four list item
 */
#NED-bp6-2-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 152px;
}
    #NED-bp6-2-unset-item4 .item4 .titleIcon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp6-2-unset-item4 .item4:nth-child(1) .titleIcon {
            left: 312px;
        }
        #NED-bp6-2-unset-item4 .item4:nth-child(2) .titleIcon {
            left: 266px;
        }
        #NED-bp6-2-unset-item4 .item4:nth-child(3) .titleIcon {
            left: 312px;
        }
        #NED-bp6-2-unset-item4 .item4:nth-child(4) .titleIcon {
            left: 266px;
        }
    #NED-bp6-2-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-2-unset-item4 .item4:nth-child(1) .title {
            left: 382px;
            color: #75B2E9;
        }
        #NED-bp6-2-unset-item4 .item4:nth-child(2) .title {
            right: 382px;
            color: #FFBC71;
            text-align: right;
        }
        #NED-bp6-2-unset-item4 .item4:nth-child(3) .title {
            left: 382px;
            color: #70B253;
        }
        #NED-bp6-2-unset-item4 .item4:nth-child(4) .title {
            right: 382px;
            color: #32CBFD;
            text-align: right;
        }
    #NED-bp6-2-unset-item4 .item4 .text {
        position: absolute;
        width: 245px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-2-unset-item4 .item4:nth-child(odd) .text {
            left: 370px;
        }
        #NED-bp6-2-unset-item4 .item4:nth-child(even) .text {
            right: 370px;
            text-align: right;
        }
