/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-10-unset-item1 .headerLine,
#NED-bp6-10-unset-item2 .headerLine,
#NED-bp6-10-unset-item3 .headerLine,
#NED-bp6-10-unset-item4 .headerLine {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 44px;
    top: 126px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp6-10-unset-item1 .headerText,
#NED-bp6-10-unset-item2 .headerText,
#NED-bp6-10-unset-item3 .headerText,
#NED-bp6-10-unset-item4 .headerText {
    position: absolute;
    left: 44px;
    top: 72px;
    text-align: left;
    color: #00FFE4;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}
/**
 * The custom description area
 */
#NED-bp6-10-unset-item1 .description,
#NED-bp6-10-unset-item2 .description,
#NED-bp6-10-unset-item3 .description,
#NED-bp6-10-unset-item4 .description {
    position: absolute;
    width: 100%;
    height: 129px;
    top: 192px;
}
    #NED-bp6-10-unset-item1 .description .descriptionText,
    #NED-bp6-10-unset-item2 .description .descriptionText,
    #NED-bp6-10-unset-item3 .description .descriptionText,
    #NED-bp6-10-unset-item4 .description .descriptionText {
        position: absolute;
        width: 440px;
        top: 46px;
        left: 100px;
        text-align: center;
        color: #FFFFFF;
        line-height: 1;
        font-size: 28px;
        z-index: 6;
    }

/** custom center */
#NED-bp6-10-unset-item1 .center,
#NED-bp6-10-unset-item2 .center,
#NED-bp6-10-unset-item3 .center,
#NED-bp6-10-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 632px;
    top: 320px;
}
    #NED-bp6-10-unset-item1 .center .centerImg {
        position: absolute;
        width: 344px;
        height: 344px;
        right: 88px;
        top: 100px;
        z-index: 2;
    }
    #NED-bp6-10-unset-item2 .center .centerImg,
    #NED-bp6-10-unset-item4 .center .centerImg {
        position: absolute;
        width: 344px;
        height: 344px;
        left: 156px;
        top: 100px;
        z-index: 2;
    }
    #NED-bp6-10-unset-item3 .center .centerImg {
        position: absolute;
        width: 344px;
        height: 344px;
        left: 156px;
        top: 145px;
        z-index: 2;
    }

/**
 * One list item
 */
#NED-bp6-10-unset-item1 .item1 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp6-10-unset-item1 .item1 .titleBox {
        position: absolute;
        width: 212px;
        height: 65px;
        left: 102px;
        top: 245px;
        z-index: 5;
    }
        #NED-bp6-10-unset-item1 .item1 .titleBox .titleBox_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            border: 3px solid #31CBFD;
            background-color: #464748;
            box-sizing: border-box;
        }
    #NED-bp6-10-unset-item1 .item1 .title {
        position: absolute;
        left: 112px;
        top: 263px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp6-10-unset-item1 .item1 .text {
        position: absolute;
        left: 112px;
        top: 350px;
        color: #75B2E9;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp6-10-unset-item2 .item2 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp6-10-unset-item2 .item2 .titleBox {
        position: absolute;
        width: 212px;
        height: 65px;
        top: 245px;
        z-index: 5;
    }
        #NED-bp6-10-unset-item2 .item2:nth-child(1) .titleBox {
            left: 50px;
        }
        #NED-bp6-10-unset-item2 .item2:nth-child(2) .titleBox {
            left: 380px;
        }
        #NED-bp6-10-unset-item2 .item2 .titleBox .titleBox_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            border: 3px solid #31CBFD;
            background-color: #464748;
            box-sizing: border-box;
        }
    #NED-bp6-10-unset-item2 .item2 .title {
        position: absolute;
        top: 263px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-10-unset-item2 .item2:nth-child(1) .title {
            left: 60px;
        }
        #NED-bp6-10-unset-item2 .item2:nth-child(2) .title {
            left: 390px;
        }
    #NED-bp6-10-unset-item2 .item2 .text {
        position: absolute;
        top: 350px;
        color: #31CBFD;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-10-unset-item2 .item2:nth-child(1) .text {
            left: 60px;
        }
        #NED-bp6-10-unset-item2 .item2:nth-child(2) .text {
            right: 60px;
        }

/**
 * Three list item
 */
#NED-bp6-10-unset-item3 .item3 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp6-10-unset-item3 .item3 .titleBox {
        position: absolute;
        width: 212px;
        height: 65px;
        z-index: 5;
    }
        #NED-bp6-10-unset-item3 .item3:nth-child(1) .titleBox {
            left: 215px;
            top: 54px;
        }
        #NED-bp6-10-unset-item3 .item3:nth-child(2) .titleBox {
            left: 50px;
            top: 392px;
        }
        #NED-bp6-10-unset-item3 .item3:nth-child(3) .titleBox {
            left: 380px;
            top: 392px;
        }
        #NED-bp6-10-unset-item3 .item3 .titleBox .titleBox_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            border: 3px solid #31CBFD;
            background-color: #464748;
            box-sizing: border-box;
        }
    #NED-bp6-10-unset-item3 .item3 .title {
        position: absolute;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-10-unset-item3 .item3:nth-child(1) .title {
            left: 224px;
            top: 70px;
        }
        #NED-bp6-10-unset-item3 .item3:nth-child(2) .title {
            left: 60px;
            top: 410px;
        }
        #NED-bp6-10-unset-item3 .item3:nth-child(3) .title {
            left: 390px;
            top: 410px;
        }
    #NED-bp6-10-unset-item3 .item3 .text {
        position: absolute;
        color: #31CBFD;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-10-unset-item3 .item3:nth-child(1) .text {
            left: 224px;
            top: -6px;
        }
        #NED-bp6-10-unset-item3 .item3:nth-child(2) .text {
            left: 60px;
            top: 512px;
        }
        #NED-bp6-10-unset-item3 .item3:nth-child(3) .text {
            right: 60px;
            top: 512px;
        }

/**
 * Four list item
 */
#NED-bp6-10-unset-item4 .item4 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp6-10-unset-item4 .item4 .titleBox {
        position: absolute;
        width: 212px;
        height: 65px;
        z-index: 5;
    }
        #NED-bp6-10-unset-item4 .item4:nth-child(1) .titleBox {
            left: 50px;
            top: 128px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(2) .titleBox {
            left: 380px;
            top: 128px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(3) .titleBox {
            left: 50px;
            top: 352px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(4) .titleBox {
            left: 380px;
            top: 352px;
        }
        #NED-bp6-10-unset-item4 .item4 .titleBox .titleBox_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            border: 3px solid #31CBFD;
            background-color: #464748;
            box-sizing: border-box;
        }
    #NED-bp6-10-unset-item4 .item4 .title {
        position: absolute;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-10-unset-item4 .item4:nth-child(1) .title {
            left: 60px;
            top: 146px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(2) .title {
            left: 390px;
            top: 146px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(3) .title {
            left: 60px;
            top: 370px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(4) .title {
            left: 390px;
            top: 370px;
        }
    #NED-bp6-10-unset-item4 .item4 .text {
        position: absolute;
        color: #31CBFD;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp6-10-unset-item4 .item4:nth-child(1) .text {
            left: 60px;
            top: 70px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(2) .text {
            left: 516px;
            top: 70px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(3) .text {
            left: 60px;
            top: 457px;
        }
        #NED-bp6-10-unset-item4 .item4:nth-child(4) .text {
            left: 516px;
            top: 457px;
        }
