#NED-bp6-1-unset-index,
#NED-bp6-2-unset-item1,
#NED-bp6-2-unset-item2,
#NED-bp6-2-unset-item3,
#NED-bp6-2-unset-item4,
#NED-bp6-3-unset-item1,
#NED-bp6-3-unset-item2,
#NED-bp6-3-unset-item3,
#NED-bp6-3-unset-item4,
#NED-bp6-4-unset-introduction,

#NED-bp6-5-unset-item1,
#NED-bp6-5-unset-item2,
#NED-bp6-5-unset-item3,
#NED-bp6-5-unset-item4,
#NED-bp6-6-unset-item1,
#NED-bp6-6-unset-item2,
#NED-bp6-6-unset-item3,
#NED-bp6-6-unset-item4,
#NED-bp6-7-unset-item1,
#NED-bp6-7-unset-item2,
#NED-bp6-7-unset-item3,
#NED-bp6-7-unset-item4,
#NED-bp6-8-unset-item1,
#NED-bp6-8-unset-item2,
#NED-bp6-8-unset-item3,
#NED-bp6-8-unset-item4,
#NED-bp6-9-unset-item1,
#NED-bp6-9-unset-item2,
#NED-bp6-9-unset-item3,
#NED-bp6-9-unset-item4,
#NED-bp6-10-unset-item1,
#NED-bp6-10-unset-item2,
#NED-bp6-10-unset-item3,
#NED-bp6-10-unset-item4 {
    font-family: Microsoft YaHei;
    letter-spacing: 0.02em;
}
/**
 * fontfont1
 */
#NED-bp6-2-unset-item1 .fontH1,
#NED-bp6-2-unset-item2 .fontH1,
#NED-bp6-2-unset-item3 .fontH1,
#NED-bp6-2-unset-item4 .fontH1,
#NED-bp6-3-unset-item1 .fontH1,
#NED-bp6-3-unset-item2 .fontH1,
#NED-bp6-3-unset-item3 .fontH1,
#NED-bp6-3-unset-item4 .fontH1,
#NED-bp6-4-unset-introduction .fontH1,

#NED-bp6-5-unset-item1 .fontH1,
#NED-bp6-5-unset-item2 .fontH1,
#NED-bp6-5-unset-item3 .fontH1,
#NED-bp6-5-unset-item4 .fontH1,
#NED-bp6-6-unset-item1 .fontH1,
#NED-bp6-6-unset-item2 .fontH1,
#NED-bp6-6-unset-item3 .fontH1,
#NED-bp6-6-unset-item4 .fontH1,
#NED-bp6-7-unset-item1 .fontH1,
#NED-bp6-7-unset-item2 .fontH1,
#NED-bp6-7-unset-item3 .fontH1,
#NED-bp6-7-unset-item4 .fontH1,
#NED-bp6-8-unset-item1 .fontH1,
#NED-bp6-8-unset-item2 .fontH1,
#NED-bp6-8-unset-item3 .fontH1,
#NED-bp6-8-unset-item4 .fontH1,
#NED-bp6-9-unset-item1 .fontH1,
#NED-bp6-9-unset-item2 .fontH1,
#NED-bp6-9-unset-item3 .fontH1,
#NED-bp6-9-unset-item4 .fontH1,
#NED-bp6-10-unset-item1 .fontH1,
#NED-bp6-10-unset-item2 .fontH1,
#NED-bp6-10-unset-item3 .fontH1,
#NED-bp6-10-unset-item4 .fontH1 {
    font-size: 36px;
    font-weight: bolder;
    line-height: 1;
}
/**
 * fontfont2
 */
#NED-bp6-2-unset-item1 .fontH6,
#NED-bp6-2-unset-item2 .fontH6,
#NED-bp6-2-unset-item3 .fontH6,
#NED-bp6-2-unset-item4 .fontH6,
#NED-bp6-3-unset-item1 .fontH6,
#NED-bp6-3-unset-item2 .fontH6,
#NED-bp6-3-unset-item3 .fontH6,
#NED-bp6-3-unset-item4 .fontH6,
#NED-bp6-4-unset-introduction .fontH6,

#NED-bp6-5-unset-item1 .fontH6,
#NED-bp6-5-unset-item2 .fontH6,
#NED-bp6-5-unset-item3 .fontH6,
#NED-bp6-5-unset-item4 .fontH6,
#NED-bp6-6-unset-item1 .fontH6,
#NED-bp6-6-unset-item2 .fontH6,
#NED-bp6-6-unset-item3 .fontH6,
#NED-bp6-6-unset-item4 .fontH6,
#NED-bp6-7-unset-item1 .fontH6,
#NED-bp6-7-unset-item2 .fontH6,
#NED-bp6-7-unset-item3 .fontH6,
#NED-bp6-7-unset-item4 .fontH6,
#NED-bp6-8-unset-item1 .fontH6,
#NED-bp6-8-unset-item2 .fontH6,
#NED-bp6-8-unset-item3 .fontH6,
#NED-bp6-8-unset-item4 .fontH6,
#NED-bp6-9-unset-item1 .fontH6,
#NED-bp6-9-unset-item2 .fontH6,
#NED-bp6-9-unset-item3 .fontH6,
#NED-bp6-9-unset-item4 .fontH6,
#NED-bp6-10-unset-item1 .fontH6,
#NED-bp6-10-unset-item2 .fontH6,
#NED-bp6-10-unset-item3 .fontH6,
#NED-bp6-10-unset-item4 .fontH6 {
    font-size: 32px;
    font-weight: bolder;
    line-height: 1;
}
/**
 * normal font size
 */
#NED-bp6-2-unset-item1 .fontText,
#NED-bp6-2-unset-item2 .fontText,
#NED-bp6-2-unset-item3 .fontText,
#NED-bp6-2-unset-item4 .fontText,
#NED-bp6-3-unset-item1 .fontText,
#NED-bp6-3-unset-item2 .fontText,
#NED-bp6-3-unset-item3 .fontText,
#NED-bp6-3-unset-item4 .fontText,
#NED-bp6-4-unset-introduction .fontText,

#NED-bp6-5-unset-item1 .fontText,
#NED-bp6-5-unset-item2 .fontText,
#NED-bp6-5-unset-item3 .fontText,
#NED-bp6-5-unset-item4 .fontText,
#NED-bp6-6-unset-item1 .fontText,
#NED-bp6-6-unset-item2 .fontText,
#NED-bp6-6-unset-item3 .fontText,
#NED-bp6-6-unset-item4 .fontText,
#NED-bp6-7-unset-item1 .fontText,
#NED-bp6-7-unset-item2 .fontText,
#NED-bp6-7-unset-item3 .fontText,
#NED-bp6-7-unset-item4 .fontText,
#NED-bp6-8-unset-item1 .fontText,
#NED-bp6-8-unset-item2 .fontText,
#NED-bp6-8-unset-item3 .fontText,
#NED-bp6-8-unset-item4 .fontText,
#NED-bp6-9-unset-item1 .fontText,
#NED-bp6-9-unset-item2 .fontText,
#NED-bp6-9-unset-item3 .fontText,
#NED-bp6-9-unset-item4 .fontText,
#NED-bp6-10-unset-item1 .fontText,
#NED-bp6-10-unset-item2 .fontText,
#NED-bp6-10-unset-item3 .fontText,
#NED-bp6-10-unset-item4 .fontText {
    font-size: 24px;
}
