<section id="NED-bp2-10-unset-item1" class="NED-layoutA2">
  <img src="template/2/images/background.jpg" class="NED-background" draggable="false"/>

  <div id="NED-bp2-10-unset-item1_topCarving" class="topCarving" data-type="img">
    <img src="template/2/images/bj_1.png" draggable="false"/>
  </div>

  <div class="NED-header">
    <div id="NED-bp2-10-unset-item1_headText" class="headText fontH1" data-type="text" data-lang="t9">
      <p>解决方式</p>
    </div>
  </div>

  <div id="NED-bp2-10-unset-item1_description" class="description fontH6" data-type="text" data-field="title">
      <p>A轮 2000万 出让20%股权</p>
  </div>

  <div id="NED-bp2-10-unset-item1_centerImg" class="centerImg" data-type="img">
    <img src="template/2/images/financing_1.png" draggable="false"/>
  </div>

  <div class="center">
    <div class="item1">
      <div id="NED-bp2-10-unset-item1_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item1_1_text" class="text fontH6" data-type="text" data-field="list1_desc">
        <p>500萬</p>
      </div>
    </div>
  </div>

  <div id="NED-bp2-10-unset-item1_bottomCarving" class="bottomCarving" data-type="img">
    <img src="template/2/images/team_bj.png" />
  </div>
</section>

<section id="NED-bp2-10-unset-item2" class="NED-layoutA2">
  <img src="template/2/images/background.jpg" class="NED-background" draggable="false"/>

  <div id="NED-bp2-10-unset-item2_topCarving" class="topCarving" data-type="img">
    <img src="template/2/images/bj_1.png" draggable="false"/>
  </div>

  <div class="NED-header">
    <div id="NED-bp2-10-unset-item2_headText" class="headText fontH1" data-type="text" data-lang="t9">
      <p>解决方式</p>
    </div>
  </div>

  <div id="NED-bp2-10-unset-item2_description" class="description fontH6" data-type="text" data-field="title">
      <p>A轮 2000万 出让20%股权</p>
  </div>

  <div id="NED-bp2-10-unset-item2_centerImg" class="centerImg" data-type="img">
    <img src="template/2/images/financing_2.png" draggable="false"/>
  </div>

  <div class="center">
    <div class="item2">
      <div id="NED-bp2-10-unset-item2_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item2_1_text" class="text fontH6" data-type="text" data-field="list1_desc">
        <p>500萬</p>
      </div>
    </div>
    <div class="item2">
      <div id="NED-bp2-10-unset-item2_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item2_2_text" class="text fontH6" data-type="text" data-field="list2_desc">
        <p>500萬</p>
      </div>
    </div>
  </div>

  <div id="NED-bp2-10-unset-item2_bottomCarving" class="bottomCarving" data-type="img">
    <img src="template/2/images/team_bj.png" />
  </div>
</section>

<section id="NED-bp2-10-unset-item3" class="NED-layoutA2">
  <img src="template/2/images/background.jpg" class="NED-background" draggable="false"/>

  <div id="NED-bp2-10-unset-item3_topCarving" class="topCarving" data-type="img">
    <img src="template/2/images/bj_1.png" draggable="false"/>
  </div>

  <div class="NED-header">
    <div id="NED-bp2-10-unset-item3_headText" class="headText fontH1" data-type="text" data-lang="t9">
      <p>解决方式</p>
    </div>
  </div>

  <div id="NED-bp2-10-unset-item3_description" class="description fontH6" data-type="text" data-field="title">
      <p>A轮 2000万 出让20%股权</p>
  </div>

  <div id="NED-bp2-10-unset-item3_centerImg" class="centerImg" data-type="img">
    <img src="template/2/images/financing_3.png" draggable="false"/>
  </div>

  <div class="center">
    <div class="item3">
      <div id="NED-bp2-10-unset-item3_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item3_1_text" class="text fontH6" data-type="text" data-field="list1_desc">
        <p>500萬</p>
      </div>
    </div>
    <div class="item3">
      <div id="NED-bp2-10-unset-item3_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item3_2_text" class="text fontH6" data-type="text" data-field="list2_desc">
        <p>500萬</p>
      </div>
    </div>
    <div class="item3">
      <div id="NED-bp2-10-unset-item3_3_title" class="title fontH6" data-type="text" data-field="list3_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item3_3_text" class="text fontH6" data-type="text" data-field="list3_desc">
        <p>500萬</p>
      </div>
    </div>
  </div>

  <div id="NED-bp2-10-unset-item3_bottomCarving" class="bottomCarving" data-type="img">
    <img src="template/2/images/team_bj.png" />
  </div>
</section>

<section id="NED-bp2-10-unset-item4" class="NED-layoutA2">
  <img src="template/2/images/background.jpg" class="NED-background" draggable="false"/>

  <div id="NED-bp2-10-unset-item4_topCarving" class="topCarving" data-type="img">
    <img src="template/2/images/bj_1.png" draggable="false"/>
  </div>

  <div class="NED-header">
    <div id="NED-bp2-10-unset-item4_headText" class="headText fontH1" data-type="text" data-lang="t9">
      <p>解决方式</p>
    </div>
  </div>

  <div id="NED-bp2-10-unset-item4_description" class="description fontH6" data-type="text" data-field="title">
      <p>A轮 2000万 出让20%股权</p>
  </div>

  <div id="NED-bp2-10-unset-item4_centerImg" class="centerImg" data-type="img">
    <img src="template/2/images/financing_4.png" draggable="false"/>
  </div>

  <div class="center">
    <div class="item4">
      <div id="NED-bp2-10-unset-item4_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item4_1_text" class="text fontH6" data-type="text" data-field="list1_desc">
        <p>500萬</p>
      </div>
    </div>
    <div class="item4">
      <div id="NED-bp2-10-unset-item4_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item4_2_text" class="text fontH6" data-type="text" data-field="list2_desc">
        <p>500萬</p>
      </div>
    </div>
    <div class="item4">
      <div id="NED-bp2-10-unset-item4_3_title" class="title fontH6" data-type="text" data-field="list3_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item4_3_text" class="text fontH6" data-type="text" data-field="list3_desc">
        <p>500萬</p>
      </div>
    </div>
    <div class="item4">
      <div id="NED-bp2-10-unset-item4_4_title" class="title fontH6" data-type="text" data-field="list4_title">
        <p>胖胖馬的啤酒</p>
      </div>
      <div id="NED-bp2-10-unset-item4_4_text" class="text fontH6" data-type="text" data-field="list4_desc">
        <p>500萬</p>
      </div>
    </div>
  </div>

  <div id="NED-bp2-10-unset-item4_bottomCarving" class="bottomCarving" data-type="img">
    <img src="template/2/images/team_bj.png" />
  </div>
</section>
