<section id="NED-bp2-9-unset-item1" class="NED-layoutA2">
  <img src="template/2/images/background.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp2-9-unset-item1_topCarving" class="topCarving" data-type="img">
    <img src="template/2/images/bj_1.png" draggable="false"/>
  </div>
  <div class="NED-header">
    <div id="NED-bp2-9-unset-item1_headText" class="headText fontH1" data-type="text" data-lang="t8">
      <p>解决方式</p>
    </div>
  </div>

    <div class="center">
        <div class="item1">
            <div id="NED-bp2-9-unset-item1_1_role" class="role" data-type="img" data-field="list1_image">
              <img src="template/2/images/photo1.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item1_1_name" class="name fontH6" data-type="text" data-field="list1_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item1_1_job" class="job" data-type="text" data-field="list1_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item1_1_text" class="text fontText" data-type="text" data-field="list1_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>

    </div>
    <div id="NED-bp2-9-unset-item1_bottomCarving" class="bottomCarving" data-type="img">
        <img src="template/2/images/team_bj.png" />
    </div>
</section>

<section id="NED-bp2-9-unset-item2" class="NED-layoutA2">
  <img src="template/2/images/background.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp2-9-unset-item2_topCarving" class="topCarving" data-type="img">
    <img src="template/2/images/bj_1.png" draggable="false"/>
  </div>
  <div class="NED-header">
    <div id="NED-bp2-9-unset-item2_headText" class="headText fontH1" data-type="text" data-lang="t8">
      <p>解决方式</p>
    </div>
  </div>

    <div class="center">
        <div class="item2">
            <div id="NED-bp2-9-unset-item2_1_role" class="role" data-type="img" data-field="list1_image">
              <img src="template/2/images/photo1.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item2_1_name" class="name fontH6" data-type="text" data-field="list1_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item2_1_job" class="job" data-type="text" data-field="list1_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item2_1_text" class="text fontText" data-type="text" data-field="list1_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>
        <div class="item2">
            <div id="NED-bp2-9-unset-item2_2_role" class="role" data-type="img" data-field="list2_image">
              <img src="template/2/images/photo2.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item2_2_name" class="name fontH6" data-type="text" data-field="list2_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item2_2_job" class="job" data-type="text" data-field="list2_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item2_2_text" class="text fontText" data-type="text" data-field="list2_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>

    </div>
    <div id="NED-bp2-9-unset-item2_bottomCarving" class="bottomCarving" data-type="img">
        <img src="template/2/images/team_bj.png" />
    </div>
</section>

<section id="NED-bp2-9-unset-item3" class="NED-layoutA2">
  <img src="template/2/images/background.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp2-9-unset-item3_topCarving" class="topCarving" data-type="img">
    <img src="template/2/images/bj_1.png" draggable="false"/>
  </div>
  <div class="NED-header">
    <div id="NED-bp2-9-unset-item3_headText" class="headText fontH1" data-type="text" data-lang="t8">
      <p>解决方式</p>
    </div>
  </div>

    <div class="center">
        <div class="item3">
            <div id="NED-bp2-9-unset-item3_1_role" class="role" data-type="img" data-field="list1_image">
              <img src="template/2/images/photo1.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item3_1_name" class="name fontH6" data-type="text" data-field="list1_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item3_1_job" class="job" data-type="text" data-field="list1_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item3_1_text" class="text fontText" data-type="text" data-field="list1_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>
        <div class="item3">
            <div id="NED-bp2-9-unset-item3_2_role" class="role" data-type="img" data-field="list2_image">
              <img src="template/2/images/photo2.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item3_2_name" class="name fontH6" data-type="text" data-field="list2_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item3_2_job" class="job" data-type="text" data-field="list2_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item3_2_text" class="text fontText" data-type="text" data-field="list2_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>
        <div class="item3">
            <div id="NED-bp2-9-unset-item3_3_role" class="role" data-type="img" data-field="list3_image">
              <img src="template/2/images/photo3.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item3_3_name" class="name fontH6" data-type="text" data-field="list3_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item3_3_job" class="job" data-type="text" data-field="list3_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item3_3_text" class="text fontText" data-type="text" data-field="list3_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>

    </div>
    <div id="NED-bp2-9-unset-item3_bottomCarving" class="bottomCarving" data-type="img">
        <img src="template/2/images/team_bj.png" />
    </div>
</section>

<section id="NED-bp2-9-unset-item4" class="NED-layoutA2">
  <img src="template/2/images/background.jpg" class="NED-background" draggable="false"/>
  <div id="NED-bp2-9-unset-item4_topCarving" class="topCarving" data-type="img">
    <img src="template/2/images/bj_1.png" draggable="false"/>
  </div>
  <div class="NED-header">
    <div id="NED-bp2-9-unset-item4_headText" class="headText fontH1" data-type="text" data-lang="t8">
      <p>解决方式</p>
    </div>
  </div>

    <div class="center">
        <div class="item4">
            <div id="NED-bp2-9-unset-item4_1_role" class="role" data-type="img" data-field="list1_image">
              <img src="template/2/images/photo1.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item4_1_name" class="name fontH6" data-type="text" data-field="list1_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item4_1_job" class="job" data-type="text" data-field="list1_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item4_1_text" class="text fontText" data-type="text" data-field="list1_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>
        <div class="item4">
            <div id="NED-bp2-9-unset-item4_2_role" class="role" data-type="img" data-field="list2_image">
              <img src="template/2/images/photo2.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item4_2_name" class="name fontH6" data-type="text" data-field="list2_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item4_2_job" class="job" data-type="text" data-field="list2_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item4_2_text" class="text fontText" data-type="text" data-field="list2_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>
        <div class="item4">
            <div id="NED-bp2-9-unset-item4_3_role" class="role" data-type="img" data-field="list3_image">
              <img src="template/2/images/photo3.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item4_3_name" class="name fontH6" data-type="text" data-field="list3_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item4_3_job" class="job" data-type="text" data-field="list3_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item4_3_text" class="text fontText" data-type="text" data-field="list3_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>
        <div class="item4">
            <div id="NED-bp2-9-unset-item4_4_role" class="role" data-type="img" data-field="list4_image">
              <img src="template/2/images/photo4.jpg" draggable="false" />
            </div>
            <div class="nameBox">
                <div id="NED-bp2-9-unset-item4_4_name" class="name fontH6" data-type="text" data-field="list4_name">
                    <p>胖胖馬的啤酒</p>
                </div>
                <div id="NED-bp2-9-unset-item4_4_job" class="job" data-type="text" data-field="list4_duty">
                    <p>CTO</p>
                </div>
            </div>

            <div id="NED-bp2-9-unset-item4_4_text" class="text fontText" data-type="text" data-field="list4_desc">
                <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
            </div>
        </div>
    </div>
    <div id="NED-bp2-9-unset-item4_bottomCarving" class="bottomCarving" data-type="img">
        <img src="template/2/images/team_bj.png" />
    </div>
</section>
