<section id="NED-bp2-4-unset-introduction">
    <div id="NED-bp2-4-unset-introduction_headerText" class="headerText fontH1" data-type="text" data-lang="t3">
        <p>行业痛点</p>
    </div>

    <div id="NED-bp2-4-unset-introduction_middleImg" class="middleImg" data-type="img">
        <img src="template/2/images/product-description_1.jpg" draggable="false"/>
    </div>

    <div id="NED-bp2-4-unset-introduction_middleImgCarver" class="middleImgCarver">
        <img src="template/2/images/product-description_bj.png" />
    </div>

    <div id="NED-bp2-4-unset-introduction_introduction" class="introduction fontText" data-type="text" data-field="introduction">
      請填入產品描述
    </div>

    <div id="NED-bp2-4-unset-introduction_edgeImg" class="edgeImg" data-type="img">
        <img src="template/2/images/product-description_box.png" draggable="false"/>
    </div>
</section>
