<section id="NED-bp1-4-unset-introduction">
    <div id="NED-bp1-4-unset-introduction_headerText" class="headerText fontH1" data-type="text" data-lang="t3">
        <p>行业痛点</p>
    </div>

    <div id="NED-bp1-4-unset-introduction_middleImgBack" class="middleImgBack" data-type="img">
        <img src="template/1/images/product-description_pic1.png" draggable="false"/>
    </div>

    <div id="NED-bp1-4-unset-introduction_middleImg" class="middleImg" data-type="img">
        <img src="template/1/images/product-description_pic.jpg" draggable="false"/>
    </div>

    <div id="NED-bp1-4-unset-introduction_middleImgCarver" class="middleImgCarver" data-type="img">
        <img src="template/1/images/product-description_pic2.png" draggable="false"/>
    </div>

    <div id="NED-bp1-4-unset-introduction_introduction" class="introduction fontText" data-type="text" data-field="introduction">
      請填入產品描述
    </div>

    <div id="NED-bp1-4-unset-introduction_edgeImg" class="edgeImg" data-type="img">
        <img src="template/1/images/product-description_box.png" draggable="false"/>
    </div>
</section>
