<section id="NED-bp1-1-unset-index" class="NED-layout1">
    <img class="NED-background" src="template/1/images/front-cover_bj.jpg" draggable="false"/>
    <div id="NED-bp1-1-unset-index_icon" class="icon" data-type="img">
        <img src="template/1/images/front cover_dot.png" draggable="false"/>
    </div>
    <div id="NED-bp1-1-unset-index_name" class="name" data-type="text" data-field="name">請輸入名稱</div>
    <div id="NED-bp1-1-unset-index_tip" class="tip" data-type="text" data-field="brief">請輸入介紹</div>
</section>
