<section id="NED-bp3-4-unset-introduction">
    <img src="template/3/images/background.jpg" class="NED-background" draggable="false"/>

    <div id="NED-bp3-4-unset-introduction_middleImg" class="middleImg" data-type="img">
        <img src="template/3/images/product-description_1.jpg" draggable="false"/>
    </div>

    <div class="middleImgCarver">
        <img src="template/3/images/product-description_bj.png" draggable="false" />
    </div>

    <div id="NED-bp3-4-unset-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t3">
        <p>行业痛点</p>
    </div>

    <div id="NED-bp3-4-unset-introduction_introduction" class="introduction fontText" data-type="text" data-field="introduction">
      請填入產品描述
    </div>

</section>
