<section id="NED-bp5-4-unset-introduction">
  <img src="template/5/images/background.jpg" class="NED-background" draggable="false" />

  <div class="NED-header">

    <div id="NED-bp5-4-unset-introduction_headerText" class="headerText fontH1" data-type="text" data-lang="t3">
      <p>行业痛点</p>
    </div>
  </div>

  <div id="NED-bp5-4-unset-introduction_carving0" class="carving0" data-type="img">
    <img src="template/5/images/product-description-bj1.png" draggable="false" />
  </div>
  <div id="NED-bp5-4-unset-introduction_carving1" class="carving1" data-type="img">
    <img src="template/5/images/product-description-bj2.png" draggable="false" />
  </div>

  <div id="NED-bp5-4-unset-introduction_middleImg" class="middleImg" data-type="img">
    <img src="template/5/images/product-description.jpg" draggable="false" />
  </div>

  <div id="NED-bp5-4-unset-introduction_introduction" class="introduction fontText" data-type="text" data-field="introduction">請填入產品描述</div>
</section>
