<section id="NED-bp5-10-unset-item1">
    <img src="template/5/images/background.jpg" class="NED-background" draggable="false"/>

    <div class="NED-header">
        <div id="NED-bp5-10-unset-item1_headerLine" class="headerLine" data-type="img">
            <img src="template/5/images/line.png" draggable="false"/>
        </div>
        <div id="NED-bp5-10-unset-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t9">
            <p>行业痛点</p>
        </div>
    </div>

    <div class="description">
        <div id="NED-bp5-10-unset-item1_descriptionText" class="descriptionText fontH6" data-type="text" data-field="title">
            <p>A轮 2000万 出让20%股权</p>
        </div>
    </div>

    <div class="center">
        <div class="item1">
            <div id="NED-bp5-10-unset-item1_1_title" class="title fontH6" data-type="text" data-field="list1_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item1_1_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item1_1_text" class="text fontText" data-type="text" data-field="list1_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item1_1_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>

        <div id="NED-bp5-10-unset-item1_centerImg" class="centerImg" data-type="img">
            <img src="template/5/images/financing_1.png" draggable="false" />
        </div>

    </div>
</section>

<section id="NED-bp5-10-unset-item2">
    <img src="template/5/images/background.jpg" class="NED-background" draggable="false"/>

    <div class="NED-header">
        <div id="NED-bp5-10-unset-item2_headerLine" class="headerLine" data-type="img">
            <img src="template/5/images/line.png" draggable="false"/>
        </div>
        <div id="NED-bp5-10-unset-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t9">
            <p>行业痛点</p>
        </div>
    </div>

    <div class="description">
        <div id="NED-bp5-10-unset-item2_descriptionText" class="descriptionText fontH6" data-type="text" data-field="title">
            <p>A轮 2000万 出让20%股权</p>
        </div>
    </div>

    <div class="center">
        <div class="item2">
            <div id="NED-bp5-10-unset-item2_1_title" class="title fontH6" data-type="text" data-field="list1_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item2_1_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item2_1_text" class="text fontText" data-type="text" data-field="list1_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item2_1_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>
        <div class="item2">
            <div id="NED-bp5-10-unset-item2_2_title" class="title fontH6" data-type="text" data-field="list2_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item2_2_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item2_2_text" class="text fontText" data-type="text" data-field="list2_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item2_2_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>

        <div id="NED-bp5-10-unset-item2_centerImg" class="centerImg" data-type="img">
            <img src="template/5/images/financing_1.png" draggable="false" />
        </div>

    </div>
</section>

<section id="NED-bp5-10-unset-item3">
    <img src="template/5/images/background.jpg" class="NED-background" draggable="false"/>

    <div class="NED-header">
        <div id="NED-bp5-10-unset-item3_headerLine" class="headerLine" data-type="img">
            <img src="template/5/images/line.png" draggable="false"/>
        </div>
        <div id="NED-bp5-10-unset-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t9">
            <p>行业痛点</p>
        </div>
    </div>

    <div class="description">
        <div id="NED-bp5-10-unset-item3_descriptionText" class="descriptionText fontH6" data-type="text" data-field="title">
            <p>A轮 2000万 出让20%股权</p>
        </div>
    </div>

    <div class="center">
        <div class="item3">
            <div id="NED-bp5-10-unset-item3_1_title" class="title fontH6" data-type="text" data-field="list1_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item3_1_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item3_1_text" class="text fontText" data-type="text" data-field="list1_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item3_1_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>
        <div class="item3">
            <div id="NED-bp5-10-unset-item3_2_title" class="title fontH6" data-type="text" data-field="list2_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item3_2_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item3_2_text" class="text fontText" data-type="text" data-field="list2_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item3_2_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>
        <div class="item3">
            <div id="NED-bp5-10-unset-item3_3_title" class="title fontH6" data-type="text" data-field="list3_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item3_3_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item3_3_text" class="text fontText" data-type="text" data-field="list3_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item3_3_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>

        <div id="NED-bp5-10-unset-item3_centerImg" class="centerImg" data-type="img">
            <img src="template/5/images/financing_1.png" draggable="false" />
        </div>

    </div>
</section>

<section id="NED-bp5-10-unset-item4">
    <img src="template/5/images/background.jpg" class="NED-background" draggable="false"/>

    <div class="NED-header">

        <div id="NED-bp5-10-unset-item4_headerLine" class="headerLine" data-type="img">
            <img src="template/5/images/line.png" draggable="false"/>
        </div>

        <div id="NED-bp5-10-unset-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t9">
            <p>行业痛点</p>
        </div>

    </div>

    <div class="description">
        <div id="NED-bp5-10-unset-item4_descriptionText" class="descriptionText fontH6" data-type="text" data-field="title">
            <p>A轮 2000万 出让20%股权</p>
        </div>
    </div>

    <div class="center">
        <div class="item4">
            <div id="NED-bp5-10-unset-item4_1_title" class="title fontH6" data-type="text" data-field="list1_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item4_1_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item4_1_text" class="text fontText" data-type="text" data-field="list1_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item4_1_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>
        <div class="item4">
            <div id="NED-bp5-10-unset-item4_2_title" class="title fontH6" data-type="text" data-field="list2_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item4_2_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item4_2_text" class="text fontText" data-type="text" data-field="list2_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item4_2_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>
        <div class="item4">
            <div id="NED-bp5-10-unset-item4_3_title" class="title fontH6" data-type="text" data-field="list3_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item4_3_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item4_3_text" class="text fontText" data-type="text" data-field="list3_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item4_3_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>
        <div class="item4">
            <div id="NED-bp5-10-unset-item4_4_title" class="title fontH6" data-type="text" data-field="list4_title">
                <p>胖胖馬的啤酒</p>
            </div>
            <div id="NED-bp5-10-unset-item4_4_textLine" class="textLine" data-type="img">
                <img src="template/5/images/financing_line.png" draggable="false"/>
            </div>
            <div id="NED-bp5-10-unset-item4_4_text" class="text fontText" data-type="text" data-field="list4_desc">
                <p>2000万</p>
            </div>
            <div id="NED-bp5-10-unset-item4_4_thumb" class="thumb" data-type="img">
                <img src="template/5/images/financing_ring.png" draggable="false"/>
            </div>
        </div>

        <div id="NED-bp5-10-unset-item4_centerImg" class="centerImg" data-type="img">
            <img src="template/5/images/financing_1.png" draggable="false" />
        </div>
    </div>
</section>
