/**
 * carving on the top
 */

#NED-bp2-2-unset-item1 .topCarving,
#NED-bp2-2-unset-item2 .topCarving,
#NED-bp2-2-unset-item3 .topCarving,
#NED-bp2-2-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 168px;
  top: 0;
  right: 0;
  z-index: 1;
}

/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp2-2-unset-item1 .headText,
#NED-bp2-2-unset-item2 .headText,
#NED-bp2-2-unset-item3 .headText,
#NED-bp2-2-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** middle line */
#NED-bp2-2-unset-item1 .middleLine,
#NED-bp2-2-unset-item2 .middleLine,
#NED-bp2-2-unset-item3 .middleLine,
#NED-bp2-2-unset-item4 .middleLine {
  position: absolute;
  width: 60px;
  height: 648px;
  left: 84px;
  top: 156px;
  z-index: 5;
}

/** custom center */

#NED-bp2-2-unset-item1 .center,
#NED-bp2-2-unset-item2 .center,
#NED-bp2-2-unset-item3 .center,
#NED-bp2-2-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp2-2-unset-item1 .item1 {
  position: absolute;
  width: 515px;
  height: 140px;
  top: 396px;
  left: 84px;
}
  #NED-bp2-2-unset-item1 .item1 .titleIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-2-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    top: 12px;
    left: 94px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-2-unset-item1 .item1 .text {
    position: absolute;
    width: 400px;
    top: 64px;
    left: 94px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp2-2-unset-item2 .item2 {
  position: absolute;
  width: 515px;
  height: 140px;
  left: 84px;
}
  #NED-bp2-2-unset-item2 .item2:nth-child(1) {
    top: 274px;
  }
  #NED-bp2-2-unset-item2 .item2:nth-child(2) {
    top: 514px;
  }
  #NED-bp2-2-unset-item2 .item2 .titleIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-2-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    top: 12px;
    left: 94px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-2-unset-item2 .item2 .text {
    position: absolute;
    width: 400px;
    top: 64px;
    left: 94px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp2-2-unset-item3 .item3 {
  position: absolute;
  width: 515px;
  height: 140px;
  left: 84px;
}
  #NED-bp2-2-unset-item3 .item3:nth-child(1) {
    top: 206px;
  }
  #NED-bp2-2-unset-item3 .item3:nth-child(2) {
    top: 396px;
  }
  #NED-bp2-2-unset-item3 .item3:nth-child(3) {
    top: 586px;
  }
  #NED-bp2-2-unset-item3 .item3 .titleIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-2-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    top: 12px;
    left: 94px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-2-unset-item3 .item3 .text {
    position: absolute;
    width: 400px;
    top: 64px;
    left: 94px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp2-2-unset-item4 .item4 {
  position: absolute;
  width: 515px;
  height: 140px;
  left: 84px;
}
  #NED-bp2-2-unset-item4 .item4:nth-child(1) {
    top: 170px;
  }
  #NED-bp2-2-unset-item4 .item4:nth-child(2) {
    top: 322px;
  }
  #NED-bp2-2-unset-item4 .item4:nth-child(3) {
    top: 474px;
  }
  #NED-bp2-2-unset-item4 .item4:nth-child(4) {
    top: 626px;
  }
  #NED-bp2-2-unset-item4 .item4 .titleIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-2-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    top: 12px;
    left: 94px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-2-unset-item4 .item4 .text {
    position: absolute;
    width: 400px;
    top: 64px;
    left: 94px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp2-2-unset-item1 .bottomCarving,
#NED-bp2-2-unset-item2 .bottomCarving,
#NED-bp2-2-unset-item3 .bottomCarving,
#NED-bp2-2-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 287px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
