/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp2-4-unset-introduction .headerText {
  position: absolute;
  left: 254px;
  top: 428px;
  text-align: center;
  color: #CB1723;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** middle image */

#NED-bp2-4-unset-introduction .middleImg {
  position: absolute;
  width: 640px;
  height: 382px;
  left: 0;
  top: 0;
  z-index: 4;
}
#NED-bp2-4-unset-introduction .middleImgCarver {
  position: absolute;
  width: 640px;
  height: 960px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 5;
}

/** introduction */

#NED-bp2-4-unset-introduction .introduction {
  position: absolute;
  width: 530px;
  left: 58px;
  top: 480px;
  z-index: 6;
}
#NED-bp2-4-unset-introduction .edgeImg {
  position: absolute;
  width: 566px;
  height: 511px;
  left: 36px;
  top: 402px;
  z-index: 5;
}
