/**
 * carving on the top
 */
#NED-bp2-9-unset-item1 .topCarving,
#NED-bp2-9-unset-item2 .topCarving,
#NED-bp2-9-unset-item3 .topCarving,
#NED-bp2-9-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 168px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp2-9-unset-item1 .headText,
#NED-bp2-9-unset-item2 .headText,
#NED-bp2-9-unset-item3 .headText,
#NED-bp2-9-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}
/** custom center */
#NED-bp2-9-unset-item1 .center,
#NED-bp2-9-unset-item2 .center,
#NED-bp2-9-unset-item3 .center,
#NED-bp2-9-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */
#NED-bp2-9-unset-item1 .item1 {
  position: absolute;
  width: 471px;
  height: 218px;
  left: 94px;
  top: 406px;
}
    #NED-bp2-9-unset-item1 .item1 .role {
      position: absolute;
      width: 160px;
      height: 160px;
      top: 0;
      left: 0;
      background-color: #CCCCCC;
      z-index: 5;
    }
    #NED-bp2-9-unset-item1 .item1 .nameBox {
      position: absolute;
      width: 265px;
      height: 40px;
      top: 0;
      left: 226px;
    }
      #NED-bp2-9-unset-item1 .item1 .nameBox .name {
        position: relative;
        float: left;
        top: 0;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
      }
      #NED-bp2-9-unset-item1 .item1 .nameBox .job {
        position: relative;
        float: left;
        top: 5px;
        color: #CB1723;
        margin: 0 0 0 14px;
        font-size: 24px;
        font-weight: bolder;
        line-height: 1.5;
        word-wrap: break-word;
        z-index: 6;
      }
    #NED-bp2-9-unset-item1 .item1 .text {
      position: absolute;
      width: 265px;
      left: 226px;
      top: 52px;
      line-height: 1.25;
      word-wrap: break-word;
      z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp2-9-unset-item2 .item2 {
  position: absolute;
  width: 471px;
  height: 218px;
  left: 94px;
  top: 406px;
}
  #NED-bp2-9-unset-item2 .item2:nth-child(1) {
      left: 94px;
      top: 250px;
  }
  #NED-bp2-9-unset-item2 .item2:nth-child(2) {
      left: 94px;
      top: 552px;
  }
  #NED-bp2-9-unset-item2 .item2 .role {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
    background-color: #CCCCCC;
    z-index: 5;
  }
  #NED-bp2-9-unset-item2 .item2 .nameBox {
    position: absolute;
    width: 265px;
    height: 40px;
    top: 0;
    left: 226px;
  }
    #NED-bp2-9-unset-item2 .item2 .nameBox .name {
      position: relative;
      float: left;
      top: 0;
      line-height: 1;
      word-wrap: break-word;
      z-index: 6;
    }
    #NED-bp2-9-unset-item2 .item2 .nameBox .job {
      position: relative;
      float: left;
      top: 5px;
      color: #CB1723;
      margin: 0 0 0 14px;
      font-size: 24px;
      font-weight: bolder;
      line-height: 1.5;
      word-wrap: break-word;
      z-index: 6;
    }
  #NED-bp2-9-unset-item2 .item2 .text {
    position: absolute;
    width: 265px;
    left: 226px;
    top: 52px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */
#NED-bp2-9-unset-item3 .item3 {
  position: absolute;
  width: 471px;
  height: 218px;
  left: 94px;
  top: 406px;
}
  #NED-bp2-9-unset-item3 .item3:nth-child(1) {
      left: 94px;
      top: 212px;
  }
  #NED-bp2-9-unset-item3 .item3:nth-child(2) {
      left: 94px;
      top: 434px;
  }
  #NED-bp2-9-unset-item3 .item3:nth-child(3) {
      left: 94px;
      top: 656px;
  }
  #NED-bp2-9-unset-item3 .item3 .role {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
    background-color: #CCCCCC;
    z-index: 5;
  }
  #NED-bp2-9-unset-item3 .item3 .nameBox {
    position: absolute;
    width: 265px;
    height: 40px;
    top: 0;
    left: 226px;
  }
    #NED-bp2-9-unset-item3 .item3 .nameBox .name {
      position: relative;
      float: left;
      top: 0;
      line-height: 1;
      word-wrap: break-word;
      z-index: 6;
    }
    #NED-bp2-9-unset-item3 .item3 .nameBox .job {
      position: relative;
      float: left;
      top: 5px;
      color: #CB1723;
      margin: 0 0 0 14px;
      font-size: 24px;
      font-weight: bolder;
      line-height: 1.5;
      word-wrap: break-word;
      z-index: 6;
    }
  #NED-bp2-9-unset-item3 .item3 .text {
    position: absolute;
    width: 265px;
    left: 226px;
    top: 52px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */
#NED-bp2-9-unset-item4 .item4 {
  position: absolute;
  width: 304px;
  height: 378px;
}
  #NED-bp2-9-unset-item4 .item4:nth-child(1) {
    left: 34px;
    top: 158px;
  }
  #NED-bp2-9-unset-item4 .item4:nth-child(2) {
    left: 338px;
    top: 158px;
  }
  #NED-bp2-9-unset-item4 .item4:nth-child(3) {
    left: 34px;
    top: 500px;
  }
  #NED-bp2-9-unset-item4 .item4:nth-child(4) {
    left: 338px;
    top: 500px;
  }
    #NED-bp2-9-unset-item4 .item4 .role {
      position: absolute;
      width: 160px;
      height: 160px;
      top: 0;
      left: 0;
      background-color: #CCCCCC;
      z-index: 5;
    }
    #NED-bp2-9-unset-item4 .item4 .nameBox {
      position: absolute;
      width: 265px;
      height: 40px;
      top: 178px;
      left: 0;
    }
      #NED-bp2-9-unset-item4 .item4 .nameBox .name {
        position: relative;
        float: left;
        top: 0;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
      }
      #NED-bp2-9-unset-item4 .item4 .nameBox .job {
        position: relative;
        float: left;
        top: 0;
        color: #CB1723;
        margin: 0 0 0 14px;
        font-size: 24px;
        line-height: 1.5;
        word-wrap: break-word;
        z-index: 6;
      }
    #NED-bp2-9-unset-item4 .item4 .text {
      position: absolute;
      width: 265px;
      left: 0;
      top: 230px;
      line-height: 1.25;
      word-wrap: break-word;
      z-index: 6;
    }
/**
 * carving on the bottom
 */
#NED-bp2-9-unset-item1 .bottomCarving,
#NED-bp2-9-unset-item2 .bottomCarving,
#NED-bp2-9-unset-item3 .bottomCarving,
#NED-bp2-9-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 142px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
