/**
 * carving on the top
 */

#NED-bp2-7-unset-item1 .topCarving,
#NED-bp2-7-unset-item2 .topCarving,
#NED-bp2-7-unset-item3 .topCarving,
#NED-bp2-7-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 168px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp2-7-unset-item1 .headText,
#NED-bp2-7-unset-item2 .headText,
#NED-bp2-7-unset-item3 .headText,
#NED-bp2-7-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** custom center */

#NED-bp2-7-unset-item1 .center,
#NED-bp2-7-unset-item2 .center,
#NED-bp2-7-unset-item3 .center,
#NED-bp2-7-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp2-7-unset-item1 .item1 {
  position: absolute;
  width: 580px;
  height: 170px;
  top: 396px;
  left: 30px;
}
  #NED-bp2-7-unset-item1 .item1 .titleIcon {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-7-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    top: 16px;
    left: 182px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-7-unset-item1 .item1 .text {
    position: absolute;
    width: 400px;
    top: 68px;
    left: 182px;
    line-height: 1.25;
    color: #3F3F46;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp2-7-unset-item2 .item2 {
  position: absolute;
  width: 580px;
  height: 170px;
  left: 30px;
}
  #NED-bp2-7-unset-item2 .item2:nth-child(1) {
    top: 270px;
  }
  #NED-bp2-7-unset-item2 .item2:nth-child(2) {
    top: 520px;
  }
  #NED-bp2-7-unset-item2 .item2 .titleIcon {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-7-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    top: 16px;
    left: 182px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-7-unset-item2 .item2 .text {
    position: absolute;
    width: 400px;
    top: 68px;
    left: 182px;
    line-height: 1.25;
    color: #3F3F46;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp2-7-unset-item3 .item3 {
  position: absolute;
  width: 580px;
  height: 170px;
  left: 30px;
}
  #NED-bp2-7-unset-item3 .item3:nth-child(1) {
    top: 204px;
  }
  #NED-bp2-7-unset-item3 .item3:nth-child(2) {
    top: 394px;
  }
  #NED-bp2-7-unset-item3 .item3:nth-child(3) {
    top: 584px;
  }
  #NED-bp2-7-unset-item3 .item3 .titleIcon {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-7-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    top: 16px;
    left: 182px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-7-unset-item3 .item3 .text {
    position: absolute;
    width: 400px;
    top: 68px;
    left: 182px;
    line-height: 1.25;
    color: #3F3F46;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp2-7-unset-item4 .item4 {
  position: absolute;
  width: 580px;
  height: 170px;
  left: 30px;
}
  #NED-bp2-7-unset-item4 .item4:nth-child(1) {
    top: 168px;
  }
  #NED-bp2-7-unset-item4 .item4:nth-child(2) {
    top: 318px;
  }
  #NED-bp2-7-unset-item4 .item4:nth-child(3) {
    top: 468px;
  }
  #NED-bp2-7-unset-item4 .item4:nth-child(4) {
    top: 618px;
  }
  #NED-bp2-7-unset-item4 .item4 .titleIcon {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-7-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    top: 16px;
    left: 182px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-7-unset-item4 .item4 .text {
    position: absolute;
    width: 400px;
    top: 68px;
    left: 182px;
    line-height: 1.25;
    color: #3F3F46;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp2-7-unset-item1 .bottomCarving,
#NED-bp2-7-unset-item2 .bottomCarving,
#NED-bp2-7-unset-item3 .bottomCarving,
#NED-bp2-7-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 287px;
  bottom: -15px;
  left: 0;
  z-index: 1;
}
