/**
 * carving on the top
 */

#NED-bp2-10-unset-item1 .topCarving,
#NED-bp2-10-unset-item2 .topCarving,
#NED-bp2-10-unset-item3 .topCarving,
#NED-bp2-10-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 168px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp2-10-unset-item1 .headText,
#NED-bp2-10-unset-item2 .headText,
#NED-bp2-10-unset-item3 .headText,
#NED-bp2-10-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/**
 * The custom description area
 */

#NED-bp2-10-unset-item1 .description,
#NED-bp2-10-unset-item2 .description,
#NED-bp2-10-unset-item3 .description,
#NED-bp2-10-unset-item4 .description {
  position: absolute;
  width: 440px;
  top: 264px;
  left: 100px;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  z-index: 6;
}

/** center image */

#NED-bp2-10-unset-item1 .centerImg {
  position: absolute;
  width: 452px;
  height: 197px;
  top: 442px;
  left: 0;
  z-index: 3;
}
#NED-bp2-10-unset-item2 .centerImg {
  position: absolute;
  width: 467px;
  height: 264px;
  top: 430px;
  left: 0;
  z-index: 3;
}
#NED-bp2-10-unset-item3 .centerImg {
  position: absolute;
  width: 503px;
  height: 340px;
  top: 392px;
  left: 0;
  z-index: 3;
}
#NED-bp2-10-unset-item4 .centerImg {
  position: absolute;
  width: 497px;
  height: 447px;
  top: 350px;
  left: 0;
  z-index: 3;
}

/** custom center */

#NED-bp2-10-unset-item1 .center,
#NED-bp2-10-unset-item2 .center,
#NED-bp2-10-unset-item3 .center,
#NED-bp2-10-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp2-10-unset-item1 .item1 {
  position: absolute;
  width: 100%;
  height: 120px;
  top: 548px;
  left: 0;
}
  #NED-bp2-10-unset-item1 .item1 .title {
    position: absolute;
    top: 0;
    left: 30px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-10-unset-item1 .item1 .text {
    position: absolute;
    top: -18px;
    left: 472px;
    color: #BF1A22;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp2-10-unset-item2 .item2 {
  position: absolute;
  width: 100%;
  height: 120px;
}
  #NED-bp2-10-unset-item2 .item2:nth-child(1) {
    top: 482px;
    left: 0;
  }
  #NED-bp2-10-unset-item2 .item2:nth-child(2) {
    top: 608px;
    left: 0;
  }
  #NED-bp2-10-unset-item2 .item2 .title {
    position: absolute;
    top: 0;
    left: 30px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-10-unset-item2 .item2 .text {
    position: absolute;
    left: 472px;
    color: #BF1A22;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-10-unset-item2 .item2:nth-child(1) .text {
      top: 22px;
    }
    #NED-bp2-10-unset-item2 .item2:nth-child(2) .text {
      top: 0;
    }

/**
 * Three list item
 */

#NED-bp2-10-unset-item3 .item3 {
  position: absolute;
  width: 100%;
  height: 120px;
}
  #NED-bp2-10-unset-item3 .item3:nth-child(1) {
    top: 442px;
    left: 0;
  }
  #NED-bp2-10-unset-item3 .item3:nth-child(2) {
    top: 546px;
    left: 0;
  }
  #NED-bp2-10-unset-item3 .item3:nth-child(3) {
    top: 648px;
    left: 0;
  }
  #NED-bp2-10-unset-item3 .item3 .title {
    position: absolute;
    top: 0;
    left: 30px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-10-unset-item3 .item3 .text {
    position: absolute;
    color: #BF1A22;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-10-unset-item3 .item3:nth-child(1) .text {
      left: 472px;
      top: 24px;
    }
    #NED-bp2-10-unset-item3 .item3:nth-child(2) .text {
      left: 534px;
      top: 4px;
    }
    #NED-bp2-10-unset-item3 .item3:nth-child(3) .text {
      left: 472px;
      top: 0;
    }

/**
 * Four list item
 */

#NED-bp2-10-unset-item4 .item4 {
  position: absolute;
  width: 100%;
  height: 120px;
}
  #NED-bp2-10-unset-item4 .item4:nth-child(1) {
    top: 398px;
    left: 0;
  }
  #NED-bp2-10-unset-item4 .item4:nth-child(2) {
    top: 506px;
    left: 0;
  }
  #NED-bp2-10-unset-item4 .item4:nth-child(3) {
    top: 614px;
    left: 0;
  }
  #NED-bp2-10-unset-item4 .item4:nth-child(4) {
    top: 716px;
    left: 0;
  }
  #NED-bp2-10-unset-item4 .item4 .title {
    position: absolute;
    top: 0;
    left: 30px;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-10-unset-item4 .item4 .text {
    position: absolute;
    color: #BF1A22;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-10-unset-item4 .item4:nth-child(1) .text {
      top: 20px;
      left: 438px;
    }
    #NED-bp2-10-unset-item4 .item4:nth-child(2) .text {
      top: 16px;
      left: 524px;
    }
    #NED-bp2-10-unset-item4 .item4:nth-child(3) .text {
      top: 8px;
      left: 524px;
    }
    #NED-bp2-10-unset-item4 .item4:nth-child(4) .text {
      top: -10px;
      left: 438px;
    }

/**
 * carving on the bottom
 */

#NED-bp2-10-unset-item1 .bottomCarving,
#NED-bp2-10-unset-item2 .bottomCarving,
#NED-bp2-10-unset-item3 .bottomCarving,
#NED-bp2-10-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 142px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
