/**
 * carving on the top
 */

#NED-bp2-6-unset-item1 .topCarving,
#NED-bp2-6-unset-item2 .topCarving,
#NED-bp2-6-unset-item3 .topCarving,
#NED-bp2-6-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 168px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp2-6-unset-item1 .headerText,
#NED-bp2-6-unset-item2 .headerText,
#NED-bp2-6-unset-item3 .headerText,
#NED-bp2-6-unset-item4 .headerText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** middle line */

#NED-bp2-6-unset-item1 .middleImg {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 148px;
  top: 408px;
  z-index: 5;
}
#NED-bp2-6-unset-item2 .middleImg {
  position: absolute;
  width: 180px;
  height: 246px;
  left: 230px;
  top: 370px;
  z-index: 5;
}
#NED-bp2-6-unset-item3 .middleImg {
  position: absolute;
  width: 180px;
  height: 213px;
  left: 230px;
  top: 370px;
  z-index: 5;
}
#NED-bp2-6-unset-item4 .middleImg {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 230px;
  top: 402px;
  z-index: 5;
}

/** custom center */

#NED-bp2-6-unset-item1 .center,
#NED-bp2-6-unset-item2 .center,
#NED-bp2-6-unset-item3 .center,
#NED-bp2-6-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
* One list item
*/

#NED-bp2-6-unset-item1 .item1 {
  position: absolute;
  width: 275px;
  height: 140px;
  top: 420px;
  left: 208px;
}
  #NED-bp2-6-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    color: #CB1723;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-6-unset-item1 .item1 .text {
    position: absolute;
    width: 265px;
    left: 0;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
* Two list item
*/

#NED-bp2-6-unset-item2 .item2 {
  position: absolute;
  width: 275px;
  height: 140px;
}
  #NED-bp2-6-unset-item2 .item2:nth-child(1) {
    top: 200px;
    left: 186px;
  }
  #NED-bp2-6-unset-item2 .item2:nth-child(2) {
    top: 650px;
    left: 186px;
  }
  #NED-bp2-6-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    color: #CB1723;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-6-unset-item2 .item2 .text {
    position: absolute;
    width: 265px;
    left: 0;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp2-6-unset-item3 .item3 {
  position: absolute;
  width: 275px;
  height: 140px;
}
  #NED-bp2-6-unset-item3 .item3:nth-child(1) {
    top: 200px;
    left: 186px;
  }
  #NED-bp2-6-unset-item3 .item3:nth-child(2) {
    top: 650px;
    left: 30px;
  }
  #NED-bp2-6-unset-item3 .item3:nth-child(3) {
    top: 650px;
    left: 346px;
  }
  #NED-bp2-6-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    color: #CB1723;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-6-unset-item3 .item3 .text {
    position: absolute;
    width: 265px;
    left: 0;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp2-6-unset-item4 .item4 {
  position: absolute;
  width: 275px;
  height: 140px;
}
  #NED-bp2-6-unset-item4 .item4:nth-child(1) {
    top: 200px;
    left: 30px;
  }
  #NED-bp2-6-unset-item4 .item4:nth-child(2) {
    top: 200px;
    left: 346px;
  }
  #NED-bp2-6-unset-item4 .item4:nth-child(3) {
    top: 650px;
    left: 30px;
  }
  #NED-bp2-6-unset-item4 .item4:nth-child(4) {
    top: 650px;
    left: 346px;
  }
  #NED-bp2-6-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    color: #CB1723;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-6-unset-item4 .item4 .text {
    position: absolute;
    width: 265px;
    left: 0;
    top: 52px;
    color: #3F3F46;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp2-6-unset-item1 .bottomCarving,
#NED-bp2-6-unset-item2 .bottomCarving,
#NED-bp2-6-unset-item3 .bottomCarving,
#NED-bp2-6-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 227px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
