#NED-bp2-1-unset-index .name {
    position: absolute;
    width: 500px;
    top: 400px;
    left: 70px;
    font-size: 42px;
    text-align: center;
    color: #FFFFFF;
    line-height: 100%;
    z-index: 6;
}
#NED-bp2-1-unset-index .intro {
    position: absolute;
    width: 394px;
    top: 480px;
    left: 128px;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    line-height: 100%;
    z-index: 6;
}
