/**
 * carving on the top
 */

#NED-bp2-8-unset-item1 .topCarving,
#NED-bp2-8-unset-item2 .topCarving,
#NED-bp2-8-unset-item3 .topCarving,
#NED-bp2-8-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 168px;
  top: 0;
  right: 0;
  z-index: 1;
}
#NED-bp2-8-unset-item1 .headText,
#NED-bp2-8-unset-item2 .headText,
#NED-bp2-8-unset-item3 .headText,
#NED-bp2-8-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}
/**
 * middle line
 */
#NED-bp2-8-unset-item1 .middleImg,
#NED-bp2-8-unset-item2 .middleImg,
#NED-bp2-8-unset-item3 .middleImg,
#NED-bp2-8-unset-item4 .middleImg {
  position: absolute;
  width: 60px;
  height: 728px;
  top: 135px;
  left: 288px;
  z-index: 2;
}

/** custom center */

#NED-bp2-8-unset-item1 .center,
#NED-bp2-8-unset-item2 .center,
#NED-bp2-8-unset-item3 .center,
#NED-bp2-8-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp2-8-unset-item1 .item1 {
  position: absolute;
  width: 500px;
  height: 150px;
  top: 412px;
  left: 118px;
}
  #NED-bp2-8-unset-item1 .item1 .itemCarving {
    position: absolute;
    width: 218px;
    height: 100px;
    top: 8px;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-8-unset-item1 .item1 .title {
    position: absolute;
    width: 200px;
    top: 0;
    left: 228px;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-8-unset-item1 .item1 .text {
    position: absolute;
    width: 265px;
    top: 52px;
    left: 228px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp2-8-unset-item2 .item2 {
  position: absolute;
  width: 500px;
  height: 150px;
}
  #NED-bp2-8-unset-item2 .item2:nth-child(1) {
    top: 272px;
    left: 118px;
  }
  #NED-bp2-8-unset-item2 .item2:nth-child(2) {
    top: 568px;
    right: 120px;
  }
  #NED-bp2-8-unset-item2 .item2 .itemCarving {
    position: absolute;
    width: 218px;
    height: 100px;
    top: 8px;
    z-index: 5;
  }
    #NED-bp2-8-unset-item2 .item2:nth-child(odd) .itemCarving {
      left: 0;
    }
    #NED-bp2-8-unset-item2 .item2:nth-child(even) .itemCarving {
      right: 0;
    }
  #NED-bp2-8-unset-item2 .item2 .title {
    position: absolute;
    width: 200px;
    top: 0;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-8-unset-item2 .item2:nth-child(odd) .title {
      left: 228px;
    }
    #NED-bp2-8-unset-item2 .item2:nth-child(even) .title {
      right: 228px;
      text-align: right;
    }
  #NED-bp2-8-unset-item2 .item2 .text {
    position: absolute;
    width: 265px;
    top: 52px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-8-unset-item2 .item2:nth-child(odd) .text {
      left: 228px;
    }
    #NED-bp2-8-unset-item2 .item2:nth-child(even) .text {
      right: 228px;
      text-align: right;
    }

/**
 * Three list item
 */

#NED-bp2-8-unset-item3 .item3 {
  position: absolute;
  width: 500px;
  height: 150px;
}
  #NED-bp2-8-unset-item3 .item3:nth-child(1) {
    top: 200px;
    left: 118px;
  }
  #NED-bp2-8-unset-item3 .item3:nth-child(2) {
    top: 420px;
    right: 120px;
  }
  #NED-bp2-8-unset-item3 .item3:nth-child(3) {
    top: 640px;
    left: 118px;
  }
  #NED-bp2-8-unset-item3 .item3 .itemCarving {
    position: absolute;
    width: 218px;
    height: 100px;
    top: 8px;
    z-index: 5;
  }
    #NED-bp2-8-unset-item3 .item3:nth-child(odd) .itemCarving {
      left: 0;
    }
    #NED-bp2-8-unset-item3 .item3:nth-child(even) .itemCarving {
      right: 0;
    }
  #NED-bp2-8-unset-item3 .item3 .title {
    position: absolute;
    width: 200px;
    top: 0;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-8-unset-item3 .item3:nth-child(odd) .title {
      left: 228px;
    }
    #NED-bp2-8-unset-item3 .item3:nth-child(even) .title {
      right: 228px;
      text-align: right;
    }
  #NED-bp2-8-unset-item3 .item3 .text {
    position: absolute;
    width: 265px;
    top: 52px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-8-unset-item3 .item3:nth-child(odd) .text {
      left: 228px;
    }
    #NED-bp2-8-unset-item3 .item3:nth-child(even) .text {
      right: 228px;
      text-align: right;
    }

/**
 * Four list item
 */

#NED-bp2-8-unset-item4 .item4 {
  position: absolute;
  width: 500px;
  height: 150px;
}
  #NED-bp2-8-unset-item4 .item4:nth-child(1) {
    top: 172px;
    left: 118px;
  }
  #NED-bp2-8-unset-item4 .item4:nth-child(2) {
    top: 338px;
    right: 120px;
  }
  #NED-bp2-8-unset-item4 .item4:nth-child(3) {
    top: 504px;
    left: 118px;
  }
  #NED-bp2-8-unset-item4 .item4:nth-child(4) {
    top: 670px;
    right: 120px;
  }
  #NED-bp2-8-unset-item4 .item4 .itemCarving {
    position: absolute;
    width: 218px;
    height: 100px;
    top: 8px;
    z-index: 5;
  }
    #NED-bp2-8-unset-item4 .item4:nth-child(odd) .itemCarving {
      left: 0;
    }
    #NED-bp2-8-unset-item4 .item4:nth-child(even) .itemCarving {
      right: 0;
    }
  #NED-bp2-8-unset-item4 .item4 .title {
    position: absolute;
    width: 200px;
    top: 0;
    color: #CB1723;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-8-unset-item4 .item4:nth-child(odd) .title {
      left: 228px;
    }
    #NED-bp2-8-unset-item4 .item4:nth-child(even) .title {
      right: 228px;
      text-align: right;
    }
  #NED-bp2-8-unset-item4 .item4 .text {
    position: absolute;
    width: 265px;
    top: 52px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }
    #NED-bp2-8-unset-item4 .item4:nth-child(odd) .text {
      left: 228px;
    }
    #NED-bp2-8-unset-item4 .item4:nth-child(even) .text {
      right: 228px;
      text-align: right;
    }

/**
 * carving on the bottom
 */

#NED-bp2-8-unset-item1 .bottomCarving,
#NED-bp2-8-unset-item2 .bottomCarving,
#NED-bp2-8-unset-item3 .bottomCarving,
#NED-bp2-8-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 227px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
