/**
 * carving on the top
 */

#NED-bp2-5-unset-item1 .topCarving,
#NED-bp2-5-unset-item2 .topCarving,
#NED-bp2-5-unset-item3 .topCarving,
#NED-bp2-5-unset-item4 .topCarving {
  position: absolute;
  width: 640px;
  height: 168px;
  top: 0;
  right: 0;
  z-index: 1;
}

/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp2-5-unset-item1 .headText,
#NED-bp2-5-unset-item2 .headText,
#NED-bp2-5-unset-item3 .headText,
#NED-bp2-5-unset-item4 .headText {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  left: 220px;
  top: 63px;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** middle line */
#NED-bp2-5-unset-item1 .middleLine,
#NED-bp2-5-unset-item2 .middleLine,
#NED-bp2-5-unset-item3 .middleLine,
#NED-bp2-5-unset-item4 .middleLine {
  position: absolute;
  width: 60px;
  height: 670px;
  left: 30px;
  top: 164px;
  z-index: 5;
}

/** custom center */

#NED-bp2-5-unset-item1 .center,
#NED-bp2-5-unset-item2 .center,
#NED-bp2-5-unset-item3 .center,
#NED-bp2-5-unset-item4 .center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/**
 * One list item
 */

#NED-bp2-5-unset-item1 .item1 {
  position: absolute;
  width: 555px;
  height: 145px;
  top: 418px;
  left: 56px;
}
  #NED-bp2-5-unset-item1 .box {
    position: absolute;
    width: 222px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-5-unset-item1 .title {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 18px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-5-unset-item1 .text {
    position: absolute;
    width: 530px;
    top: 65px;
    left: 18px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Two list item
 */

#NED-bp2-5-unset-item2 .item2 {
  position: absolute;
  width: 555px;
  height: 145px;
  left: 56px;
}
  #NED-bp2-5-unset-item2 .item2:nth-child(1) {
    top: 304px;
  }
  #NED-bp2-5-unset-item2 .item2:nth-child(2) {
    top: 554px;
  }
  #NED-bp2-5-unset-item2 .box {
    position: absolute;
    width: 222px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-5-unset-item2 .title {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 18px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-5-unset-item2 .text {
    position: absolute;
    width: 530px;
    top: 65px;
    left: 18px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Three list item
 */

#NED-bp2-5-unset-item3 .item3 {
  position: absolute;
  width: 555px;
  height: 145px;
  left: 56px;
}
  #NED-bp2-5-unset-item3 .item3:nth-child(1) {
    top: 258px;
  }
  #NED-bp2-5-unset-item3 .item3:nth-child(2) {
    top: 434px;
  }
  #NED-bp2-5-unset-item3 .item3:nth-child(3) {
    top: 610px;
  }
  #NED-bp2-5-unset-item3 .box {
    position: absolute;
    width: 222px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-5-unset-item3 .title {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 18px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-5-unset-item3 .text {
    position: absolute;
    width: 530px;
    top: 65px;
    left: 18px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * Four list item
 */

#NED-bp2-5-unset-item4 .item4 {
  position: absolute;
  width: 555px;
  height: 145px;
  left: 56px;
}
  #NED-bp2-5-unset-item4 .item4:nth-child(1) {
    top: 208px;
  }
  #NED-bp2-5-unset-item4 .item4:nth-child(2) {
    top: 358px;
  }
  #NED-bp2-5-unset-item4 .item4:nth-child(3) {
    top: 508px;
  }
  #NED-bp2-5-unset-item4 .item4:nth-child(4) {
    top: 658px;
  }
  #NED-bp2-5-unset-item4 .box {
    position: absolute;
    width: 222px;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #NED-bp2-5-unset-item4 .title {
    position: absolute;
    width: 200px;
    top: 13px;
    left: 18px;
    color: #FFFFFF;
    word-wrap: break-word;
    z-index: 6;
  }
  #NED-bp2-5-unset-item4 .text {
    position: absolute;
    width: 530px;
    top: 65px;
    left: 18px;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 6;
  }

/**
 * carving on the bottom
 */

#NED-bp2-5-unset-item1 .bottomCarving,
#NED-bp2-5-unset-item2 .bottomCarving,
#NED-bp2-5-unset-item3 .bottomCarving,
#NED-bp2-5-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 287px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
