<section id="NED-bp7-4-unset-introduction">
  <div class="NED-header">
    <div id="NED-bp7-4-unset-item1_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-4-unset-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>产品介绍</p>
    </div>
    <div id="NED-bp7-4-unset-item1_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PRODUCT DESCRIPTION</p>
    </div>
  </div>

  <div id="NED-bp7-4-unset-introduction_round" class="round" data-type="img">
    <img src="template/7/images/product-description_round.png" draggable="false"/>
  </div>
  <div id="NED-bp7-4-unset-introduction_innerImg" class="innerImg" data-type="img">
    <img src="template/7/images/product-description_pic.png" draggable="false"/>
  </div>

  <div id="NED-bp7-4-unset-introduction_introduction" class="introduction fontText" data-type="text" data-field="introduction">請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述請填入產品描述</div>

  <div id="NED-bp7-4-unset-item1_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
  </div>
</section>
