<section id="NED-bp7-10-unset-item1">
  <div class="NED-header">
    <div id="NED-bp7-10-unset-item1_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>
    <div id="NED-bp7-10-unset-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>融资规划</p>
    </div>
    <div id="NED-bp7-8-unset-item1_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">FANANCIAL PLANNING</p>
    </div>
  </div>

  <div class="description">
      <div id="NED-bp7-10-unset-item1_descriptionText" class="descriptionText fontH6" data-type="text" data-field="title">
          <p>A轮 2000万 出让20%股权</p>
      </div>
  </div>

  <div id="NED-bp7-10-unset-item1_centerImg" class="centerImg" data-type="img">
      <img src="template/7/images/product-description_round.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item1_icon" class="icon" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>

  <div class="letter">
    <div id="NED-bp7-10-unset-item1_1_title" class="title" data-type="text" data-field="list1_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item1_1_text" class="text" data-type="text" data-field="list1_desc">
        <p>2000万</p>
    </div>
  </div>
</section>

<section id="NED-bp7-10-unset-item2">
  <div class="NED-header">
    <div id="NED-bp7-10-unset-item2_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>
    <div id="NED-bp7-10-unset-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>融资规划</p>
    </div>
    <div id="NED-bp7-8-unset-item2_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">FANANCIAL PLANNING</p>
    </div>
  </div>

  <div class="description">
      <div id="NED-bp7-10-unset-item2_descriptionText" class="descriptionText fontH6" data-type="text" data-field="title">
          <p>A轮 2000万 出让20%股权</p>
      </div>
  </div>

  <div id="NED-bp7-10-unset-item2_centerImg" class="centerImg" data-type="img">
      <img src="template/7/images/product-description_round.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item2_icon1" class="icon1" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item2_icon2" class="icon2" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>

  <div class="letter1">
    <div id="NED-bp7-10-unset-item2_1_title" class="title" data-type="text" data-field="list1_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item2_1_text" class="text" data-type="text" data-field="list1_desc">
        <p>2000万</p>
    </div>
  </div>

  <div class="letter2">
    <div id="NED-bp7-10-unset-item2_2_title" class="title" data-type="text" data-field="list2_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item2_2_text" class="text" data-type="text" data-field="list2_desc">
        <p>2000万</p>
    </div>
  </div>
</section>

<section id="NED-bp7-10-unset-item3">
  <div class="NED-header">
    <div id="NED-bp7-10-unset-item3_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>
    <div id="NED-bp7-10-unset-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>融资规划</p>
    </div>
    <div id="NED-bp7-8-unset-item3_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">FANANCIAL PLANNING</p>
    </div>
  </div>

  <div class="description">
      <div id="NED-bp7-10-unset-item3_descriptionText" class="descriptionText fontH6" data-type="text" data-field="title">
          <p>A轮 2000万 出让20%股权</p>
      </div>
  </div>

  <div id="NED-bp7-10-unset-item3_centerImg" class="centerImg" data-type="img">
      <img src="template/7/images/product-description_round.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item3_icon1" class="icon1" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item3_icon2" class="icon2" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item3_icon3" class="icon3" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>

  <div class="letter1">
    <div id="NED-bp7-10-unset-item3_1_title" class="title" data-type="text" data-field="list1_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item3_1_text" class="text" data-type="text" data-field="list1_desc">
        <p>2000万</p>
    </div>
  </div>

  <div class="letter2">
    <div id="NED-bp7-10-unset-item3_2_title" class="title" data-type="text" data-field="list2_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item3_2_text" class="text" data-type="text" data-field="list2_desc">
        <p>2000万</p>
    </div>
  </div>

  <div class="letter3">
    <div id="NED-bp7-10-unset-item3_3_title" class="title" data-type="text" data-field="list3_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item3_3_text" class="text" data-type="text" data-field="list3_desc">
        <p>2000万</p>
    </div>
  </div>
</section>

<section id="NED-bp7-10-unset-item4">
  <div class="NED-header">
    <div id="NED-bp7-10-unset-item4_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>
    <div id="NED-bp7-10-unset-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>融资规划</p>
    </div>
    <div id="NED-bp7-8-unset-item4_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">FANANCIAL PLANNING</p>
    </div>
  </div>

  <div class="description">
      <div id="NED-bp7-10-unset-item4_descriptionText" class="descriptionText fontH6" data-type="text" data-field="title">
          <p>A轮 2000万 出让20%股权</p>
      </div>
  </div>

  <div id="NED-bp7-10-unset-item4_centerImg" class="centerImg" data-type="img">
      <img src="template/7/images/product-description_round.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item4_icon1" class="icon1" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item4_icon2" class="icon2" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item4_icon3" class="icon3" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>
  <div id="NED-bp7-10-unset-item4_icon4" class="icon4" data-type="img">
      <img src="template/7/images/financing_dot.png" draggable="false" />
  </div>

  <div class="letter1">
    <div id="NED-bp7-10-unset-item4_1_title" class="title" data-type="text" data-field="list1_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item4_1_text" class="text" data-type="text" data-field="list1_desc">
        <p>2000万</p>
    </div>
  </div>

  <div class="letter2">
    <div id="NED-bp7-10-unset-item4_2_title" class="title" data-type="text" data-field="list2_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item4_2_text" class="text" data-type="text" data-field="list2_desc">
        <p>2000万</p>
    </div>
  </div>

  <div class="letter3">
    <div id="NED-bp7-10-unset-item4_3_title" class="title" data-type="text" data-field="list3_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item4_3_text" class="text" data-type="text" data-field="list3_desc">
        <p>2000万</p>
    </div>
  </div>

  <div class="letter4">
    <div id="NED-bp7-10-unset-item4_4_title" class="title" data-type="text" data-field="list4_title">
        <p>胖胖馬的啤酒</p>
    </div>
    <div id="NED-bp7-10-unset-item4_4_text" class="text" data-type="text" data-field="list4_desc">
        <p>2000万</p>
    </div>
  </div>
</section>
