<section id="NED-bp7-2-unset-item1">
  <div class="NED-header">
    <div id="NED-bp7-2-unset-item1_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-2-unset-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>行业痛点</p>
    </div>
    <div id="NED-bp7-2-unset-item1_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PAIN POINTS</p>
    </div>
  </div>

  <div class="center">
    <div class="item1">
      <div id="NED-bp7-2-unset-item1_1_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item1_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item1_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div id="NED-bp7-2-unset-item1_1_bg" class="bg" data-type="img">
      <img src="template/7/images/pain-points_pic.jpg" draggable="false" />
    </div>
    <div id="NED-bp7-2-unset-item1_1_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
    </div>
  </div>
</section>

<section id="NED-bp7-2-unset-item2">
  <div class="NED-header">
    <div id="NED-bp7-2-unset-item2_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-2-unset-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>行业痛点</p>
    </div>
    <div id="NED-bp7-2-unset-item2_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PAIN POINTS</p>
    </div>
  </div>

  <div class="center">
    <div class="item2">
      <div id="NED-bp7-2-unset-item2_1_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item2_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item2_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
    <div class="item2">
      <div id="NED-bp7-2-unset-item2_2_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item2_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item2_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div id="NED-bp7-2-unset-item2_1_bg" class="bg" data-type="img">
      <img src="template/7/images/pain-points_pic.jpg" draggable="false" />
    </div>
    <div id="NED-bp7-2-unset-item2_1_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
    </div>
  </div>
</section>

<section id="NED-bp7-2-unset-item3">
  <div class="NED-header">
    <div id="NED-bp7-2-unset-item3_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-2-unset-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>行业痛点</p>
    </div>
    <div id="NED-bp7-2-unset-item3_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PAIN POINTS</p>
    </div>
  </div>

  <div class="center">
    <div class="item3">
      <div id="NED-bp7-2-unset-item3_1_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item3_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item3_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
    <div class="item3">
      <div id="NED-bp7-2-unset-item3_2_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item3_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item3_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
    <div class="item3">
      <div id="NED-bp7-2-unset-item3_3_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item3_3_title" class="title fontH6" data-type="text" data-field="list3_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item3_3_text" class="text fontText" data-type="text" data-field="list3_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div id="NED-bp7-2-unset-item3_1_bg" class="bg" data-type="img">
      <img src="template/7/images/pain-points_pic.jpg" draggable="false" />
    </div>
    <div id="NED-bp7-2-unset-item3_1_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
    </div>
  </div>
</section>

<section id="NED-bp7-2-unset-item4">
  <div class="NED-header">
    <div id="NED-bp7-2-unset-item4_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-2-unset-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>行业痛点</p>
    </div>
    <div id="NED-bp7-2-unset-item4_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PAIN POINTS</p>
    </div>
  </div>

  <div class="center">
    <div class="item4">
      <div id="NED-bp7-2-unset-item4_1_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item4_1_title" class="title fontH6" data-type="text" data-field="list1_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item4_1_text" class="text fontText" data-type="text" data-field="list1_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
    <div class="item4">
      <div id="NED-bp7-2-unset-item4_2_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item4_2_title" class="title fontH6" data-type="text" data-field="list2_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item4_2_text" class="text fontText" data-type="text" data-field="list2_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
    <div class="item4">
      <div id="NED-bp7-2-unset-item4_3_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item4_3_title" class="title fontH6" data-type="text" data-field="list3_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item4_3_text" class="text fontText" data-type="text" data-field="list3_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
    <div class="item4">
      <div id="NED-bp7-2-unset-item4_4_titleIcon" class="titleIcon" data-type="img">
        <img src="template/7/images/pain-points_tittle.png" draggable="false" />
      </div>
      <div id="NED-bp7-2-unset-item4_4_title" class="title fontH6" data-type="text" data-field="list4_title">
        <p>交易环节环节</p>
      </div>
      <div id="NED-bp7-2-unset-item4_4_text" class="text fontText" data-type="text" data-field="list4_desc">
        <p>环节多效率低参与者多生产效率非常低无法即时收到货物时收到货物</p>
      </div>
    </div>
  </div>

  <div id="NED-bp7-2-unset-item4_1_bg" class="bottom">
    <div class="bg" data-type="img">
      <img src="template/7/images/pain-points_pic.jpg" draggable="false" />
    </div>
    <div id="NED-bp7-2-unset-item4_1_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
    </div>
  </div>
</section>
