<section id="NED-bp7-5-unset-item1">
  <div class="NED-header">
    <div id="NED-bp7-5-unset-item1_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-5-unset-item1_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>盈利模式</p>
    </div>
    <div id="NED-bp7-5-unset-item1_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PROFIT MODEL</p>
    </div>
  </div>
  <div id="NED-bp7-5-unset-item1_middleLine" class="middleLine" data-type="img">
      <img src="template/7/images/profit_3_line1.png" draggable="false"/>
  </div>
  <div id="NED-bp7-5-unset-item1_cloud" class="cloud" data-type="img">
      <img src="template/7/images/cloud.png" draggable="false"/>
  </div>
  <div class="letter1">
      <div id="NED-bp7-5-unset-item1_1_title" class="title fontH6" data-type="text" data-field="list1_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item1_1_text" class="text fontText" data-type="text" data-field="list1_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>

  <div id="NED-bp7-5-unset-item1_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
  </div>
</section>

<section id="NED-bp7-5-unset-item2">
  <div class="NED-header">
    <div id="NED-bp7-5-unset-item2_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-5-unset-item2_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>盈利模式</p>
    </div>
    <div id="NED-bp7-5-unset-item2_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PROFIT MODEL</p>
    </div>
  </div>
  <div id="NED-bp7-5-unset-item2_middleLine" class="middleLine" data-type="img">
      <img src="template/7/images/profit_3_line1.png" draggable="false"/>
  </div>
  <div id="NED-bp7-5-unset-item2_line1" class="line1" data-type="img">
      <img src="template/7/images/profit_3_line2.png" draggable="false"/>
  </div>
  <div id="NED-bp7-5-unset-item2_line2" class="line2" data-type="img">
      <img src="template/7/images/profit_3_line2.png" draggable="false"/>
  </div>
  <div class="letter1">
      <div id="NED-bp7-5-unset-item2_1_title" class="title fontH6" data-type="text" data-field="list1_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item2_1_text" class="text fontText" data-type="text" data-field="list1_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>
  <div class="letter2">
      <div id="NED-bp7-5-unset-item2_2_title" class="title fontH6" data-type="text" data-field="list2_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item2_2_text" class="text fontText" data-type="text" data-field="list2_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>

  <div id="NED-bp7-5-unset-item2_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
  </div>
</section>

<section id="NED-bp7-5-unset-item3">
  <div class="NED-header">
    <div id="NED-bp7-5-unset-item3_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-5-unset-item3_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>盈利模式</p>
    </div>
    <div id="NED-bp7-5-unset-item3_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PROFIT MODEL</p>
    </div>
  </div>
  <div id="NED-bp7-5-unset-item3_middleLine" class="middleLine" data-type="img">
      <img src="template/7/images/profit_3_line1.png" draggable="false"/>
  </div>
  <div id="NED-bp7-5-unset-item3_line1" class="line1" data-type="img">
      <img src="template/7/images/profit_3_line2.png" draggable="false"/>
  </div>
  <div id="NED-bp7-5-unset-item3_line2" class="line2" data-type="img">
      <img src="template/7/images/profit_3_line2.png" draggable="false"/>
  </div>
  <div id="NED-bp7-5-unset-item3_line3" class="line3" data-type="img">
      <img src="template/7/images/profit_3_line2.png" draggable="false"/>
  </div>
  <div class="letter1">
      <div id="NED-bp7-5-unset-item3_1_title" class="title fontH6" data-type="text" data-field="list1_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item3_1_text" class="text fontText" data-type="text" data-field="list1_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>
  <div class="letter2">
      <div id="NED-bp7-5-unset-item3_2_title" class="title fontH6" data-type="text" data-field="list2_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item3_2_text" class="text fontText" data-type="text" data-field="list2_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>
  <div class="letter3">
      <div id="NED-bp7-5-unset-item2_3_title" class="title fontH6" data-type="text" data-field="list3_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item2_3_text" class="text fontText" data-type="text" data-field="list3_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>

  <div id="NED-bp7-5-unset-item3_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
  </div>
</section>

<section id="NED-bp7-5-unset-item4">
  <div class="NED-header">
    <div id="NED-bp7-5-unset-item4_headerBg" class="headerBg" data-type="img">
      <img src="template/7/images/title.png" draggable="false" />
    </div>

    <div id="NED-bp7-5-unset-item4_headerText" class="headerText fontH1" data-type="text" data-lang="t1">
      <p>盈利模式</p>
    </div>
    <div id="NED-bp7-5-unset-item4_headerTextEn" class="headerTextEn" data-type="text" data-lang="t1">
        <p class="">PROFIT MODEL</p>
    </div>
  </div>
  <div id="NED-bp7-5-unset-item4_middleLine" class="middleLine" data-type="img">
      <img src="template/7/images/profit_4.png" draggable="false"/>
  </div>
  <div class="letter1">
      <div id="NED-bp7-5-unset-item4_1_title" class="title fontH6" data-type="text" data-field="list1_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item4_1_text" class="text fontText" data-type="text" data-field="list1_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>
  <div class="letter2">
      <div id="NED-bp7-5-unset-item4_2_title" class="title fontH6" data-type="text" data-field="list2_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item4_2_text" class="text fontText" data-type="text" data-field="list2_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>
  <div class="letter3">
      <div id="NED-bp7-5-unset-item4_3_title" class="title fontH6" data-type="text" data-field="list3_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item4_3_text" class="text fontText" data-type="text" data-field="list3_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>
  <div class="letter4">
      <div id="NED-bp7-5-unset-item4_4_title" class="title fontH6" data-type="text" data-field="list3_title">
          <p>交易环节</p>
      </div>
      <div id="NED-bp7-5-unset-item4_4_text" class="text fontText" data-type="text" data-field="list3_desc">
          <p>环节多、效率低、参与者多，生产效率非常低，无法即时收到货物</p>
      </div>
  </div>

  <div id="NED-bp7-5-unset-item4_lace" class="lace" data-type="img">
      <img src="template/7/images/front-cover_lace.png" draggable="false" />
  </div>
</section>
