
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-address-book:before { content: '\e803'; } /* '' */
.icon-align-left:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-user-secret:before { content: '\e806'; } /* '' */
.icon-qq:before { content: '\e807'; } /* '' */
.icon-wechat:before { content: '\e808'; } /* '' */
.icon-align-center:before { content: '\e809'; } /* '' */
.icon-align-right:before { content: '\e80a'; } /* '' */
.icon-align-justify:before { content: '\e80b'; } /* '' */
.icon-font:before { content: '\e80c'; } /* '' */
.icon-bold:before { content: '\e80d'; } /* '' */
.icon-italic:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-chart-bar:before { content: '\e812'; } /* '' */
.icon-chart-area:before { content: '\e813'; } /* '' */
.icon-chart-pie:before { content: '\e814'; } /* '' */
.icon-chart-line:before { content: '\e815'; } /* '' */
.icon-trash:before { content: '\e816'; } /* '' */
.icon-floppy:before { content: '\e817'; } /* '' */
.icon-table:before { content: '\e818'; } /* '' */
.icon-doc-text-inv:before { content: '\e819'; } /* '' */
.icon-scissors:before { content: '\e81a'; } /* '' */
.icon-cw:before { content: '\e81c'; } /* '' */
.icon-docs:before { content: '\e81d'; } /* '' */
.icon-plus-1:before { content: '\e81e'; } /* '' */
.icon-th-list:before { content: '\e81f'; } /* '' */
.icon-ccw:before { content: '\e820'; } /* '' */
.icon-export:before { content: '\e821'; } /* '' */
.icon-eye:before { content: '\e822'; } /* '' */
.icon-book:before { content: '\e823'; } /* '' */