@font-face {
  font-family: 'kustyle';
  src: url('../font/kustyle.eot?20632255');
  src: url('../font/kustyle.eot?20632255#iefix') format('embedded-opentype'),
       url('../font/kustyle.woff2?20632255') format('woff2'),
       url('../font/kustyle.woff?20632255') format('woff'),
       url('../font/kustyle.ttf?20632255') format('truetype'),
       url('../font/kustyle.svg?20632255#kustyle') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kustyle';
    src: url('../font/kustyle.svg?20632255#kustyle') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "kustyle";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-address-book:before { content: '\e803'; } /* '' */
.icon-align-left:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-user-secret:before { content: '\e806'; } /* '' */
.icon-qq:before { content: '\e807'; } /* '' */
.icon-wechat:before { content: '\e808'; } /* '' */
.icon-align-center:before { content: '\e809'; } /* '' */
.icon-align-right:before { content: '\e80a'; } /* '' */
.icon-align-justify:before { content: '\e80b'; } /* '' */
.icon-font:before { content: '\e80c'; } /* '' */
.icon-bold:before { content: '\e80d'; } /* '' */
.icon-italic:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-chart-bar:before { content: '\e812'; } /* '' */
.icon-chart-area:before { content: '\e813'; } /* '' */
.icon-chart-pie:before { content: '\e814'; } /* '' */
.icon-chart-line:before { content: '\e815'; } /* '' */
.icon-trash:before { content: '\e816'; } /* '' */
.icon-floppy:before { content: '\e817'; } /* '' */
.icon-table:before { content: '\e818'; } /* '' */
.icon-doc-text-inv:before { content: '\e819'; } /* '' */
.icon-scissors:before { content: '\e81a'; } /* '' */
.icon-cw:before { content: '\e81c'; } /* '' */
.icon-docs:before { content: '\e81d'; } /* '' */
.icon-plus-1:before { content: '\e81e'; } /* '' */
.icon-th-list:before { content: '\e81f'; } /* '' */
.icon-ccw:before { content: '\e820'; } /* '' */
.icon-export:before { content: '\e821'; } /* '' */
.icon-eye:before { content: '\e822'; } /* '' */
.icon-book:before { content: '\e823'; } /* '' */