#NED-bp4-5-unset-item1 .reverseImg,
#NED-bp4-5-unset-item2 .reverseImg,
#NED-bp4-5-unset-item3 .reverseImg,
#NED-bp4-5-unset-item4 .reverseImg {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-5-unset-item1 .headerIcon,
#NED-bp4-5-unset-item2 .headerIcon,
#NED-bp4-5-unset-item3 .headerIcon,
#NED-bp4-5-unset-item4 .headerIcon {
    position: absolute;
    width: 61px;
    height: 54px;
    left: 73px;
    top: 63px;
    z-index: 2;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-5-unset-item1 .headerLine,
#NED-bp4-5-unset-item2 .headerLine,
#NED-bp4-5-unset-item3 .headerLine,
#NED-bp4-5-unset-item4 .headerLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 128px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-5-unset-item1 .headerText,
#NED-bp4-5-unset-item2 .headerText,
#NED-bp4-5-unset-item3 .headerText,
#NED-bp4-5-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 53px;
    top: 60px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp4-5-unset-item1 .middleLine {
    position: absolute;
    width: 60px;
    height: 630px;
    left: 154px;
    top: 180px;
    z-index: 5;
}
#NED-bp4-5-unset-item2 .middleLine,
#NED-bp4-5-unset-item3 .middleLine,
#NED-bp4-5-unset-item4 .middleLine {
    position: absolute;
    width: 60px;
    height: 630px;
    left: 290px;
    top: 180px;
    z-index: 5;
}

/** custom center */
#NED-bp4-5-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 386px;
}
#NED-bp4-5-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 290px;
}
#NED-bp4-5-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 190px;
}
#NED-bp4-5-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 166px;
}

/**
 * Two list item
 */
#NED-bp4-5-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 197px;
}
    #NED-bp4-5-unset-item1 .item1 .titleBox {
        position: absolute;
        width: 298px;
        height: 60px;
        left: 172px;
        top: 0;
        z-index: 5;
    }
    #NED-bp4-5-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 230px;
        top: 13px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-5-unset-item1 .item1 .text {
        position: absolute;
        width: 240px;
        left: 230px;
        top: 65px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp4-5-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 197px;
}
    #NED-bp4-5-unset-item2 .item2 .titleBox {
        position: absolute;
        width: 298px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp4-5-unset-item2 .item2:nth-child(odd) .titleBox {
            left: 309px;
        }
        #NED-bp4-5-unset-item2 .item2:nth-child(even) .titleBox {
            left: 32px;
        }
    #NED-bp4-5-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 13px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-5-unset-item2 .item2:nth-child(odd) .title {
            left: 367px;
            text-align: left;
        }
        #NED-bp4-5-unset-item2 .item2:nth-child(even) .title {
            right: 367px;
            text-align: right;
        }
    #NED-bp4-5-unset-item2 .item2 .text {
        position: absolute;
        width: 240px;
        top: 65px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-5-unset-item2 .item2:nth-child(odd) .text {
            left: 367px;
        }
        #NED-bp4-5-unset-item2 .item2:nth-child(even) .text {
            right: 367px;
        }

/**
 * Three list item
 */
#NED-bp4-5-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 197px;
}
    #NED-bp4-5-unset-item3 .item3 .titleBox {
        position: absolute;
        width: 298px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp4-5-unset-item3 .item3:nth-child(odd) .titleBox {
            left: 309px;
        }
        #NED-bp4-5-unset-item3 .item3:nth-child(even) .titleBox {
            left: 32px;
        }
    #NED-bp4-5-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 13px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-5-unset-item3 .item3:nth-child(odd) .title {
            left: 367px;
            text-align: left;
        }
        #NED-bp4-5-unset-item3 .item3:nth-child(even) .title {
            right: 367px;
            text-align: right;
        }
    #NED-bp4-5-unset-item3 .item3 .text {
        position: absolute;
        width: 240px;
        top: 65px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-5-unset-item3 .item3:nth-child(odd) .text {
            left: 367px;
        }
        #NED-bp4-5-unset-item3 .item3:nth-child(even) .text {
            right: 367px;
        }

/**
 * Four list item
 */
#NED-bp4-5-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 148px;
}
    #NED-bp4-5-unset-item4 .item4 .titleBox {
        position: absolute;
        width: 298px;
        height: 60px;
        top: 0;
        z-index: 5;
    }
        #NED-bp4-5-unset-item4 .item4:nth-child(odd) .titleBox {
            left: 309px;
        }
        #NED-bp4-5-unset-item4 .item4:nth-child(even) .titleBox {
            left: 32px;
        }
    #NED-bp4-5-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 13px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-5-unset-item4 .item4:nth-child(odd) .title {
            left: 367px;
            text-align: left;
        }
        #NED-bp4-5-unset-item4 .item4:nth-child(even) .title {
            right: 367px;
            text-align: right;
        }
    #NED-bp4-5-unset-item4 .item4 .text {
        position: absolute;
        width: 240px;
        top: 65px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-5-unset-item4 .item4:nth-child(odd) .text {
            left: 367px;
        }
        #NED-bp4-5-unset-item4 .item4:nth-child(even) .text {
            right: 367px;
        }
/** bottomCarving */
#NED-bp4-5-unset-item1 .bottomCarving,
#NED-bp4-5-unset-item2 .bottomCarving,
#NED-bp4-5-unset-item3 .bottomCarving,
#NED-bp4-5-unset-item4 .bottomCarving {
    position: absolute;
    width: 640px;
    height: 151px;
    left: 0;
    bottom: 0;
    z-index: 1;
}
