/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-2-unset-item1 .headerIcon,
#NED-bp4-2-unset-item2 .headerIcon,
#NED-bp4-2-unset-item3 .headerIcon,
#NED-bp4-2-unset-item4 .headerIcon {
    position: absolute;
    width: 61px;
    height: 54px;
    left: 73px;
    top: 63px;
    z-index: 2;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-2-unset-item1 .headerLine,
#NED-bp4-2-unset-item2 .headerLine,
#NED-bp4-2-unset-item3 .headerLine,
#NED-bp4-2-unset-item4 .headerLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 128px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-2-unset-item1 .headerText,
#NED-bp4-2-unset-item2 .headerText,
#NED-bp4-2-unset-item3 .headerText,
#NED-bp4-2-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 53px;
    top: 60px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp4-2-unset-item2 .middleImg {
    position: absolute;
    width: 60px;
    height: 152px;
    left: 290px;
    top: 424px;
    z-index: 1;
}
#NED-bp4-2-unset-item3 .middleImg {
    position: absolute;
    width: 60px;
    height: 305px;
    left: 290px;
    top: 346px;
    z-index: 1;
}
#NED-bp4-2-unset-item4 .middleImg {
    position: absolute;
    width: 60px;
    height: 458px;
    left: 290px;
    top: 266px;
    z-index: 1;
}

/** custom center */
#NED-bp4-2-unset-item1 .center,
#NED-bp4-2-unset-item2 .center,
#NED-bp4-2-unset-item3 .center,
#NED-bp4-2-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/**
 * One list item
 */
#NED-bp4-2-unset-item1 .item1 {
    position: absolute;
    width: 276px;
    height: 175px;
    left: 184px;
    top: 408px;
}
    #NED-bp4-2-unset-item1 .titleBox {
        position: absolute;
        width: 276px;
        height: 60px;
        top: 0;
        left: 0;
        z-index: 5;
    }
    #NED-bp4-2-unset-item1 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        left: 46px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-2-unset-item1 .text {
        position: absolute;
        width: 242px;
        top: 66px;
        left: 34px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp4-2-unset-item2 .item2 {
    position: absolute;
    width: 276px;
    height: 175px;
}
    #NED-bp4-2-unset-item2 .item2:nth-child(1) {
        left: 336px;
        top: 396px;
    }
    #NED-bp4-2-unset-item2 .item2:nth-child(2) {
        left: 30px;
        top: 548px;
    }
    #NED-bp4-2-unset-item2 .item2 .titleBox {
        position: absolute;
        width: 276px;
        height: 60px;
        top: 0;
        left: 0;
        z-index: 5;
    }
    #NED-bp4-2-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-2-unset-item2 .item2:nth-child(1) .title {
            left: 46px;
        }
        #NED-bp4-2-unset-item2 .item2:nth-child(2) .title {
            right: 46px;
        }
    #NED-bp4-2-unset-item2 .item2 .text {
        position: absolute;
        width: 242px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-2-unset-item2 .item2:nth-child(1) .text {
            left: 34px;
        }
        #NED-bp4-2-unset-item2 .item2:nth-child(2) .text {
            right: 34px;
        }

/**
 * Three list item
 */
#NED-bp4-2-unset-item3 .item3 {
    position: absolute;
    width: 276px;
    height: 175px;
}
    #NED-bp4-2-unset-item3 .item3:nth-child(1) {
        left: 336px;
        top: 316px;
    }
    #NED-bp4-2-unset-item3 .item3:nth-child(2) {
        left: 30px;
        top: 470px;
    }
    #NED-bp4-2-unset-item3 .item3:nth-child(3) {
        left: 336px;
        top: 620px;
    }
    #NED-bp4-2-unset-item3 .item3 .titleBox {
        position: absolute;
        width: 276px;
        height: 60px;
        top: 0;
        left: 0;
        z-index: 5;
    }
    #NED-bp4-2-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-2-unset-item3 .item3:nth-child(odd) .title {
            left: 46px;
        }
        #NED-bp4-2-unset-item3 .item3:nth-child(even) .title {
            right: 46px;
        }
    #NED-bp4-2-unset-item3 .item3 .text {
        position: absolute;
        width: 242px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-2-unset-item3 .item3:nth-child(odd) .text {
            left: 34px;
        }
        #NED-bp4-2-unset-item3 .item3:nth-child(even) .text {
            right: 34px;
        }

/**
 * Four list item
 */
#NED-bp4-2-unset-item4 .item4 {
    position: absolute;
    width: 276px;
    height: 175px;
}
    #NED-bp4-2-unset-item4 .item4:nth-child(1) {
        left: 336px;
        top: 236px;
    }
    #NED-bp4-2-unset-item4 .item4:nth-child(2) {
        left: 30px;
        top: 388px;
    }
    #NED-bp4-2-unset-item4 .item4:nth-child(3) {
        left: 336px;
        top: 540px;
    }
    #NED-bp4-2-unset-item4 .item4:nth-child(4) {
        left: 30px;
        top: 692px;
    }
    #NED-bp4-2-unset-item4 .item4 .titleBox {
        position: absolute;
        width: 276px;
        height: 60px;
        top: 0;
        left: 0;
        z-index: 5;
    }
    #NED-bp4-2-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 14px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-2-unset-item4 .item4:nth-child(odd) .title {
            left: 46px;
        }
        #NED-bp4-2-unset-item4 .item4:nth-child(even) .title {
            right: 46px;
        }
    #NED-bp4-2-unset-item4 .item4 .text {
        position: absolute;
        width: 242px;
        top: 66px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-2-unset-item4 .item4:nth-child(odd) .text {
            left: 34px;
        }
        #NED-bp4-2-unset-item4 .item4:nth-child(even) .text {
            right: 34px;
        }
