/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-7-unset-item1 .headerIcon,
#NED-bp4-7-unset-item2 .headerIcon,
#NED-bp4-7-unset-item3 .headerIcon,
#NED-bp4-7-unset-item4 .headerIcon {
    position: absolute;
    width: 61px;
    height: 54px;
    left: 73px;
    top: 63px;
    z-index: 2;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-7-unset-item1 .headerLine,
#NED-bp4-7-unset-item2 .headerLine,
#NED-bp4-7-unset-item3 .headerLine,
#NED-bp4-7-unset-item4 .headerLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 128px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-7-unset-item1 .headerText,
#NED-bp4-7-unset-item2 .headerText,
#NED-bp4-7-unset-item3 .headerText,
#NED-bp4-7-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 53px;
    top: 60px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp4-7-unset-item1 .center,
#NED-bp4-7-unset-item2 .center,
#NED-bp4-7-unset-item3 .center,
#NED-bp4-7-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp4-7-unset-item1 .item1 {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 460px;
    left: 0;
}
    #NED-bp4-7-unset-item1 .item1 .titleBox {
        position: absolute;
        width: 109px;
        height: 109px;
        left: 49px;
        top: 0;
        z-index: 5;
    }
    #NED-bp4-7-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 196px;
        top: 0;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
        font-weight: bold;
    }
    #NED-bp4-7-unset-item1 .item1 .text {
        position: absolute;
        width: 365px;
        left: 196px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp4-7-unset-item2 .item2 {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
}
    #NED-bp4-7-unset-item2 .item2:nth-child(1) {
        top: 330px;
    }
    #NED-bp4-7-unset-item2 .item2:nth-child(2) {
        top: 588px;
    }
    #NED-bp4-7-unset-item2 .item2 .titleBox {
        position: absolute;
        width: 109px;
        height: 109px;
        top: 0;
        z-index: 5;
    }
        #NED-bp4-7-unset-item2 .item2:nth-child(odd) .titleBox {
            left: 49px;
        }
        #NED-bp4-7-unset-item2 .item2:nth-child(even) .titleBox {
            right: 48px;
        }
    #NED-bp4-7-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 0;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
        font-weight: bold;
    }
        #NED-bp4-7-unset-item2 .item2:nth-child(odd) .title {
            left: 194px;
        }
        #NED-bp4-7-unset-item2 .item2:nth-child(even) .title {
            right: 194px;
            text-align: right;
        }
    #NED-bp4-7-unset-item2 .item2 .text {
        position: absolute;
        width: 365px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-7-unset-item2 .item2:nth-child(odd) .text {
            left: 194px;
        }
        #NED-bp4-7-unset-item2 .item2:nth-child(even) .text {
            right: 194px;
            text-align: center;
        }

/**
 * Three list item
 */
#NED-bp4-7-unset-item3 .item3 {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
}
    #NED-bp4-7-unset-item3 .item3:nth-child(1) {
        top: 256px;
    }
    #NED-bp4-7-unset-item3 .item3:nth-child(2) {
        top: 458px;
    }
    #NED-bp4-7-unset-item3 .item3:nth-child(3) {
        top: 660px;
    }
    #NED-bp4-7-unset-item3 .item3 .titleBox {
        position: absolute;
        width: 109px;
        height: 109px;
        top: 0;
        z-index: 5;
    }
        #NED-bp4-7-unset-item3 .item3:nth-child(odd) .titleBox {
            left: 49px;
        }
        #NED-bp4-7-unset-item3 .item3:nth-child(even) .titleBox {
            right: 48px;
        }
    #NED-bp4-7-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 0;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
        font-weight: bold;
    }
        #NED-bp4-7-unset-item3 .item3:nth-child(odd) .title {
            left: 194px;
        }
        #NED-bp4-7-unset-item3 .item3:nth-child(even) .title {
            right: 194px;
            text-align: right;
        }
    #NED-bp4-7-unset-item3 .item3 .text {
        position: absolute;
        width: 365px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-7-unset-item3 .item3:nth-child(odd) .text {
            left: 194px;
        }
        #NED-bp4-7-unset-item3 .item3:nth-child(even) .text {
            right: 194px;
            text-align: center;
        }

/**
 * Four list item
 */
#NED-bp4-7-unset-item4 .item4 {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
}
    #NED-bp4-7-unset-item4 .item4:nth-child(1) {
        top: 216px;
    }
    #NED-bp4-7-unset-item4 .item4:nth-child(2) {
        top: 386px;
    }
    #NED-bp4-7-unset-item4 .item4:nth-child(3) {
        top: 556px;
    }
    #NED-bp4-7-unset-item4 .item4:nth-child(4) {
        top: 726px;
    }
    #NED-bp4-7-unset-item4 .item4 .titleBox {
        position: absolute;
        width: 109px;
        height: 109px;
        top: 0;
        z-index: 5;
    }
        #NED-bp4-7-unset-item4 .item4:nth-child(odd) .titleBox {
            left: 49px;
        }
        #NED-bp4-7-unset-item4 .item4:nth-child(even) .titleBox {
            right: 48px;
        }
    #NED-bp4-7-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 0;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
        font-weight: bold;
    }
        #NED-bp4-7-unset-item4 .item4:nth-child(odd) .title {
            left: 194px;
        }
        #NED-bp4-7-unset-item4 .item4:nth-child(even) .title {
            right: 194px;
            text-align: right;
        }
    #NED-bp4-7-unset-item4 .item4 .text {
        position: absolute;
        width: 365px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-7-unset-item4 .item4:nth-child(odd) .text {
            left: 194px;
        }
        #NED-bp4-7-unset-item4 .item4:nth-child(even) .text {
            right: 194px;
            text-align: center;
        }
