/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-8-unset-item1 .headerIcon,
#NED-bp4-8-unset-item2 .headerIcon,
#NED-bp4-8-unset-item3 .headerIcon,
#NED-bp4-8-unset-item4 .headerIcon {
    position: absolute;
    width: 61px;
    height: 54px;
    left: 73px;
    top: 63px;
    z-index: 2;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-8-unset-item1 .headerLine,
#NED-bp4-8-unset-item2 .headerLine,
#NED-bp4-8-unset-item3 .headerLine,
#NED-bp4-8-unset-item4 .headerLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 128px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-8-unset-item1 .headerText,
#NED-bp4-8-unset-item2 .headerText,
#NED-bp4-8-unset-item3 .headerText,
#NED-bp4-8-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 53px;
    top: 60px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp4-8-unset-item1 .middleImg,
#NED-bp4-8-unset-item2 .middleImg,
#NED-bp4-8-unset-item3 .middleImg,
#NED-bp4-8-unset-item4 .middleImg {
    position: absolute;
    width: 134px;
    height: 655px;
    left: 30px;
    top: 226px;
    z-index: 1;
}

/** custom center */
#NED-bp4-8-unset-item1 .center,
#NED-bp4-8-unset-item2 .center,
#NED-bp4-8-unset-item3 .center,
#NED-bp4-8-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
 * One list item
 */
#NED-bp4-8-unset-item1 .item1 {
    position: relative;
    width: 470px;
    height: 120px;
    left: 130px;
    top: 498px;
}
    #NED-bp4-8-unset-item1 .item1 .titleBox {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 24px;
        z-index: 5;
    }
    #NED-bp4-8-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 102px;
        top: 0;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
        font-weight: bold;
    }
    #NED-bp4-8-unset-item1 .item1 .text {
        position: absolute;
        width: 365px;
        left: 102px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp4-8-unset-item2 .item2 {
    position: absolute;
    width: 470px;
    height: 120px;
}
    #NED-bp4-8-unset-item2 .item2:nth-child(1) {
        left: 112px;
        top: 368px;
    }
    #NED-bp4-8-unset-item2 .item2:nth-child(2) {
        left: 116px;
        top: 624px;
    }
    #NED-bp4-8-unset-item2 .item2 .titleBox {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 24px;
        z-index: 5;
    }
    #NED-bp4-8-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 102px;
        top: 0;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
        font-weight: bold;
    }
    #NED-bp4-8-unset-item2 .item2 .text {
        position: absolute;
        width: 365px;
        left: 102px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp4-8-unset-item3 .item3 {
    position: absolute;
    width: 470px;
    height: 120px;
}
    #NED-bp4-8-unset-item3 .item3:nth-child(1) {
        left: 82px;
        top: 290px;
    }
    #NED-bp4-8-unset-item3 .item3:nth-child(2) {
        left: 132px;
        top: 498px;
    }
    #NED-bp4-8-unset-item3 .item3:nth-child(3) {
        left: 88px;
        top: 700px;
    }
    #NED-bp4-8-unset-item3 .item3 .titleBox {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 24px;
        z-index: 5;
    }
    #NED-bp4-8-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 102px;
        top: 0;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
        font-weight: bold;
    }
    #NED-bp4-8-unset-item3 .item3 .text {
        position: absolute;
        width: 365px;
        left: 102px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp4-8-unset-item4 .item4 {
    position: absolute;
    width: 470px;
    height: 120px;
}
    #NED-bp4-8-unset-item4 .item4:nth-child(1) {
        left: 52px;
        top: 236px;
    }
    #NED-bp4-8-unset-item4 .item4:nth-child(2) {
        left: 124px;
        top: 411px;
    }
    #NED-bp4-8-unset-item4 .item4:nth-child(3) {
        left: 124px;
        top: 581px;
    }
    #NED-bp4-8-unset-item4 .item4:nth-child(4) {
        left: 62px;
        top: 751px;
    }
    #NED-bp4-8-unset-item4 .item4 .titleBox {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 24px;
        z-index: 5;
    }
    #NED-bp4-8-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        left: 102px;
        top: 0;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
        font-weight: bold;
    }
    #NED-bp4-8-unset-item4 .item4 .text {
        position: absolute;
        width: 365px;
        left: 102px;
        top: 52px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
