/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-6-unset-item1 .headerIcon,
#NED-bp4-6-unset-item2 .headerIcon,
#NED-bp4-6-unset-item3 .headerIcon,
#NED-bp4-6-unset-item4 .headerIcon {
    position: absolute;
    width: 61px;
    height: 54px;
    left: 73px;
    top: 63px;
    z-index: 2;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-6-unset-item1 .headerLine,
#NED-bp4-6-unset-item2 .headerLine,
#NED-bp4-6-unset-item3 .headerLine,
#NED-bp4-6-unset-item4 .headerLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 128px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-6-unset-item1 .headerText,
#NED-bp4-6-unset-item2 .headerText,
#NED-bp4-6-unset-item3 .headerText,
#NED-bp4-6-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 53px;
    top: 60px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp4-6-unset-item1 .center,
#NED-bp4-6-unset-item2 .center,
#NED-bp4-6-unset-item3 .center,
#NED-bp4-6-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**
* One list item
*/
#NED-bp4-6-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 166px;
    top: 420px;
}
    #NED-bp4-6-unset-item1 .item1 .titleIcon {
        position: absolute;
        width: 59px;
        height: 59px;
        left: 75px;
        top: 0;
        z-index: 5;
    }
    #NED-bp4-6-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        left: 134px;
        top: 12px;
        color: #FF8328;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-6-unset-item1 .item1 .text {
        position: absolute;
        width: 435px;
        left: 134px;
        top: 64px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
* Two list item
*/
#NED-bp4-6-unset-item2 .item2 {
    position: absolute;
    width: 100%;
    height: 166px;
    left: 0;
}
    #NED-bp4-6-unset-item2 .item2:nth-child(1) {
        top: 320px;
    }
    #NED-bp4-6-unset-item2 .item2:nth-child(2) {
        top: 582px;
    }
    #NED-bp4-6-unset-item2 .item2 .titleIcon {
        position: absolute;
        width: 59px;
        height: 59px;
        left: 75px;
        top: 0;
        z-index: 5;
    }
    #NED-bp4-6-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        left: 134px;
        top: 12px;
        color: #FF8328;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-6-unset-item2 .item2 .text {
        position: absolute;
        width: 435px;
        left: 134px;
        top: 64px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Three list item
 */
#NED-bp4-6-unset-item3 .item3 {
    position: absolute;
    width: 100%;
    height: 166px;
    left: 0;
}
    #NED-bp4-6-unset-item3 .item3:nth-child(1) {
        top: 216px;
    }
    #NED-bp4-6-unset-item3 .item3:nth-child(2) {
        top: 416px;
    }
    #NED-bp4-6-unset-item3 .item3:nth-child(3) {
        top: 616px;
    }
    #NED-bp4-6-unset-item3 .item3 .titleIcon {
        position: absolute;
        width: 59px;
        height: 59px;
        left: 75px;
        top: 0;
        z-index: 5;
    }
    #NED-bp4-6-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        left: 134px;
        top: 12px;
        color: #FF8328;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-6-unset-item3 .item3 .text {
        position: absolute;
        width: 435px;
        left: 134px;
        top: 64px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp4-6-unset-item4 .item4 {
    position: absolute;
    width: 100%;
    height: 166px;
    left: 0;
}
    #NED-bp4-6-unset-item4 .item4:nth-child(1) {
        top: 215px;
    }
    #NED-bp4-6-unset-item4 .item4:nth-child(2) {
        top: 365px;
    }
    #NED-bp4-6-unset-item4 .item4:nth-child(3) {
        top: 515px;
    }
    #NED-bp4-6-unset-item4 .item4:nth-child(4) {
        top: 665px;
    }
    #NED-bp4-6-unset-item4 .item4 .titleIcon {
        position: absolute;
        width: 59px;
        height: 59px;
        left: 75px;
        top: 0;
        z-index: 5;
    }
    #NED-bp4-6-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        left: 134px;
        top: 12px;
        color: #FF8328;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-6-unset-item4 .item4 .text {
        position: absolute;
        width: 435px;
        left: 134px;
        top: 64px;
        color: #FFFFFF;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/** bottomCarving */
#NED-bp4-6-unset-item1 .bottomCarving,
#NED-bp4-6-unset-item2 .bottomCarving,
#NED-bp4-6-unset-item3 .bottomCarving,
#NED-bp4-6-unset-item4 .bottomCarving {
    position: absolute;
    width: 640px;
    height: 164px;
    left: 0;
    bottom: 0;
    z-index: 1;
}
