#NED-bp4-1-unset-index .nameBox {
    position: absolute;
    width: 440px;
    height: 122px;
    top: 303px;
    left: 100px;
    z-index: 5;
}
#NED-bp4-1-unset-index .name {
    position: absolute;
    width: 426px;
    top: 342px;
    left: 106px;
    font-size: 42px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    font-weight: bold;
    z-index: 6;
}
#NED-bp4-1-unset-index .intro {
    position: absolute;
    width: 384px;
    top: 461px;
    left: 128px;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.8;
    word-wrap: break-word;
    z-index: 6;
}
