/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp4-9-unset-item1 .headerIcon,
#NED-bp4-9-unset-item2 .headerIcon,
#NED-bp4-9-unset-item3 .headerIcon,
#NED-bp4-9-unset-item4 .headerIcon {
  position: absolute;
  width: 61px;
  height: 54px;
  left: 73px;
  top: 63px;
  z-index: 2;
}

/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp4-9-unset-item1 .headerLine,
#NED-bp4-9-unset-item2 .headerLine,
#NED-bp4-9-unset-item3 .headerLine,
#NED-bp4-9-unset-item4 .headerLine {
  position: absolute;
  width: 640px;
  height: 60px;
  left: 0;
  top: 128px;
  z-index: 1;
}

/** TODO: 目前採用 NED-header 需要修改 */

#NED-bp4-9-unset-item1 .headerText,
#NED-bp4-9-unset-item2 .headerText,
#NED-bp4-9-unset-item3 .headerText,
#NED-bp4-9-unset-item4 .headerText {
  position: absolute;
  width: 200px;
  height: 40px;
  right: 53px;
  top: 60px;
  text-align: left;
  color: #FFFFFF;
  line-height: 1;
  word-wrap: break-word;
  z-index: 6;
}

/** custom center */

#NED-bp4-9-unset-item1 .center {
  position: absolute;
  width: 100%;
  top: 418px;
}
#NED-bp4-9-unset-item2 .center {
  position: absolute;
  width: 100%;
  top: 302px;
}
#NED-bp4-9-unset-item3 .center,
#NED-bp4-9-unset-item4 .center {
  position: absolute;
  width: 100%;
  top: 202px;
}

/**
 * One list item
 */

#NED-bp4-9-unset-item1 .item1 {
  position: relative;
  width: 100%;
  height: 232px;
}
  #NED-bp4-9-unset-item1 .item1 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 84px;
    top: 0;
    z-index: 6;
  }
    #NED-bp4-9-unset-item1 .item1 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
  #NED-bp4-9-unset-item1 .item1 .edge {
    position: absolute;
    width: 495px;
    height: 130px;
    right: 29px;
    top: 0;
    z-index: 5;
  }
  #NED-bp4-9-unset-item1 .item1 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 228px;
    top: 12px;
  }
    #NED-bp4-9-unset-item1 .item1 .name {
      position: absolute;
      width: 130px;
      top: 0;
      color: #FFFFFF;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
    #NED-bp4-9-unset-item1 .item1 .job {
      position: absolute;
      left: 140px;
      top: 0;
      color: #FFC000;
      margin: 0 0 0 30px;
      line-height: 1.8;
      word-wrap: break-word;
      font-size: 24px;
      font-weight: bold;
      z-index: 7;
    }
  #NED-bp4-9-unset-item1 .item1 .text {
    position: absolute;
    width: 361px;
    left: 228px;
    top: 64px;
    color: #E7E7E7;
    text-align: left;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }

/**
 * Two list item
 */

#NED-bp4-9-unset-item2 .item2 {
  position: relative;
  width: 100%;
  height: 232px;
}
  #NED-bp4-9-unset-item2 .item2 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 0;
    z-index: 6;
  }
    #NED-bp4-9-unset-item2 .item2 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
    #NED-bp4-9-unset-item2 .item2:nth-child(even) .role {
      right: 86px;
    }
    #NED-bp4-9-unset-item2 .item2:nth-child(odd) .role {
      left: 84px;
    }
  #NED-bp4-9-unset-item2 .item2 .edge {
    position: absolute;
    width: 495px;
    height: 130px;
    top: 0;
    z-index: 5;
  }
    #NED-bp4-9-unset-item2 .item2:nth-child(even) .edge {
      left: 29px;
    }
    #NED-bp4-9-unset-item2 .item2:nth-child(odd) .edge {
      right: 29px;
    }
  #NED-bp4-9-unset-item2 .item2 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 12px;
  }
    #NED-bp4-9-unset-item2 .item2:nth-child(even) .nameBox {
      right: 228px;
    }
    #NED-bp4-9-unset-item2 .item2:nth-child(odd) .nameBox {
      left: 228px;
    }
    #NED-bp4-9-unset-item2 .item2 .name {
      position: absolute;
      width: 130px;
      top: 0;
      color: #FFFFFF;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
      #NED-bp4-9-unset-item2 .item2:nth-child(odd) .name {
        left: 0;
        text-align: left;
      }
      #NED-bp4-9-unset-item2 .item2:nth-child(even) .name {
        right: 0;
        text-align: right;
      }
    #NED-bp4-9-unset-item2 .item2 .job {
      position: absolute;
      top: 0;
      color: #FFC000;
      line-height: 1.8;
      word-wrap: break-word;
      font-size: 24px;
      font-weight: bold;
      z-index: 7;
    }
      #NED-bp4-9-unset-item2 .item2:nth-child(odd) .job {
        left: 140px;
      }
      #NED-bp4-9-unset-item2 .item2:nth-child(even) .job {
        right: 140px;
      }
  #NED-bp4-9-unset-item2 .item2 .text {
    position: absolute;
    width: 361px;
    top: 64px;
    color: #E7E7E7;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp4-9-unset-item2 .item2:nth-child(even) .text {
      right: 228px;
      text-align: right;
    }
    #NED-bp4-9-unset-item2 .item2:nth-child(odd) .text {
      left: 228px;
      text-align: left;
    }

/**
 * Three list item
 */

#NED-bp4-9-unset-item3 .item3 {
  position: relative;
  width: 100%;
  height: 232px;
}
  #NED-bp4-9-unset-item3 .item3 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 0;
    z-index: 6;
  }
    #NED-bp4-9-unset-item3 .item3 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
    #NED-bp4-9-unset-item3 .item3:nth-child(even) .role {
      right: 86px;
    }
    #NED-bp4-9-unset-item3 .item3:nth-child(odd) .role {
      left: 84px;
    }
  #NED-bp4-9-unset-item3 .item3 .edge {
    position: absolute;
    width: 495px;
    height: 130px;
    top: 0;
    z-index: 5;
  }
    #NED-bp4-9-unset-item3 .item3:nth-child(even) .edge {
      left: 29px;
    }
    #NED-bp4-9-unset-item3 .item3:nth-child(odd) .edge {
      right: 29px;
    }
  #NED-bp4-9-unset-item3 .item3 .nameBox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 12px;
  }
    #NED-bp4-9-unset-item3 .item3:nth-child(even) .nameBox {
      right: 228px;
    }
    #NED-bp4-9-unset-item3 .item3:nth-child(odd) .nameBox {
      left: 228px;
    }
    #NED-bp4-9-unset-item3 .item3 .name {
      position: absolute;
      width: 130px;
      top: 0;
      color: #FFFFFF;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
      #NED-bp4-9-unset-item3 .item3:nth-child(odd) .name {
        left: 0;
      }
      #NED-bp4-9-unset-item3 .item3:nth-child(even) .name {
        right: 0;
        text-align: right;
      }
    #NED-bp4-9-unset-item3 .item3 .job {
      position: absolute;
      top: 0;
      color: #FFC000;
      line-height: 1.8;
      word-wrap: break-word;
      font-size: 24px;
      font-weight: bold;
      z-index: 7;
    }
      #NED-bp4-9-unset-item3 .item3:nth-child(odd) .job {
        left: 140px;
      }
      #NED-bp4-9-unset-item3 .item3:nth-child(even) .job {
        right: 140px;
      }
  #NED-bp4-9-unset-item3 .item3 .text {
    position: absolute;
    width: 361px;
    top: 64px;
    color: #E7E7E7;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp4-9-unset-item3 .item3:nth-child(even) .text {
      right: 228px;
      text-align: right;
    }
    #NED-bp4-9-unset-item3 .item3:nth-child(odd) .text {
      left: 228px;
      text-align: left;
    }

/**
 * Four list item
 */

#NED-bp4-9-unset-item4 .item4 {
  position: relative;
  width: 100%;
  height: 174px;
}
  #NED-bp4-9-unset-item4 .item4 .role {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 0;
    z-index: 6;
  }
    #NED-bp4-9-unset-item4 .item4 .role img {
      border-radius: 50%;
      background-color: #FFFFFF;
      overflow: hidden;
    }
    #NED-bp4-9-unset-item4 .item4:nth-child(even) .role {
      right: 86px;
    }
    #NED-bp4-9-unset-item4 .item4:nth-child(odd) .role {
      left: 84px;
    }
  #NED-bp4-9-unset-item4 .item4 .edge {
    position: absolute;
    width: 495px;
    height: 130px;
    top: 0;
    z-index: 5;
  }
    #NED-bp4-9-unset-item4 .item4:nth-child(even) .edge {
      left: 29px;
    }
    #NED-bp4-9-unset-item4 .item4:nth-child(odd) .edge {
      right: 29px;
    }
    #NED-bp4-9-unset-item4 .item4 .nameBox {
      position: absolute;
      width: 300px;
      height: 40px;
      top: 12px;
    }
      #NED-bp4-9-unset-item4 .item4:nth-child(even) .nameBox {
        right: 228px;
      }
      #NED-bp4-9-unset-item4 .item4:nth-child(odd) .nameBox {
        left: 228px;
      }
    #NED-bp4-9-unset-item4 .item4 .name {
      position: absolute;
      width: 130px;
      top: 0;
      color: #FFFFFF;
      line-height: 1;
      word-wrap: break-word;
      z-index: 7;
    }
      #NED-bp4-9-unset-item4 .item4:nth-child(odd) .name {
        left: 0;
      }
      #NED-bp4-9-unset-item4 .item4:nth-child(even) .name {
        right: 0;
        text-align: right;
      }
    #NED-bp4-9-unset-item4 .item4 .job {
      position: absolute;
      top: 0;
      color: #FFC000;
      line-height: 1.8;
      word-wrap: break-word;
      font-size: 24px;
      font-weight: bold;
      z-index: 7;
    }
      #NED-bp4-9-unset-item4 .item4:nth-child(odd) .job {
        left: 140px;
      }
      #NED-bp4-9-unset-item4 .item4:nth-child(even) .job {
        right: 140px;
      }
  #NED-bp4-9-unset-item4 .item4 .text {
    position: absolute;
    width: 361px;
    top: 64px;
    color: #E7E7E7;
    line-height: 1.25;
    word-wrap: break-word;
    z-index: 7;
  }
    #NED-bp4-9-unset-item4 .item4:nth-child(even) .text {
      right: 228px;
      text-align: right;
    }
    #NED-bp4-9-unset-item4 .item4:nth-child(odd) .text {
      left: 228px;
      text-align: left;
    }

/** bottomCarving */

#NED-bp4-9-unset-item1 .bottomCarving,
#NED-bp4-9-unset-item2 .bottomCarving,
#NED-bp4-9-unset-item3 .bottomCarving,
#NED-bp4-9-unset-item4 .bottomCarving {
  position: absolute;
  width: 640px;
  height: 109px;
  left: 0;
  bottom: 0;
  z-index: 1;
}
