/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-3-unset-item1 .headerIcon,
#NED-bp4-3-unset-item2 .headerIcon,
#NED-bp4-3-unset-item3 .headerIcon,
#NED-bp4-3-unset-item4 .headerIcon {
    position: absolute;
    width: 61px;
    height: 54px;
    left: 73px;
    top: 63px;
    z-index: 2;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-3-unset-item1 .headerLine,
#NED-bp4-3-unset-item2 .headerLine,
#NED-bp4-3-unset-item3 .headerLine,
#NED-bp4-3-unset-item4 .headerLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 128px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-3-unset-item1 .headerText,
#NED-bp4-3-unset-item2 .headerText,
#NED-bp4-3-unset-item3 .headerText,
#NED-bp4-3-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 53px;
    top: 60px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** custom center */
#NED-bp4-3-unset-item1 .center {
    position: absolute;
    width: 100%;
    top: 386px;
}
#NED-bp4-3-unset-item2 .center {
    position: absolute;
    width: 100%;
    top: 282px;
}
#NED-bp4-3-unset-item3 .center {
    position: absolute;
    width: 100%;
    top: 186px;
}
#NED-bp4-3-unset-item4 .center {
    position: absolute;
    width: 100%;
    top: 194px;
}

/**
 * One list item
 */
#NED-bp4-3-unset-item1 .item1 {
    position: relative;
    width: 100%;
    height: 220px;
}
    #NED-bp4-3-unset-item1 .item1 .box {
        position: absolute;
        width: 282px;
        height: 189px;
        left: 180px;
        top: 0;
        z-index: 5;
    }
    #NED-bp4-3-unset-item1 .item1 .title {
        position: absolute;
        width: 200px;
        top: 20px;
        left: 204px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-3-unset-item1 .item1 .text {
        position: absolute;
        width: 240px;
        left: 204px;
        top: 80px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Two list item
 */
#NED-bp4-3-unset-item2 .item2 {
    position: relative;
    width: 100%;
    height: 189px;
}
    #NED-bp4-3-unset-item2 .item2:nth-child(1) {
        top: 0;
    }
    #NED-bp4-3-unset-item2 .item2:nth-child(2) {
        top: 19px;
    }
    #NED-bp4-3-unset-item2 .item2 .box {
        position: absolute;
        width: 282px;
        height: 189px;
        top: 0;
        z-index: 5;
    }
        #NED-bp4-3-unset-item2 .item2:nth-child(even) .box {
            left: 30px;
        }
        #NED-bp4-3-unset-item2 .item2:nth-child(odd) .box {
            right: 30px;
        }
    #NED-bp4-3-unset-item2 .item2 .title {
        position: absolute;
        width: 200px;
        top: 18px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-3-unset-item2 .item2:nth-child(even) .title {
            left: 54px;
        }
        #NED-bp4-3-unset-item2 .item2:nth-child(odd) .title {
            left: 352px;
        }
    #NED-bp4-3-unset-item2 .item2 .text {
        position: absolute;
        width: 240px;
        top: 80px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-3-unset-item2 .item2:nth-child(even) .text {
            left: 54px;
        }
        #NED-bp4-3-unset-item2 .item2:nth-child(odd) .text {
            left: 352px;
        }

/**
 * Three list item
 */
#NED-bp4-3-unset-item3 .item3 {
    position: relative;
    width: 100%;
    height: 220px;
}
    #NED-bp4-3-unset-item3 .item3 .box {
        position: absolute;
        width: 282px;
        height: 189px;
        left: 180px;
        top: 0;
        z-index: 5;
    }
    #NED-bp4-3-unset-item3 .item3 .title {
        position: absolute;
        width: 200px;
        top: 20px;
        left: 204px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-3-unset-item3 .item3 .text {
        position: absolute;
        width: 240px;
        left: 204px;
        top: 80px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }

/**
 * Four list item
 */
#NED-bp4-3-unset-item4 .item4 {
    position: relative;
    width: 100%;
    height: 189px;
}
    #NED-bp4-3-unset-item4 .item4:nth-child(1) {
        top: 0;
    }
    #NED-bp4-3-unset-item4 .item4:nth-child(2) {
        top: -85px;
    }
    #NED-bp4-3-unset-item4 .item4:nth-child(3) {
        top: -67px;
    }
    #NED-bp4-3-unset-item4 .item4:nth-child(4) {
        top: -152px;
    }
    #NED-bp4-3-unset-item4 .item4 .box {
        position: absolute;
        width: 282px;
        height: 189px;
        top: 0;
        z-index: 5;
    }
        #NED-bp4-3-unset-item4 .item4:nth-child(odd) .box {
            left: 30px;
        }
        #NED-bp4-3-unset-item4 .item4:nth-child(even) .box {
            right: 30px;
        }
    #NED-bp4-3-unset-item4 .item4 .title {
        position: absolute;
        width: 200px;
        top: 18px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-3-unset-item4 .item4:nth-child(odd) .title {
            left: 54px;
        }
        #NED-bp4-3-unset-item4 .item4:nth-child(even) .title {
            left: 352px;
        }
    #NED-bp4-3-unset-item4 .item4 .text {
        position: absolute;
        width: 240px;
        top: 80px;
        color: #E7E7E7;
        line-height: 1.25;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-3-unset-item4 .item4:nth-child(odd) .text {
            left: 54px;
        }
        #NED-bp4-3-unset-item4 .item4:nth-child(even) .text {
            left: 352px;
        }
/** bottomCarving */
#NED-bp4-3-unset-item1 .bottomCarving,
#NED-bp4-3-unset-item2 .bottomCarving,
#NED-bp4-3-unset-item3 .bottomCarving,
#NED-bp4-3-unset-item4 .bottomCarving {
    position: absolute;
    width: 640px;
    height: 151px;
    left: 0;
    bottom: 0;
    z-index: 1;
}
