/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-4-unset-introduction .headerIcon {
    position: absolute;
    width: 61px;
    height: 54px;
    left: 73px;
    top: 63px;
    z-index: 2;
}
#NED-bp4-4-unset-introduction .headerLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 128px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-4-unset-introduction .headerText {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 53px;
    top: 60px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/** middle image */
#NED-bp4-4-unset-introduction .middleImg {
    position: absolute;
    width: 480px;
    height: 240px;
    left: 80px;
    top: 200px;
    z-index: 1;
}
/** middle image */
#NED-bp4-4-unset-introduction .introduction {
    position: absolute;
    width: 484px;
    left: 76px;
    top: 480px;
    color: #FFFFFF;
    z-index: 6;
}
