/**
 * top carving
 */
#NED-bp4-10-unset-item1 .topCarving,
#NED-bp4-10-unset-item2 .topCarving,
#NED-bp4-10-unset-item3 .topCarving,
#NED-bp4-10-unset-item4 .topCarving {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 0;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-10-unset-item1 .headerIcon,
#NED-bp4-10-unset-item2 .headerIcon,
#NED-bp4-10-unset-item3 .headerIcon,
#NED-bp4-10-unset-item4 .headerIcon {
    position: absolute;
    width: 61px;
    height: 54px;
    left: 73px;
    top: 63px;
    z-index: 2;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-10-unset-item1 .headerLine,
#NED-bp4-10-unset-item2 .headerLine,
#NED-bp4-10-unset-item3 .headerLine,
#NED-bp4-10-unset-item4 .headerLine {
    position: absolute;
    width: 640px;
    height: 60px;
    left: 0;
    top: 128px;
    z-index: 1;
}
/** TODO: 目前採用 NED-header 需要修改 */
#NED-bp4-10-unset-item1 .headerText,
#NED-bp4-10-unset-item2 .headerText,
#NED-bp4-10-unset-item3 .headerText,
#NED-bp4-10-unset-item4 .headerText {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 53px;
    top: 60px;
    text-align: left;
    color: #FFFFFF;
    line-height: 1;
    word-wrap: break-word;
    z-index: 6;
}

/**
 * The custom description area
 */
#NED-bp4-10-unset-item1 .description,
#NED-bp4-10-unset-item2 .description,
#NED-bp4-10-unset-item3 .description,
#NED-bp4-10-unset-item4 .description {
    position: absolute;
    width: 100%;
    height: 129px;
    top: 192px;
}
    #NED-bp4-10-unset-item1 .description .descriptionText,
    #NED-bp4-10-unset-item2 .description .descriptionText,
    #NED-bp4-10-unset-item3 .description .descriptionText,
    #NED-bp4-10-unset-item4 .description .descriptionText {
        position: absolute;
        width: 440px;
        top: 46px;
        left: 100px;
        text-align: center;
        color: #FFFFFF;
        line-height: 1;
        font-size: 28px;
        z-index: 6;
    }

/** custom center */
#NED-bp4-10-unset-item1 .center,
#NED-bp4-10-unset-item2 .center,
#NED-bp4-10-unset-item3 .center,
#NED-bp4-10-unset-item4 .center {
    position: absolute;
    width: 100%;
    height: 632px;
    top: 321px;
}
    #NED-bp4-10-unset-item1 .center .centerImg {
        position: absolute;
        width: 286px;
        height: 286px;
        top: 27px;
        left: 220px;
        z-index: 2;
    }
    #NED-bp4-10-unset-item2 .center .centerImg {
        position: absolute;
        width: 287px;
        height: 287px;
        top: 71px;
        left: 178px;
        z-index: 2;
    }
    #NED-bp4-10-unset-item3 .center .centerImg {
        position: absolute;
        width: 336px;
        height: 336px;
        top: 130px;
        left: 152px;
        z-index: 2;
    }
    #NED-bp4-10-unset-item4 .center .centerImg {
        position: absolute;
        width: 336px;
        height: 336px;
        top: 103px;
        left: 152px;
        z-index: 2;
    }

/**
 * One list item
 */
#NED-bp4-10-unset-item1 .item1 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp4-10-unset-item1 .item1 .title {
        position: absolute;
        left: 68px;
        top: 299px;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-10-unset-item1 .item1 .textLine {
        position: absolute;
        width: 142px;
        height: 3px;
        left: 68px;
        top: 345px;
        background-color: #FF8427;
        z-index: 5;
    }
    #NED-bp4-10-unset-item1 .item1 .text {
        position: absolute;
        left: 68px;
        top: 360px;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
    #NED-bp4-10-unset-item1 .item1 .thumb {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 202px;
        top: 214px;
        z-index: 5;
    }

/**
 * Two list item
 */
#NED-bp4-10-unset-item2 .item2 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp4-10-unset-item2 .item2 .title {
        position: absolute;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-10-unset-item2 .item2:nth-child(1) .title {
            left: 416px;
            top: 361px;
        }
        #NED-bp4-10-unset-item2 .item2:nth-child(2) .title {
            left: 30px;
            top: 361px;
        }
    #NED-bp4-10-unset-item2 .item2 .textLine {
        position: absolute;
        width: 142px;
        height: 3px;
        background-color: #FF8427;
        z-index: 5;
    }
        #NED-bp4-10-unset-item2 .item2:nth-child(1) .textLine {
            left: 416px;
            top: 407px;
        }
        #NED-bp4-10-unset-item2 .item2:nth-child(2) .textLine {
            left: 30px;
            top: 407px;
        }
    #NED-bp4-10-unset-item2 .item2 .text {
        position: absolute;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-10-unset-item2 .item2:nth-child(1) .text {
            left: 416px;
            top: 422px;
        }
        #NED-bp4-10-unset-item2 .item2:nth-child(2) .text {
            left: 30px;
            top: 422px;
        }
    #NED-bp4-10-unset-item2 .item2 .thumb {
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp4-10-unset-item2 .item2:nth-child(1) .thumb {
            left: 420px;
            top: 259px;
        }
        #NED-bp4-10-unset-item2 .item2:nth-child(2) .thumb {
            left: 160px;
            top: 259px;
        }

/**
 * Three list item
 */
#NED-bp4-10-unset-item3 .item3 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp4-10-unset-item3 .item3 .title {
        position: absolute;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-10-unset-item3 .item3:nth-child(1) .title {
            left: 248px;
            top: 2px;
        }
        #NED-bp4-10-unset-item3 .item3:nth-child(2) .title {
            left: 417px;
            top: 453px;
        }
        #NED-bp4-10-unset-item3 .item3:nth-child(3) .title {
            left: 30px;
            top: 453px;
        }
    #NED-bp4-10-unset-item3 .item3 .textLine {
        position: absolute;
        width: 142px;
        height: 3px;
        background-color: #FF8427;
        z-index: 5;
    }
        #NED-bp4-10-unset-item3 .item3:nth-child(1) .textLine {
            left: 248px;
            top: 48px;
        }
        #NED-bp4-10-unset-item3 .item3:nth-child(2) .textLine {
            left: 417px;
            top: 499px;
        }
        #NED-bp4-10-unset-item3 .item3:nth-child(3) .textLine {
            left: 30px;
            top: 499px;
        }
    #NED-bp4-10-unset-item3 .item3 .text {
        position: absolute;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-10-unset-item3 .item3:nth-child(1) .text {
            left: 248px;
            top: 61px;
        }
        #NED-bp4-10-unset-item3 .item3:nth-child(2) .text {
            left: 417px;
            top: 514px;
        }
        #NED-bp4-10-unset-item3 .item3:nth-child(3) .text {
            left: 30px;
            top: 514px;
        }
    #NED-bp4-10-unset-item3 .item3 .thumb {
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp4-10-unset-item3 .item3:nth-child(1) .thumb {
            left: 290px;
            top: 99px;
        }
        #NED-bp4-10-unset-item3 .item3:nth-child(2) .thumb {
            left: 442px;
            top: 353px;
        }
        #NED-bp4-10-unset-item3 .item3:nth-child(3) .thumb {
            left: 138px;
            top: 353px;
        }

/**
 * Four list item
 */
#NED-bp4-10-unset-item4 .item4 {
    position: absolute;
    width: 100%;
    height: 100%;
}
    #NED-bp4-10-unset-item4 .item4 .title {
        position: absolute;
        color: #FFFFFF;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-10-unset-item4 .item4:nth-child(1) .title {
            left: 30px;
            top: 0;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(2) .title {
            left: 419px;
            top: 0;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(3) .title {
            left: 419px;
            top: 442px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(4) .title {
            left: 30px;
            top: 442px;
        }
    #NED-bp4-10-unset-item4 .item4 .textLine {
        position: absolute;
        width: 142px;
        height: 3px;
        background-color: #FF8427;
        z-index: 5;
    }
        #NED-bp4-10-unset-item4 .item4:nth-child(1) .textLine {
            left: 30px;
            top: 46px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(2) .textLine {
            left: 419px;
            top: 46px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(3) .textLine {
            left: 419px;
            top: 488px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(4) .textLine {
            left: 30px;
            top: 488px;
        }
    #NED-bp4-10-unset-item4 .item4 .text {
        position: absolute;
        color: #FF8427;
        line-height: 1;
        word-wrap: break-word;
        z-index: 6;
    }
        #NED-bp4-10-unset-item4 .item4:nth-child(1) .text {
            left: 30px;
            top: 61px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(2) .text {
            left: 419px;
            top: 61px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(3) .text {
            left: 419px;
            top: 503px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(4) .text {
            left: 30px;
            top: 503px;
        }
    #NED-bp4-10-unset-item4 .item4 .thumb {
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
    }
        #NED-bp4-10-unset-item4 .item4:nth-child(1) .thumb {
            left: 161px;
            top: 114px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(2) .thumb {
            right: 167px;
            top: 118px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(3) .thumb {
            right: 167px;
            top: 356px;
        }
        #NED-bp4-10-unset-item4 .item4:nth-child(4) .thumb {
            left: 161px;
            top: 356px;
        }
