#NED-bp4-1-unset-index,
#NED-bp4-2-unset-item1,
#NED-bp4-2-unset-item2,
#NED-bp4-2-unset-item3,
#NED-bp4-2-unset-item4,
#NED-bp4-3-unset-item1,
#NED-bp4-3-unset-item2,
#NED-bp4-3-unset-item3,
#NED-bp4-3-unset-item4,
#NED-bp4-4-unset-introduction,
#NED-bp4-5-unset-item1,
#NED-bp4-5-unset-item2,
#NED-bp4-5-unset-item3,
#NED-bp4-5-unset-item4,
#NED-bp4-6-unset-item1,
#NED-bp4-6-unset-item2,
#NED-bp4-6-unset-item3,
#NED-bp4-6-unset-item4,
#NED-bp4-7-unset-item1,
#NED-bp4-7-unset-item2,
#NED-bp4-7-unset-item3,
#NED-bp4-7-unset-item4,
#NED-bp4-8-unset-item1,
#NED-bp4-8-unset-item2,
#NED-bp4-8-unset-item3,
#NED-bp4-8-unset-item4,
#NED-bp4-9-unset-item1,
#NED-bp4-9-unset-item2,
#NED-bp4-9-unset-item3,
#NED-bp4-9-unset-item4,
#NED-bp4-10-unset-item1,
#NED-bp4-10-unset-item2,
#NED-bp4-10-unset-item3,
#NED-bp4-10-unset-item4 {
    font-family: Microsoft YaHei;
}
/**
 * fontfont1
 */
#NED-bp4-2-unset-item1 .fontH1,
#NED-bp4-2-unset-item2 .fontH1,
#NED-bp4-2-unset-item3 .fontH1,
#NED-bp4-2-unset-item4 .fontH1,
#NED-bp4-3-unset-item1 .fontH1,
#NED-bp4-3-unset-item2 .fontH1,
#NED-bp4-3-unset-item3 .fontH1,
#NED-bp4-3-unset-item4 .fontH1,
#NED-bp4-4-unset-introduction .fontH1,
#NED-bp4-5-unset-item1 .fontH1,
#NED-bp4-5-unset-item2 .fontH1,
#NED-bp4-5-unset-item3 .fontH1,
#NED-bp4-5-unset-item4 .fontH1,
#NED-bp4-6-unset-item1 .fontH1,
#NED-bp4-6-unset-item2 .fontH1,
#NED-bp4-6-unset-item3 .fontH1,
#NED-bp4-6-unset-item4 .fontH1,
#NED-bp4-7-unset-item1 .fontH1,
#NED-bp4-7-unset-item2 .fontH1,
#NED-bp4-7-unset-item3 .fontH1,
#NED-bp4-7-unset-item4 .fontH1,
#NED-bp4-8-unset-item1 .fontH1,
#NED-bp4-8-unset-item2 .fontH1,
#NED-bp4-8-unset-item3 .fontH1,
#NED-bp4-8-unset-item4 .fontH1,
#NED-bp4-9-unset-item1 .fontH1,
#NED-bp4-9-unset-item2 .fontH1,
#NED-bp4-9-unset-item3 .fontH1,
#NED-bp4-9-unset-item4 .fontH1,
#NED-bp4-10-unset-item1 .fontH1,
#NED-bp4-10-unset-item2 .fontH1,
#NED-bp4-10-unset-item3 .fontH1,
#NED-bp4-10-unset-item4 .fontH1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}
/**
 * fontfont2
 */
#NED-bp4-2-unset-item1 .fontH6,
#NED-bp4-2-unset-item2 .fontH6,
#NED-bp4-2-unset-item3 .fontH6,
#NED-bp4-2-unset-item4 .fontH6,
#NED-bp4-3-unset-item1 .fontH6,
#NED-bp4-3-unset-item2 .fontH6,
#NED-bp4-3-unset-item3 .fontH6,
#NED-bp4-3-unset-item4 .fontH6,
#NED-bp4-4-unset-introduction .fontH6,
#NED-bp4-5-unset-item1 .fontH6,
#NED-bp4-5-unset-item2 .fontH6,
#NED-bp4-5-unset-item3 .fontH6,
#NED-bp4-5-unset-item4 .fontH6,
#NED-bp4-6-unset-item1 .fontH6,
#NED-bp4-6-unset-item2 .fontH6,
#NED-bp4-6-unset-item3 .fontH6,
#NED-bp4-6-unset-item4 .fontH6,
#NED-bp4-7-unset-item1 .fontH6,
#NED-bp4-7-unset-item2 .fontH6,
#NED-bp4-7-unset-item3 .fontH6,
#NED-bp4-7-unset-item4 .fontH6,
#NED-bp4-8-unset-item1 .fontH6,
#NED-bp4-8-unset-item2 .fontH6,
#NED-bp4-8-unset-item3 .fontH6,
#NED-bp4-8-unset-item4 .fontH6,
#NED-bp4-9-unset-item1 .fontH6,
#NED-bp4-9-unset-item2 .fontH6,
#NED-bp4-9-unset-item3 .fontH6,
#NED-bp4-9-unset-item4 .fontH6,
#NED-bp4-10-unset-item1 .fontH6,
#NED-bp4-10-unset-item2 .fontH6,
#NED-bp4-10-unset-item3 .fontH6,
#NED-bp4-10-unset-item4 .fontH6 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
}
/**
 * normal font size
 */
#NED-bp4-2-unset-item1 .fontText,
#NED-bp4-2-unset-item2 .fontText,
#NED-bp4-2-unset-item3 .fontText,
#NED-bp4-2-unset-item4 .fontText,
#NED-bp4-3-unset-item1 .fontText,
#NED-bp4-3-unset-item2 .fontText,
#NED-bp4-3-unset-item3 .fontText,
#NED-bp4-3-unset-item4 .fontText,
#NED-bp4-4-unset-introduction .fontText,
#NED-bp4-5-unset-item1 .fontText,
#NED-bp4-5-unset-item2 .fontText,
#NED-bp4-5-unset-item3 .fontText,
#NED-bp4-5-unset-item4 .fontText,
#NED-bp4-6-unset-item1 .fontText,
#NED-bp4-6-unset-item2 .fontText,
#NED-bp4-6-unset-item3 .fontText,
#NED-bp4-6-unset-item4 .fontText,
#NED-bp4-7-unset-item1 .fontText,
#NED-bp4-7-unset-item2 .fontText,
#NED-bp4-7-unset-item3 .fontText,
#NED-bp4-7-unset-item4 .fontText,
#NED-bp4-8-unset-item1 .fontText,
#NED-bp4-8-unset-item2 .fontText,
#NED-bp4-8-unset-item3 .fontText,
#NED-bp4-8-unset-item4 .fontText,
#NED-bp4-9-unset-item1 .fontText,
#NED-bp4-9-unset-item2 .fontText,
#NED-bp4-9-unset-item3 .fontText,
#NED-bp4-9-unset-item4 .fontText,
#NED-bp4-10-unset-item1 .fontText,
#NED-bp4-10-unset-item2 .fontText,
#NED-bp4-10-unset-item3 .fontText,
#NED-bp4-10-unset-item4 .fontText {
    font-size: 24px;
}
